// author : Jeong EuiChan @ pionnet    with    SASS






// 도형 및 배경
$c_main : #191919;
$c_fig_point : #F9E547;
$c_light : #f1f1f1;
$c_gray : #ddd;
$c_white : #fff;
$c_point : #FF1E00;
$c_yellow : #FCC718;
$c_lyellow:$c_fig_point;

// 텍스트
$c_txt_point : #ff1e00;
$c_txt_black : #191919;
$c_txt_gray : #505050;
$c_txt_light : #8e8e8e;
$c_txt_white : #fff;
$c_txt_yellow:#F9E547;
$c_txt_slight:#ddd;
.red{color:$c_txt_point;}



//etc - 디자인에 확인필요
$c_rblack:#000;
$c_contback:#f9f9f9;
$c_contblue:#F9FAFB;
$c_tborder:#979797;
$c_grayblue:#F8F8FA;
$c_dgray:#505050;
$c_lgray:#8e8e8e;
$c_lblack:#232323;
$c_pink:#FFF8F8;


$c_txt_bbb:#bbb;



// 통합몰 사용 변수 old.scss
$point_color_txt : $c_txt_point;
$point_color_bg : $c_main;