// author : Jeong EuiChan @ pionnet    with    SASS






@mixin dash($xBtnWid,$xBtnHei,$xBtnColor) {
	$_width:$xBtnWid;
	$_height:$xBtnHei;
	&:before{display:block;content:'';position:absolute;top:0;bottom:0;right:0;width:$_width;height:$_height;margin:auto 0;transform:rotate(0);-webkit-transform:rotate(0);background:$xBtnColor;}
}

@mixin cross($xBtnWid,$xBtnHei,$xBtnColor) {
	$_width:$xBtnWid;
	$_height:$xBtnHei;
	&:before{display:block;content:'';position:absolute;top:0;bottom:0;right:0;width:$_width;height:$_height;margin:auto 0;transform:rotate(0);-webkit-transform:rotate(0);background:$xBtnColor;}
	&:after{display:block;content:'';position:absolute;top:0;bottom:0;right:0;width:$_width;height:$_height;margin:auto 0;transform:rotate(90deg);-webkit-transform:rotate(90deg);background:$xBtnColor;}
}
@mixin crossX($xBtnWid,$xBtnHei,$xBtnColor) {
	$_width:$xBtnWid;
	$_height:$xBtnHei;
	&:before{display:block;content:'';position:absolute;top:0;bottom:0;right:0;width:$_width;height:$_height;margin:auto 0;transform:rotate(45deg);-webkit-transform:rotate(45);background:$xBtnColor;}
	&:after{display:block;content:'';position:absolute;top:0;bottom:0;right:0;width:$_width;height:$_height;margin:auto 0;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);background:$xBtnColor;}
}

@mixin downArr($arrowWid,$arrowHei,$bdrColor){
	&:after{position:absolute;top:-$arrowHei/2;bottom:0;left:0;right:0;display:block;content:'';width:$arrowWid;height:$arrowHei;margin:auto;border:2px solid $bdrColor;border-width:1px 1px 0 0;transform:rotate(135deg);-webkit-transform:rotate(135deg);background:none;}
}


@mixin upArr($arrowWid,$arrowHei,$bdrColor){
	&:after{position:absolute;top:$arrowHei/2;bottom:0;left:0;right:0;display:block;content:'';width:$arrowWid;height:$arrowHei;margin:auto;border:2px solid $bdrColor;border-width:1px 1px 0 0;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);background:none;}
}

@mixin rightArr($arrowWid,$arrowHei,$bdrColor){
	&:after{position:absolute;top:$arrowHei/2;bottom:0;left:0;right:0;display:block;content:'';width:$arrowWid;height:$arrowHei;margin:auto;border:2px solid $bdrColor;border-width:1px 1px 0 0;transform:rotate(45deg);-webkit-transform:rotate(45deg);background:none;}
}

@mixin dashRightArr($arrowWid,$arrowHei,$bdrColor,$_width,$_height){
	&:before{display:block;content:'';position:absolute;top:0;bottom:0;right:0;width:$_width;height:$_height;margin:auto 0;transform:rotate(0);-webkit-transform:rotate(0);background:$bdrColor;}
	&:after{position:absolute;top:$arrowHei/2;bottom:0;left:0;right:0;display:block;content:'';width:$arrowWid;height:$arrowHei;margin:auto;border:2px solid $bdrColor;border-width:1px 1px 0 0;transform:rotate(45deg);-webkit-transform:rotate(45deg);background:none;}
}


@mixin dashLeftArr($arrowWid,$arrowHei,$bdrColor,$_width,$_height){
	&:before{display:block;content:'';position:absolute;top:0;bottom:0;right:0;width:$_width;height:$_height;margin:auto 0;transform:rotate(0);-webkit-transform:rotate(0);background:$bdrColor;}
	&:after{position:absolute;top:$arrowHei/2;bottom:0;left:0;right:0;display:block;content:'';width:$arrowWid;height:$arrowHei;margin:auto;border:2px solid $bdrColor;border-width:0 0 1px 1px;transform:rotate(45deg);-webkit-transform:rotate(45deg);background:none;}
}

@mixin topTriangle($size, $color){width:0;height:0;border-top:0;border-left:$size solid transparent;border-right:$size solid transparent;border-bottom:$size solid $color;}
@mixin rightTriangle($size, $color){width:0;height:0;border-right:($size - 2) solid transparent;border-top:($size - 2) solid transparent;border-bottom:($size - 2) solid transparent;border-left:$size solid $color;}






//search.scss에서 사용
// up , down , left , right 화살표 표시
@mixin moveArrow($arrowWid,$arrowHei,$bdrSize,$bdrColor,$deg){
	&:after {position:absolute;top:50%;right:1px;display:block;content:'';width:$arrowWid;height:$arrowHei;margin:-4px 0 0 0;border:$bdrSize solid $bdrColor;border-width:$bdrSize $bdrSize 0 0;transform:rotate($deg);-webkit-transform:rotate($deg);}
}
@mixin cssPlus($xBtnWid,$xBtnHei,$xBtnColor) {
	$_width:$xBtnWid;
	$_height:$xBtnHei;
	&:before{display:block;content:'';position:absolute;top:0;bottom:0;right:24px;width:$_width;height:$_height;margin:auto 0;transform:rotate(0);-webkit-transform:rotate(0);background:$xBtnColor;}
	&:after{display:block;content:'';position:absolute;top:0;bottom:0;right:24px;width:$_width;height:$_height;margin:auto 0;transform:rotate(90deg);-webkit-transform:rotate(90deg);background:$xBtnColor;}
}
