// author : Jeong EuiChan @ pionnet    with    SASS






@font-face {
  font-family:'Mukta';
  font-style:normal;
  font-weight:400;
  src:url(../../../font/Mukta-Light.eot);
  src:url(../../../font/Mukta-Light.eot?#iefix) format('embedded-opentype'),
       url(../../../font/Mukta-Light.woff2) format('woff2'),
       url(../../../font/Mukta-Light.woff) format('woff'),
       url(../../../font/Mukta-Light.ttf) format('truetype');
}

@font-face {
  font-family:'Mukta';
  font-style:normal;
  font-weight:600;
  src:url(../../../font/Mukta-SemiBold.eot);
  src:url(../../../font/Mukta-SemiBold.eot?#iefix) format('embedded-opentype'),
       url(../../../font/Mukta-SemiBold.woff2) format('woff2'),
       url(../../../font/Mukta-SemiBold.woff) format('woff'),
       url(../../../font/Mukta-SemiBold.ttf) format('truetype');
}


@font-face {
  font-family:'Mukta';
  font-style:normal;
  font-weight:700;
  src:url(../../../font/Mukta-Bold.eot);
  src:url(../../font/Mukta-Bold.eot?#iefix) format('embedded-opentype'),
       url(../../../font/Mukta-Bold.woff2) format('woff2'),
       url(../../../font/Mukta-Bold.woff) format('woff'),
       url(../../../font/Mukta-Bold.ttf) format('truetype');
}