// author : Jeong EuiChan @ pionnet    with    SASS






body{width:100%;height:100%;margin:0;padding:0;background:#fff;-webkit-text-size-adjust:none;-webkit-font-smoothing:antialiased;-webkit-overflow-scrolling:touch;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,select,textarea,p,blockquote,th,td,legend,button{margin:0;padding:0;font-family:"Roboto","Droid Sans","AppleSDGothicNeo","Helvetica",sans-serif;font-size:14px;font-weight:normal;color:#191919;line-height:normal;-webkit-text-size-adjust:none;}
form,fieldset,img,button{border:0 none;}
table{width:100%;min-width:100%;max-width:none;table-layout:fixed;padding:0;border:0;border-spacing:0;border-collapse:collapse;}
legend, caption{overflow:hidden;width:1px;height:1px;font-size:0;line-height:0}
ul,ol,li{list-style:none;outline:none;}
address,caption,cite,code,dfn,em,th,var,i{font-style:normal;font-weight:normal;}
img,input,select,textarea{vertical-align:middle;}
textarea,input{border-radius:0;-webkit-border-radius:0;-moz-border-radius:0;-webkit-appearance:none;appearance:none;-webkit-tap-highlight-color:rgba(0,0,0,0.1) !important;}
a{display:block;overflow:hidden;position:relative;text-decoration:none;color:#191919;-webkit-tap-highlight-color:rgba(0,0,0,0.1) !important;}
a:link,a:hover,a:active{text-decoration:none;color:#191919;-webkit-tap-highlight-color:rgba(0,0,0,0.1) !important;}
li,p,dt,dd,div,span{word-break:break-all;}
button{display:block;overflow:hidden;position:relative;margin:0;border:0;padding:0;background:none;cursor:pointer;-webkit-tap-highlight-color:rgba(0,0,0,0.1) !important;}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption, canvas, summary{display:block;}
.ir{display:block;overflow:hidden;position:absolute !important;left:0;top:0;z-index:-1;max-width:100%;max-height:100%;-moz-opacity:0 !important;-khtml-opacity:0 !important;opacity:0 !important;vertical-align:top;}
.ir.lb{width:1px;height:1px;}
h1,h2,h3,h4,h5,h6{outline:none;}
.android div, .android a, .android button, .android input, .android textarea, .android select, .android h3, .android h3 *{outline:none;}
.ios div, .ios a, .ios button, .ios input, .ios textarea, .ios select, .ios h3, .ios h3 *{outline:none;}
input[type="checkbox"], input[type="checkbox"] + label, input[type="radio"], input[type="radio"] + label{cursor:pointer;-webkit-tap-highlight-color:rgba(0,0,0,0.1) !important;}
.noScroll{display:block;overflow:hidden !important;height:100%;}
.ScrollEl{height:100%;overflow:hidden;overflow-y:auto;-webkit-overflow-scrolling:touch;}

// input
input,textarea,select,button{-webkit-appearance:none;border-radius:0;outline:none;box-sizing:border-box;-webkit-box-sizing:border-box;}
input{
	&[type="text"],&[type="password"],&[type="number"],&[type="tel"],&[type="email"],&[type="date"]{padding:0;height:35px;padding:0 8px;font-size:13px;line-height:35px;background:#fff;border:1px solid #bebebe;}
	&[type="text"]:disabled{background:#f8f8f8;}
	&[type="password"]:disabled{background:#f8f8f8;}
	&:read-only{background:#f8f8f8;}
	&[type="tel"]{line-height:33px;}
	&[type="radio"]{height:20px;width:20px;background:url("../../../images/mobile/common/inp_rdo.png") no-repeat 0 0;background-size:20px 20px;border:0;
		&:checked{background:url("../../../images/mobile/common/inp_rdo_checked.png") no-repeat 0 0;background-size:20px 20px;}
		&:disabled{background:url("../../../images/mobile/common/inp_rdo.png") no-repeat 0 0;background-size:20px 20px;}
	}
	&[type="checkbox"]{width:20px;height:20px;background:#fff;border:1px solid #bebebe;
		&:checked{background:#fff url("../../../images/mobile/common/inp_chk.png") center center no-repeat;background-size:13px 10px;-webkit-background-size:13px 10px;}
		&:disabled{background:#d5d5d5 url("../../../images/mobile/common/inp_chk_dis.png") center center no-repeat;background-size:13px 10px;-webkit-background-size:13px 10px;
			&:checked{background-color:#f3f3f3;}
		}
	}
	&:focus::-webkit-input-placeholder{color:transparent;}
}
textarea{resize:none;}
textarea:focus::-webkit-input-placeholder,input:focus:-moz-placeholder,textarea:focus:-moz-placeholder{color:transparent;}
// select{height:35px;padding:0 24px 0 8px;border:1px solid #bbb;font-size:13px;line-height:35px;color:#222;background:#fff url("../../../images/mobile/common/bg_select2.png") no-repeat right center;background-size:24px 7px;-webkit-background-size:24px 7px;
// 	&::-ms-expand{display:none;}
// 	&:disabled{color:#ccc;background-color:#f5f6f7;border:1px solid #ccc;}
// }
