.etc_warp{background:#303030;}
.etc_warp .etc_text{padding-left:20px;}
.etc_warp h3{padding:42px 0 15px 0;font-size:23px;line-height:32px;letter-spacing:-0.02em;color:#fff;}
.etc_warp p{font-size:13px;line-height:19px;letter-spacing:-0.02em;color:#8E8E8E;}
.etc_warp p:nth-child(3){padding:10px 0 20px 0;}
.etc_warp .email{padding:0 0 60px 0;color:#fff; font-size:12px;}
.etc_warp .email a{display:inline-block;color:#fff;text-decoration:underline;vertical-align:middle;}
.etc_warp ul{padding:0 30px 49px 30px;}
.etc_warp ul:after{content:'';display:block;clear:both;}
.etc_warp ul li{position:relative;float:left;width:calc(50vw - 15px);height:calc(50vw - 15px);background:#fff;border-radius:50%;opacity:0;}
.etc_warp ul li:nth-child(2){margin:0 0 0 -30px;}
.etc_warp ul li:nth-child(4){margin:-14px 0 0 -30px;}
.etc_warp ul li:nth-child(3){margin:-14px 0 0 0;}
.etc_warp ul li div{position: absolute;top:37%;bottom:42%;width:100%;height:78px;margin:auto 0;}
.etc_warp ul li img{display:block;width:53px;height:53px;margin:0 auto;}
.etc_warp ul li span{display:block;padding-top:7px;font-size:12px;text-align:center;}

/*show animation*/
.etc_warp ul li{transition:opacity 2s cubic-bezier(0.4, 0, 0.2, 1);}
.etc_warp ul li.show{opacity:1;}
.etc_warp ul li:nth-child(2){transition-delay:0.6s}
.etc_warp ul li:nth-child(3){transition-delay:1.4s}
.etc_warp ul li:nth-child(4){transition-delay:2.4s}

.etc_warp2 .brand_img{position:relative;}
.etc_warp2 .brand_img:before{content:"";position:absolute;width:100%;height:100%;background:rgba(0,0,0,0.75);}
.etc_warp2 .brand_img h3{position:absolute;padding:232px 0 247px 35px;font-size:42px;font-weight:bold;color:#fff;line-height:41px;}
.etc_warp2 .brand_img h3 span{display:block;/*margin-top:11px;*/height:48px;font-size:48px;font-family:'Montserrat';line-height:47px;}
.etc_warp2 .brand_img div img{display:block;width:100%;height:auto;}
.etc_warp2 .brand_info{position:relative;padding-left:35px;}
.etc_warp2 .brand_info:after{content:"";position:absolute;left:35px;bottom:0;width:20px;height:1px;background:#191919;}
.etc_warp2 .brand_info dl dt{padding:30px 0 12px 0;font-weight:bold;line-height:20px;letter-spacing:-0.02em;}
.etc_warp2 .brand_info dl dd{padding:0 0 30px 0;line-height:19px;letter-spacing:-0.02em;}
.etc_warp2 .brand_point{padding:30px 0 20px 35px;}
.etc_warp2 .brand_point dl dt{padding-bottom:6px;font-size:21px;font-weight:bold;line-height:30px;letter-spacing:-0.02em;}
.etc_warp2 .brand_point dl dd{padding-bottom:40px;font-size:13px;line-height:18px;letter-spacing:-0.02em;}

/*text animation*/
.etc_warp2 div .parallax{visibility:hidden;opacity:0;transform:translate(0,20%);transition:all 1s;}
.etc_warp2 div .parallax_active{visibility:visible;opacity:1;transform:translate(0, 0);}
.etc_warp2 .brand_img h3{transition:all 1.5s;}
.etc_warp2 .brand_info dl dd{transition-delay:0.5s;}
.etc_warp2 .brand_point dl:nth-child(1) dd{transition-delay:0.3s;}
.etc_warp2 .brand_point dl:nth-child(2) dt{transition-delay:0.6s;}
.etc_warp2 .brand_point dl:nth-child(2) dd{transition-delay:0.9s;}
.etc_warp2 .brand_point dl:nth-child(3) dt{transition-delay:1.2s}
.etc_warp2 .brand_point dl:nth-child(3) dd{transition-delay:1.5s;}