// author : Jeong EuiChan @ pionnet    with    SASS






@charset "utf-8";
@import  "color";
@import  "figure";
@import  "basic";

.mnTitle{overflow:hidden;text-align:center;
	h2{display:inline-block;font-weight:bold;font-size:25px;line-height:30px;vertical-align:top;@include mont-bd;}
}

.main_cont{height:0;opacity:0;overflow:hidden;
	&.active{height:auto;opacity:1;overflow:visible;}
	.cate_swp{
		>.swiper-wrapper{
			>.swiper-slide{position:relative;min-height:300px;}
			.loading{position:absolute;left:50%;top:150px;z-index:9999;margin:-60px 0 0 -60px;
				span{display:block;width:120px;height:120px;background:url("../../../images/mobile/sp_mobile/common/loading.gif") center center no-repeat;background-size:120px 120px;text-indent:-9999px;}
			}
		}
	}
}

.main_top{position:absolute;left:0;top:0;right:0;z-index:2;
	>div{position:relative;width:100%;height:52px;background:linear-gradient(0deg, rgba(0,0,0,0), rgba(0,0,0,0.3) 100%);}
	h1{display:block;position:absolute;left:50%;top:11px;width:70px;height:30px;margin-left:-35px;background:url("../../../images/mobile/sp_mobile/main/top_logo.png") center center no-repeat;background-size:70px 30px;z-index:2;}
	button{position:absolute;top:3px;width:40px;height:46px;z-index:2;}
	.search_btn{right:46px;background:url("../../../images/mobile/sp_mobile/main/ico_search.png") center center no-repeat;background-size:36px 36px;}
	.ctg_btn{left:6px;background:url("../../../images/mobile/sp_mobile/main/ico_ctg.png") center center no-repeat;background-size:36px 36px;}
	.cart_btn{right:6px;background:url("../../../images/mobile/sp_mobile/main/ico_cart.png") center center no-repeat;background-size:36px 36px;
		.num{display:block;position:absolute;right:3px;top:8px;min-width:15px;height:15px;border-radius:100%;background:#FF1E00;color:#fff;font-size:9px;line-height:15px;text-align:center;@include mont-bd;}
	}

}
.main_bn_wrap{position:relative;border-bottom:8px solid #f9f9f9;
	.main_bn{
		ul{
			li{
				a{position:relative;
					&:before{position:absolute;bottom:0;left:0;width:100%;height:207px;background:linear-gradient(0deg, rgba(0,0,0,.14), rgba(0,0,0,0) 100%);content:"";z-index:0;}
					img{display:block;width:100%;height:auto;}
					strong{position:absolute;bottom:98px;left:30px;right:30px;max-height:114px;margin:0 auto;font-size:32px;letter-spacing:-0.02em;font-weight:bold;line-height:38px;color:$c_txt_white;
						em{display:block;height:34px;word-break:break-all;overflow:hidden;font-size:30px;letter-spacing:0;font-weight:500;line-height:34px;color:$c_txt_white;word-break:break-all;font-family:'Noto Sans KR';
							i{font-size:32px;font-weight:500;font-family:'Montserrat';vertical-align:top;}
						}
					}
					span{position:absolute;bottom:70px;left:30px;right:30px;height:20px;font-size:14px;letter-spacing:0;line-height:20px;color:$c_txt_white;overflow:hidden;}
				}
			}
		}
	}
	.fraction{position:absolute;bottom:10px;right:10px;left:auto;width:auto;min-width:53px;height:27px;padding:0 20px 0 7px;font-size:12px;line-height:27px;color:rgba(255,255,255,0.8);text-align:left;background:rgba(25,25,25,0.6);z-index:1;box-sizing:border-box;@include mont;
		.swiper-pagination-current{color:$c_txt_white;}
		@include cross(9px,1px,$c_white);
		&:after,&:before{right:7px;}
	}
}

.layer_opacity{display:none;position:fixed;left:0;top:0;width:100%;height:100%;z-index:300;-webkit-backface-visibility:hidden;background:url("../../../images/mobile/main/bg_lyr_evt.png") 0 0 repeat;-webkit-transform:translateZ(0);
	.pop_tit{position:fixed;left:0;top:-1px;width:100%;height:68px;line-height:67px;text-align:center;font-size:18px;font-weight:bold;color:$c_txt_white;z-index:99;background:rgba(0,0,0,0.9);-webkit-backface-visibility:hidden;-webkit-transform:translateZ(0);}
	.pop_con{position:relative;overflow-y:auto;height:100%;padding:68px 0 2px 0;box-sizing:border-box;-webkit-box-sizing:border-box;-webkit-overflow-scrolling:touch;}
	.btn_close{position:fixed;right:0;top:11px;display:block;width:60px;height:46px;z-index:9999;background:url("../../../images/mobile/common/btn_left_cls.png") no-repeat 0 0;background-size:60px 45px;-webkit-background-size:60px 45px;-webkit-transform:translateZ(0);}
}
.main_bn_lyr{clear:both;overflow:hidden;
	ul{overflow:hidden;margin-bottom:9px;}
	li{overflow:hidden;width:100%;
		a{position:relative;
			&:before{position:absolute;bottom:0;left:0;width:100%;height:207px;background:linear-gradient(0deg, rgba(0,0,0,.14), rgba(0,0,0,0) 100%);content:"";z-index:0;}
			img{display:block;width:100%;height:auto;}
			strong{position:absolute;bottom:98px;left:30px;right:30px;max-height:114px;margin:0 auto;font-size:32px;letter-spacing:-0.02em;font-weight:bold;line-height:38px;color:$c_txt_white;
				em{display:block;height:34px;word-break:break-all;overflow:hidden;font-size:30px;letter-spacing:0;font-weight:500;line-height:34px;color:$c_txt_white;word-break:break-all;font-family:'Noto Sans KR';
					i{font-size:32px;font-weight:500;font-family:'Montserrat';vertical-align:top;}
				}
			}
			span{position:absolute;bottom:70px;left:30px;right:30px;height:20px;font-size:14px;letter-spacing:0;line-height:20px;color:$c_txt_white;overflow:hidden;}
		}
	}
}

.main_evt_bn{position:relative;width:100%;border-bottom:8px solid #f9f9f9;
	ul{
		li{
			a{display:block;
				img{display:block;width:100vw;height:auto;}
			}
		}
	}
	.fraction{position:absolute;bottom:10px;right:11px;left:auto;width:auto;color:rgba(255,255,255,0.8);text-align:left;z-index:1;box-sizing:border-box;font-size:12px;@include mont;
		.swiper-pagination-current{color:$c_txt_white;}
	}
	~.main_ct_bn{overflow:hidden;margin-top:-8px;position:relative;z-index:2;background:#fff;}
}
.main_ct_bn{border-bottom:8px solid #f9f9f9;
	ul{display:flex;
		li{flex:1 1 0;overflow:hidden;background:$c_white;
			&+li{border-left:1px solid $c_contback;}
			a{display:block;height:48px;line-height:47px;text-align:center;white-space:nowrap;
				i{display:inline-block;width:18px;height:18px;margin:0 8px 0 0;vertical-align:middle;
					img{display:block;width:100%;height:100%;object-fit:contain;}
				}
				span{display:inline-block;font-weight:bold;height:18px;line-height:19px;vertical-align:middle;white-space:nowrap;}
			}
		}
	}
}
.main_tabWrap{position:relative;width:100%;height:48px;
	>div{position:absolute;left:0;top:0;right:0;z-index:10;width:100%;height:48px;
		&.fixed{position:fixed;}
	}
}
.main_tab{position:sticky;top:0;background:rgba(255,255,255,0.9);z-index:10;
	ul{display:flex;height:48px;
		li{flex:1 1 auto;line-height:48px;
			&.on{
				a{
					span{color:$c_txt_black;font-weight:bold;
						&:after{position:absolute;bottom:1px;left:0;right:0;height:2px;background:$c_main;content:"";}
					}
				}
			}
			a{text-align:center;
				span{position:relative;display:inline-block;width:auto;height:25px;margin:0 auto;line-height:25px;font-size:15px;color:$c_txt_light;@include mont-bd;}
			}
		}
	}
}



.main_best{margin-top:80px;
	.best_tab{@include DotTab;}
	.best_cont{margin-top:28px;}
	.panel_best{overflow:hidden;
		+.panel_best{height:0;opacity:0;}
	}
}
.main_rank{margin-top:40px;
	.best_tab{@include DotTab;}
	.rnk_cont{margin-top:28px;}
	.panel_rank{overflow:hidden;
		+.panel_rank{height:0;opacity:0;}
	}
	.swiper-container{width:100%;
		.goods_list .glist.list3{margin:0 10px;}
	}
}
.main_new{margin-top:80px;
	.new_tab{@include DotTab;padding:0 15px;}
	.panel_new{overflow:hidden;
		+.panel_new{height:0;opacity:0;}
	}
	.new_cont{margin-top:28px;
		.goods_list{padding:0 10px;
			.glist{flex-wrap:nowrap;
				li{flex:0 0 auto;width:180px;margin-right:4px !important;
					.g_wrap{margin:0;}
				}
			}
		}
	}
}

.main_look{margin-top:80px;
	.look_tab{@include DotTab;}
	.look_wrap{margin-top:15px;
		ul{
			li{position:relative;
				a{position:relative;
					img{display:block;width:100%;height:auto;}
					strong{overflow:hidden;position:absolute;left:21px;right:21px;bottom:53px;height:27px;line-height:27px;color:$c_txt_white;font-size:21px;font-weight:bold;letter-spacing:-0.02em;text-align:center;transform: matrix(0.1, 0, 0, 0.1, 0, 80);opacity:0;transition: all 0.3s ease-out;}
					span{overflow:hidden;position:absolute;left:21px;right:21px;bottom:30px;height:17px;line-height:17px;color:$c_txt_white;font-size:13px;letter-spacing:-0.02em;text-align:center;transform: matrix(0.1, 0, 0, 1, 0, 80);opacity:0;transition: all 0.8s ease-out;}
					&:before{position:absolute;bottom:0;left:0;right:0;height:194px;background:linear-gradient(0deg, rgba(0,0,0,.47), rgba(0,0,0,0) 100%);content:"";z-index:0;transform: matrix(1.5, 0, 0, 1, 0, 80);opacity:0;transition: all 0.3s ease-out;}
				}
				&.swiper-slide-active{
					a{
						strong,span{opacity:1;transform: matrix(1, 0, 0, 1, 0, 0);}
						&:before{opacity:1;transform: matrix(1, 0, 0, 1, 0, 0);}
						strong i{display:inline;font-size:23px;@include mont-bd;}
					}
				}
			}
		}
	}
	.more_btn{margin:10px auto 0;}
}

.main_mgz{margin-top:80px;
	.mgz_wrap{margin-top:15px;
		ul{
			li{
				a{position:relative;
					.real{position:relative;display:block;margin:8.33vw 8.33vw 0 8.33vw;width:83.34vw;height:auto;box-shadow: 0px 5px 10px rgba(0,0,0,0.12);z-index:1;
						&:before{position:absolute;bottom:-54px;left:-125px;width:300px;height:108px;background:radial-gradient(rgba(255,255,255,0.69),rgba(255,255,255,0));content:"";}
					}
					.back{position:absolute;top:0;left:0;width:100vw;height:103.33vw;overflow:hidden;z-index:-1;
						img{display:block;width:120%;height:auto;margin:-10% 0 0 -10%;filter:blur(1em);}
					}
					.box{position:relative;display:block;margin:-20px 20px 0;padding:11px 0 0 15px;z-index:2;
						&:before{position:absolute;top:1px;left:0;width:24px;height:2px;background:$c_main;content:"";z-index:2;}
						&:after{position:absolute;top:-13px;left:-125px;width:300px;height:108px;background:radial-gradient(rgba(255,255,255,0.69),rgba(255,255,255,0));filter:blur(1em);content:"";z-index:0;}
						b{position:relative;display:block;height:23px;font-size:16px;font-weight:bold;letter-spacing:-0.02em;z-index:2;}
						strong{position:relative;display:block;height:37px;line-height:36px;font-size:25px;font-weight:bold;letter-spacing:-0.02em;z-index:2;overflow:hidden;
							em{font-weight:bold;}
						}
						span{position:relative;display:block;overflow:hidden;max-height:36px;margin-top:3px;line-height:18px;font-size:13px;letter-spacing:-0.02em;color:$c_txt_light;z-index:2;}
					}
				}
			}
		}
		.next_btn{position:absolute;top:50%;right:0;width:30px;height:30px;margin-top:-58px;font-size:0;z-index:1;outline:none;
			@include rightArr(14px,14px,$c_white);
			&:after{top:0;right:7px;border-width:2px 2px 0 0;}
			&.swiper-button-disabled{opacity:0.6;}
		}
		.prev_btn{position:absolute;top:50%;left:0;width:30px;height:30px;margin-top:-58px;font-size:0;z-index:1;outline:none;
			@include rightArr(14px,14px,$c_white);
			&:after{top:0;left:7px;border-width:0 0 2px 2px;}
			&.swiper-button-disabled{opacity:0.6;}
		}
	}
	.more_btn{margin:10px auto 0;}
}
.more_btn{position:relative;height:43px;width:224px;margin:0 auto;text-align:center;border:1px solid $c_gray;
	a{color:#999;font-size:13px;line-height:43px;@include mont;
		i{position:relative;display:inline-block;width:11px;height:11px;margin-left:6px;
			@include dashRightArr(6px,6px,#999,9px,1px);
			&:before{top:3px;left:0px;right:auto;}
		}
	}
}

.main_chart{margin:0 20px 24px;
	.chart_wrap{
		.trand_now{margin:16px 0 15px;font-size:0;
			a{display:inline-block;width:auto;height:21px;line-height:21px;font-size:14px;font-weight:bold;color:$c_txt_black;letter-spacing:-0.02em;
				&:before{display:inline-block;width:21px;height:21px;margin-right:6px;vertical-align:-4px;background:url("../../../images/mobile/sp_mobile/main/ico_chart.png") 0 0 no-repeat;background-size:21px 21px;content:"";}
				@include rightArr(8px,8px,$c_main);
				&:after{position:static;display:inline-block;margin-right:2px;vertical-align:1px;}
			}
		}
		.goods_list{
			ul{height:570px;
				li+li{margin-top:0;}
			}
		}
	}
	.swiper-pagination{margin-top:15px;}
}


.sns_wrap{padding:0 10px 30px;margin-top:40px;
	ul{display:flex;
		li{flex:0 0 33.333%;height:80px;
			+li{position:relative;
				// &:before{position:absolute;top:0;bottom:0;left:0;width:1px;height:48px;margin:auto 0;background:$c_gray;content:"";}
			}
			a{width:100%;height:80px;
				img{display:block;width:26px;height:26px;margin:16px auto 2px;}
				span{display:block;height:16px;line-height:16px;color:$c_txt_light;font-size:11px;letter-spacing:-0.02em;text-align:center;}
			}
		}
	}
}

.swiper-pagination{position:static;height:6px;margin:20px 0 25px;line-height:6px;
	.swiper-pagination-bullet{width:6px;height:6px;margin:0 8px;background:$c_light;opacity:1;
		&.swiper-pagination-bullet-active{background:$c_main;}
	}
}


//main interection
/*
.plan_wrap, .main_best, .main_new, .main_look, .main_mgz, .main_chart, .sns_wrap{transform: translate3d(0,0,0);transition:transform 0.5s cubic-bezier(0, 0.79, 0.69, 0.65);
	.tit{margin-bottom:0;transition:margin 0.8s cubic-bezier(0, 0.79, 0.69, 0.65);}
	&.iamout{transform: translate3d(0,80px,0);
		.tit{margin-bottom:78px;}
	}
}
*/

strong.rank, .swiper-slide .vari, .rank strong, .rank .vari{transform:scaleY(1);transition:transform 0.1s;
	&.turn{transform:scaleY(-1);}
}

.main_cont .plan_wrap{margin-top:80px;margin-bottom:0;}
.plan_wrap .plan_cont{margin-top:15px;
	.plan_prds{//margin-bottom:30px;
		+.plan_bn{margin-top:10px;}
	}
	.more_btn{margin:-16px auto 0;}
}
.main_insta{margin-top:80px;
	.instBx{overflow:hidden;margin-top:15px;padding:0 10px;
		ul{display:flex;flex-wrap:wrap;justify-content:space-between;align-content:space-between;
			li{width:30.83vw;height:30.83vw;margin-bottom:1.2vw;
				a{display:block;overflow:hidden;width:100%;height:100%;background-position:center center;background-repeat:no-repeat;background-size:cover;}
			}
		}
	}
}
.main_key{margin-top:80px;
	.keyBx{overflow:hidden;margin-top:15px;padding:0 10px;
		ul{border-bottom:#F1F1F1 1px solid;}
		li{overflow:hidden;width:100%;
			+li{border-top:#F1F1F1 1px solid;}
			.rnk a{display:block;position:relative;height:46px;padding-right:38px;font-size:13px;line-height:46px;box-sizing:border-box;letter-spacing:-0.4px;@include ellipsis1;
				em{display:inline-block;width:30px;font-size:13px;vertical-align:top;text-align:center;@include mont;}
				span{display:block;position:absolute;right:0;top:0;height:46px;padding-right:10px;color:#8E8E8E;text-align:center;@include mont;
					&.up:before, &.down:before, &.no:before{content:'';display:block;position:absolute;left:0;top:50%;width:10px;height:10px;margin-top:-5px;background:url("../../../images/mobile/sp_mobile/main/ico_rank_set.png") 0 0 no-repeat;background-size:10px 30px;}
					&.up{padding-left:12px;color:#FF1E00;
						&:before{background-position:0 -10px;}
					}
					&.down{padding-left:12px;color:#2977F9;
						&:before{background-position:0 -20px;}
					}
					&.no{
						&:before{right:10px;left:auto;background-position:0 0;}
					}
					&.new{}
				}
				i{display:inline-block;width:3px;height:3px;margin-left:3px;border-radius:100%;background:#FF1E00;text-indent:-9999px;vertical-align:text-top;}
			}
			.gds{height:0;opacity:0;text-align:center;
				> div{display:block;overflow:hidden;padding:0 0 10px 30px;
					a{display:block;overflow:hidden;float:left;position:relative;float:left;width:19.44vw;height:25vw;
						+a{margin-left:4px;}
						img{width:100%;height:auto;}
						span{display:block;position:absolute;left:0;top:0;bottom:0;right:0;background:rgba(0,0,0,0.35);text-align:center;
							em{display:block;position:absolute;top:50%;width:100%;padding-top:26px;margin-top:-21px;color:#fff;font-size:11px;line-height:16px;background:url("../../../images/mobile/sp_mobile/main/ico_plus.png") no-repeat center top;background-size:20px 20px;}
						}
					}
				}
			}
			&.on{
				.rnk a{font-weight:bold;
					em, span{font-weight:bold;}
				}
			}
		}
	}
	.more_btn{margin:30px auto 0;}
}
.hotKeyLayer{padding-top:52px;
	.top{position:fixed;left:0;top:0;z-index:5;width:100%;height:52px;background:#fff;border-bottom:#F1F1F1 1px solid;
		>div{position:relative;width:100%;height:52px;}
		h3{display:block;color:#191919;font-weight:700;font-size:17px;line-height:52px;text-align:center;}
		.back{position:absolute;top:3px;left:0;display:block;width:46px;height:46px;background:url("../../../images/mobile/sp_mobile/common/btn_tit_back.png") no-repeat center center;background-size:22px 22px;-webkit-background-size:22px 22px;}
	}
	.main_key{margin-top:0;padding-bottom:48px;
		.keyBx{margin-top:0;}
	}
}
.mainMds{overflow:hidden;margin-top:40px;padding-bottom:20px;
	ul{margin-top:16px;padding:0 8px;
		li{overflow:hidden;float:left;width:50%;padding:0 2px;box-sizing:border-box;
			span{display:block;overflow:hidden;}
			.img img{width:100%;height:auto;}
			.tit{max-height:40px;padding:10px 13px 0 0;font-weight:700;font-size:14px;line-height:20px;letter-spacing:-0.5px;}
		}
	}
}


