/* �궎�뵒留덉폆 濡쒓렇�씤 �뙘�뾽 css */

.con_addr input[type="text"],
.con_addr input[type="password"],
.con_addr input[type="number"],
.con_addr input[type="tel"],
.con_addr input[type="email"],
.con_addr input[type="date"] {
    padding: 0 8px;
    height: 35px;
    font-size: 13px;
    line-height: 35px;
    background: #fff;
    border: 1px solid #bebebe
}

.inp_lg input[type="checkbox"] {
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid #bebebe
}
/* 20210402 수정 */
.inp_lg input[type="checkbox"]:checked {
    background: #fff url("../../images/mobile/common/ico/ico_chk_normal_checked.png") center center no-repeat;
    background-size: 17.5px;
    -webkit-background-size: 17.5px;
}

.inp_lg input,
.inp_lg label {
    vertical-align: middle
}

.inp_lg span {
    word-break: break-all
}

.accessibility {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0
}
.ir {
    display: block;
    overflow: hidden;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    font-size: 0 !important;
    line-height: 0 !important;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0
}

.w100 {
    width: 99% !important
}

.layer_fix {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 111
}
/* 202104042 수정 */
.layer_fix .btn_close {
    position: fixed;
    right: 0;
    top: 0;
    width: 17px;
    height: 17px;
    padding: 14px;
    z-index: 9999;
    background: url("../../images/mobile/common/ico/pop_close01.png") center center no-repeat;
    background-size: 17px 17px;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0)
}

.layer_fix.layer_login {
    z-index: 901
}
.layer_fix.layer_login .pop_con {
    padding: 45px 0 0
}
.layer_fix.layer_login .pop_con .pop_txt {
    padding: 15px 12px 0
}
.pop_con .lg_area {
    padding: 0
}
.lg_area .pop_addr .tab_addr {
    height: 41px;
    border-bottom: 1px solid #333
}
.lg_area .pop_addr .tab_addr:after {
    display: block;
    clear: both;
    content: ''
}
.lg_area .pop_addr .tab_addr li {
    float: left;
    position: relative;
    width: 50%;
    text-align: center;
    margin-bottom: 1px
}
.lg_area {
    padding: 20px 12px 50px;
    background: #fff;
    margin-bottom: -20px
}
/* 20210402 수정 */
.lg_area .txt_info {
    padding: 15px 6px 0 6px;
    color: #1a3f66;
    font-size: 16.5px;
    letter-spacing: -0.05px;
    line-height: 16px
}
.lg_area .txt_info a {
    color: #333;
    font-weight: bold
}
.lg_area .stxt {
    display: block;
    margin-top: 7px;
    font-size: 14px;
}
.lg_area .keyb {
    text-align: right;
    margin: 0 6px 10px
}
.lg_area .keyb .ico {
    padding-right: 18px;
    font-size: 13px;
    color: #999;
    background: url('../../images/mobile/my/ico_lg.png') right 1px no-repeat;
    background-size: 12px 25px
}
.lg_area .keyb .ico.on {
    background-position: right -12px
}
.lg_area .keyi {
    display: none
}
.lg_area .keyi img {
    max-width: 100%
}
.lg_area .inp_lg {
    margin: 15px 6px 20px
}
.lg_area .inp_lg li {
    margin: 0 0 12px
}
.lg_area .inp_lg li:after {
    display: block;
    clear: both;
    content: ''
}
.lg_area .inp_lg li:last-child {
    margin-top: 18px
}
.lg_area .inp_lg input[type="tel"],
.lg_area .inp_lg input[type="date"] {
    padding: 0 8px;
    height: 35px;
    font-size: 12px;
    color: #333;
    background: #fff;
    border: 1px solid #bebebe
}
.lg_area .inp_lg .chk {
    float: left;
    display: block;
    width: 50%
}
.lg_area .inp_lg .chk label {
    color: #333;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle
}

.lg_area .inp_lg .noti {
    margin: 12px 0 20px;
    font-size: 14px;
    color: #c9000b;
    letter-spacing: -1px
}
.lg_area .lg_btm {
    margin: 20px 6px 0
}
.lg_area .lg_btm ul:after {
    display: block;
    clear: both;
    content: ''
}
/* 20210402 추가  */
.lg_area .lg_btm>ul {width: 287px; margin: 0 auto;} /* 20210405 수정 */
.lg_area .lg_btm li {
    float: left;
    text-align: center;
    padding: 0 15px;
}
/* 20210402 추가  */
.lg_btm-item {position: relative;}
.lg_btm-item + .lg_btm-item::before {content:''; display: block; width: 1px; height: 13px; position: absolute; top:50%; left: 0; margin-top: -5.5px; background: #666;}

/* 20210402 수정 */
.lg_area .lg_btm li a {
    display: block;
    color: #666;
    font-size: 13px;
    margin-left: -1px
}
/* 202104042 수정 */
/* .lg_area .lg_btm li a:before {
    content: '';
    display: block;
    width: 25px;
    height: 22px;
    margin: 0 auto 7px;
    background: url('../../images/mobile/my/ico_lg2.png') no-repeat;
    background-size: 25px 75px
} */
.lg_area .lg_btm li.ico2 a:before {
    background-position: 0 -25px
}
.lg_area .lg_btm li.ico3 a:before {
    background-position: 0 -50px
}
.lg_area .lg_btm .ty02 li {
    width: 50%
}
.lg_area .pop_addr .tab_addr li span {
    display: block;
    color: #999;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #ddd;
    border-bottom: 0;
    background: #f5f6f7;
    letter-spacing: -1px
}
.lg_area .pop_addr .tab_addr li+li span {
    border-left: 1px solid #1a3f66;
    margin-left: -1px
}
.lg_area .pop_addr .tab_addr li+li.on:after {
    right: 0
}
.lg_area .pop_addr .tab_addr li.on:after {
    position: absolute;
    right: 1px;
    bottom: -2px;
    width: 100%;
    height: 4px;
    background: #fff;
    content: ""
}
/* 202104042 수정 */
.lg_area .pop_addr .tab_addr li.on span {
    font-weight: bold;
    color: #1a3f66;
    background: #fff;
    border-color: #1a3f66;
    border-bottom: 0
}
.lg_area .con_addr > div {
    display: none
}
.lg_area .con_addr > div.on {
    display: block
}
.lg_area .non_member {
    position: relative;
    padding: 0 110px 19px 0
}
.lg_area .non_member span {
    display: block;
    font-size: 13px;
    color: #666
}
.lg_area .non_member .tit {
    font-weight: bold
}
.lg_area .non_member .btn_nm {
    position: absolute;
    right: 0;
    top: 0;
    width: 95px;
    height: 39px;
    color: #666;
    font-size: 13px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 39px
}
.lg_area .non_member .btn_nm .ico1 {
    display: inline-block;
    height: 21px;
    line-height: 23px;
    padding-left: 23px;
    background: url('../../images/mobile/my/ico_lg2.png') -2px 0 no-repeat;
    background-size: 25px 75px
}
.lg_area .non_member.buy {
    padding-top: 19px;
    border-top: 1px solid #bebebe
}
.lg_area .non_member.buy .tit {
    color: #333
}
.lg_area .non_member.buy .btn_nm {
    top: 19px;
    color: #333;
    border-color: #333
}
/* 20210402 수정 */
.layer_fix .pop_tit {
    /* display: none !important; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    background: #fff;
    background-color: #fff;
    background-image: url(../../images/mobile/common/logo/logo.png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    z-index: 99;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    text-indent: -9999px;
}
.layer_fix .pop_con a,
.layer_fix .pop_con button {
    outline: none
}
a.btn_bg06,
button.btn_bg06 {
    display: block;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 15px;
    text-align: center;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.btn_bg06.c01 {
    background: #242424
}

.mt10 {margin-top:10px !important;}

/* �뙘�뾽 - 鍮꾨�踰덊샇 蹂�寃� �븣由� */
.lg_pop {display:none; position:absolute; top:0; left:0; width:100%; z-index:120;}
.lg_pop .pop_con {margin:20px 12px; background:#fff;}
.lg_pop .lg_pwd {padding:22px 12px 0; max-height:360px; overflow-y:auto;}
.lg_pop .lg_pwd .stxt1, .lg_pop .lg_pwd .stxt2 {display:block; text-align:center;}
.lg_pop .lg_pwd .stxt1 {font-size:16px; color:#000; font-weight:bold;}
.lg_pop .lg_pwd .stxt1 em {color:#242424; font-weight:bold;}
.lg_pop .lg_pwd .stxt2 {margin:10px 0; font-size:13px; color:#666;}
.lg_pop .lg_pwd .list {margin:0 0 12px; border:1px solid #bebebe; padding:18px; background:#f8f8f8;}
.lg_pop .lg_pwd .list li {color:#666; font-size:13px; margin-bottom:5px;}
.lg_pop .lg_pwd .list li:before {content:''; margin-left:-5px;}
.lg_pop .lg_pwd .list li:last-child {margin-bottom:0;}
.lg_pop .btn_pop {margin:20px 0 0; text-align:center; border-top:1px solid #bebebe; background:#f8f8f8;}
.lg_pop .btn_pop a {display:block; height:40px; line-height:40px; font-size:13px; color:#666;}
.lg_pop .btn_close {display:block; line-height:40px; font-size:13px; color:#666; margin:20px 0 0; text-align:center; border-top:1px solid #bebebe; background:#f8f8f8;}
.lg_pop .btn_list02, .lg_pop .btn_ly {margin:0 12px;}

/* 濡쒓렇�씤 �뙘�뾽硫붿떆吏� �뀥�뵆由� */
.pop_con .ly_box {padding:25px 12px 15px; max-height:240px; overflow-y:auto;}
.pop_con .ly_box .ly_tit {padding:0 6px 15px; color:#333; font-size:16px; font-weight:bold; border-bottom:1px solid #ddd; text-align:center;}
.pop_con .ly_box .ly_txt {padding:15px 6px; color:#666; font-size:13px; border-bottom:1px solid #ddd;}
.pop_con .ly_box .ly_txt strong {color:#333;}
.pop_con .ly_box .ly_txt li {margin:4px 0 0; color:#666; font-size:13px;}
.pop_con .ly_box .ly_txt li:first-child {margin-top:0;}
.pop_con .ly_box .btn_list02 {margin-top:15px;}
.pop_con .ly_box .btn_ly {width:50%; margin:15px auto;}
.pop_con .ly_box .txt_top b {font-size:14px;}

.layer_fix .btn_close span {width:15px; height:15px; font-size:0; text-indent:-9999px;}

.layer_pop {display:none; position:fixed; left:0; top:0; width:100%; z-index:9999;}
.layer_pop .btn_close {position:absolute; right:12px; top:12px; width:17px; height:17px; z-index:9999; background:url(../../images/mobile/common/pop_close02.png) no-repeat; background-size:17px 17px;}
.layer_pop .btn_close span {width:15px; height:15px; font-size:0; text-indent:-9999px;}
.layer_pop .pop_con {position:relative; margin:50px; padding:12px; background:rgba(17, 22, 37, 0.85);}
.layer_pop .pop_con .pop_tit {color:#fff;}
.layer_pop .pop_con .pop_txt {color:#fff; font-size:13px;}

/* btn type9 */
a.btn_brd03, button.btn_brd03 {display:block; height:40px; line-height:40px; color:#333; font-size:14px; text-align:center;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.btn_brd03.c01 {color:#666; border:1px solid #666; background:#fff;}
.btn_brd03.c02 {border:1px solid #0162b1; background:#fff;}
.btn_brd03.c03 {border:1px solid #999; background:#f8f8f8;}
.btn_brd03.c04 {color:#333; border:1px solid #333; background:#fff;}
.btn_brd03.c05 {color:#666; border:1px solid #666; background:#fff;}

/* btn type10 */
a.btn_bg06, button.btn_bg06 {display:block; height:40px; line-height:40px; color:#fff; font-size:15px; text-align:center;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.btn_bg06.c01 {background:#1a3f66; border-radius: 75px;} /* 202104042 수정 */
.btn_bg06.c02 {background:#c66;}
.btn_bg06.c03 {background:#000;}
.btn_bg06.c04 {background:#fff; border: 1px solid #1a3f66; color: #1a3f66; border-radius: 75px;} /* 20210823 추가 */

.lg_area .inp_lg input {box-sizing: border-box;}

/* 20210402 추가 */
.con_addr>div {display: none;}
.con_addr>div.on {display: block;}

/* 20210825 추가 s : sns 영역 */
/* 20210405 로그인 누락 css 추가 :: s */
.box_sns {
    height: 80px;
    margin: 0 6px;
    padding-top: 25px; /* 20210908 수정 */
}
.box_sns .tit {
    color: #333;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}
/* 20210807 수정 :: s */
.box_sns .list_sns {
    margin: 18px auto 0;
    text-align: center;
}
.box_sns .list_sns li {
    display: inline-block;
    width: 42px;
    margin-left: 7px;
    vertical-align: top;
}
/* 20210807 수정 :: e */
.box_sns .list_sns li:first-child {
    margin-left: 0;
}

/* 20210908 수정 s */
.box_sns .list_sns li a {
    display: block;
    width: 42px;
    height: 42px;
    position: relative;
}

.box_sns .list_sns li a .tip {
    display: block;
    position: absolute;
    top: -26px;
    left: 50%;
    z-index: 2;
    height: 23px;
    padding: 0 10px 0 8px;
    background: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 23px;
    white-space: nowrap;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transform: translateX(-50%);
    box-sizing: border-box;
}

.box_sns .list_sns li a .tip:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -9px;
    left: 50%;
    width: 11px;
    height: 9px;
    transform: translateX(-50%);
    background: url(../../images/mobile/common/ico/arrow_sns_tip.png) center center no-repeat;
    background-size: 11px 9px;
}

.box_sns .list_sns li a .tip em {
    display: block;
    position: relative;
    padding-left: 13px;
    font-size: 11px;
    line-height: 21px;
    letter-spacing: -0.5px;
}
.box_sns .list_sns li a .tip em:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 12px;
    height: 12px;
    margin-top: -6px;
    background: url(../../images/mobile/common/ico/ico_sns_tip.png) center center no-repeat;
    background-size: 12px 12px;
}
/* 20210908 수정 e */

.box_sns .list_sns li a img {
    width: 100%;
    max-width: 100px;
}
/* 20210825 추가 e : sns 영역 */
.ad_bn {
    clear: both;
    overflow: hidden;
    margin-bottom: 50px;
    margin-top: 15px;
}
.ad_bn a {
    display: block;
}
.ad_bn a img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
/* 20210405 로그인 누락 css 추가 :: e */

/* .lg_nmember {display: none;} */ /* 20210825 삭제 */

/* 20210825 추가 s : 비회원 구매 영역  */
.lg_area .lg_nmember {margin: 20px 6px 30px; padding: 15px; border: 1px solid #ddd; background: #f8f8f8;}
.lg_area .lg_nmember .stxt {font-size: 13px; color: #666; margin-top: 0; line-height: 14px; }
.lg_area .lg_nmember .stxt strong {font-weight: bold;}
.lg_area .lg_nmember .btn {margin: 12px 0 0; width: 100%;}
.lg_area .lg_nmember .btn a {font-size: 13px;}
a.btn_brd02, button.btn_brd02 {display: block; height: 33px; line-height: 35px; color: #333; text-align: center;}
.btn_brd02.c01 {border: 1px solid #333; background: #fff;}
/* 20210825 추가 e : 비회원 구매 영역  */