@charset "utf-8";
.head>.ctg, .renewal2 .header .head .hnb .sch, .renewal2 .header .head .hnb li.myp{display: none!important;}
.renewal2 .header .head div.hnb li.cart{right:10px;}
.renewal2 header.header{height: 55px; padding-bottom: 0; background: #fff;}
.renewal2 header.header .head{height:55px}
.renewal2 header.header div.head .hnb ul{height: auto; margin:0;}
/* 20211129 수정 :: S */
.renewal2 header.header div.head h1{height:30px; padding:15px 0 0; width:110px; position: static;}
.renewal2 header.header div.head h1 a{background-image: url('../../images/mobile/common/logo/logo.png'); background-size: contain; height:30px; width: 110px; background-position: center;}
/* 20211129 수정 :: E */
.contents .cts_tit .ctg{padding-right: 0; background: none;}

.renewal2.sch_part.head_up .search_wrap .sch_sort, .renewal2_brand.sch_part.head_up .search_wrap .sch_sort {
    position: fixed !important;
    top: 45px !important; /* 20211129 수정 */
    z-index: 103;
}

.renewal2.sch_part.head_up .cts_tit, .renewal2_brand.sch_part.head_up .cts_tit {
    position: fixed;
    z-index: 12 !important; /* 20211129 수정 */
}

/* 20211129 수정 :: S */
.renewal2.sch_part .sch_sort .s_sort, .renewal2_brand.sch_part .sch_sort .s_sort {
    position: absolute;
    right: 0;
    width: 83px;
    padding: 0 8px 0 0;
    top: -45px;
}
@media screen and (max-width: 640px) {
    .renewal2.sch_part .sch_sort .s_sort, .renewal2_brand.sch_part .sch_sort .s_sort {
       top: 0;
    }
 }
 /* 20211129 수정 :: E */