@charset "utf-8";


/* tab - common */
.my_con .set_tab {margin:12px 0 0;}
.my_con .set_tab ul {display:-webkit-box; -webkit-box-orient:horizontal;}
.my_con .set_tab li {position:relative;width:100%;-webkit-box-flex:1; margin-left:-1px; border:1px solid #ccc; border-bottom:1px solid #000; background:#f5f6f7;display:box; box-orient:vertical;box-pack:center;display:-webkit-box;-webkit-box-orient:vertical;-webkit-box-pack:center;display:-moz-box;-moz-box-orient:vertical;-moz-box-pack:center;}
.my_con .set_tab li:after {display:block; position:absolute; bottom:-1px; left:-1px; z-index:2; content:''; background:#000; width:1px; height:1px; font-size:0; line-height:0;}
.my_con .set_tab li a {width:100%;min-height:26px; padding:4px 0;font-size:15px; color:#999; white-space:nowrap; text-align:center; display:box; box-orient:vertical;box-pack:center;display:-webkit-box;-webkit-box-orient:vertical;-webkit-box-pack:center;display:-moz-box;-moz-box-orient:vertical;-moz-box-pack:center;-webkit-box-flex:1;}
.my_con .set_tab li.on {z-index:1; border:1px solid #333; border-bottom:1px solid #fff; background:#fff;}
.my_con .set_tab li.on a {color:#333; font-weight:bold;}
.my_con .sch_order {padding-left:0; padding-right:0;}
.my_con .sch_order + .set_tab {margin-top:0;}
.btn_arrow01 {border:1px solid #999;}
.btn_arrow01 {display:block; height:38px;}
.btn_arrow01 > span {height:39px; display:box; box-orient:vertical;box-pack:center;display:-webkit-box;-webkit-box-orient:vertical;-webkit-box-pack:center;display:-moz-box;-moz-box-orient:vertical;-moz-box-pack:center;text-align:center;}
.btn_arrow01 > span:after {display:inline-block; content:''; width:6px; height:9px; margin-left:6px; background:url('../../images/mobile/my/ico_arr02.png') no-repeat 0 0; background-size:6px 9px; vertical-align:1px;}
.btn_arrow01.full {display:block; width:100%;}

/* 나의 문의/답변 */
.my_qa {background:#fff; padding:0 12px;}
.my_qa .set_period {display:-webkit-box; -webkit-box-orient:horizontal;}
.my_qa .set_period li {position:relative;width:100%;-webkit-box-flex:1; margin-left:-1px; border:1px solid #ccc; background:#fff;display:box; box-orient:vertical;box-pack:center;display:-webkit-box;-webkit-box-orient:vertical;-webkit-box-pack:center;display:-moz-box;-moz-box-orient:vertical;-moz-box-pack:center;}
.my_qa .set_period li a {width:100%;min-height:26px; padding:4px 0;font-size:13px; color:#333; white-space:nowrap; text-align:center; display:box; box-orient:vertical;box-pack:center;display:-webkit-box;-webkit-box-orient:vertical;-webkit-box-pack:center;display:-moz-box;-moz-box-orient:vertical;-moz-box-pack:center;-webkit-box-flex:1;font-size:14px;}
.my_qa .set_period li.on {z-index:1; border:1px solid #0162b1; border-bottom:1px solid #0162b1; background:#0162b1;}
.my_qa .set_period li.on a {color:#fff; font-weight:bold;}

.cont_counsel {padding:15px 12px 0;}
.cont_counsel .btn_arrow01 {margin:0 -12px;}
.box_csel{margin:15px 0 0;background:#fff;}
.cont_counsel .csel_list {margin:0 -12px;}
.csel_list{border-top:1px solid #ddd;}
.csel_list:after {display:block; content:''; clear:both;}
.csel_list li{position:relative; padding:12px 0 0 0;border-bottom:1px solid #ddd;-webkit-transition: top 0.3s;-moz-transition: top 0.3s;-o-transition: top 0.3s;-ms-transition: top 0.3s;transition: top 0.3s;}
.csel_list li a{display:block;}
.csel_list li .q_ico{display:block;width:51px;height:18px;margin:3px 0 8px 12px;border:1px solid #ccc;font-size:12px;line-height:19px;color:#999;font-weight:bold;text-align:center;}
.csel_list li .q_ico.on{border:1px solid #0162b1;color:#0162b1;}
.csel_list li .q_usr{position:absolute;right:0;top:10px;height:20px;padding:5px 12px 0 0;font-size:12px;line-height:20px;color:#666;text-align:right;}
.csel_list li .q_qst{clear:both;padding:5px 0 15px 0; margin:0 12px;}
.csel_list li .q_qst .tit{overflow:hidden;font-size:14px;line-height:18px;color:#333;}
.csel_list li .q_qst .img {margin:12px -12px 0 -44px;}
.csel_list li .q_qst .img img {max-width:100%;}
.csel_list li .q_qst .txt{display:none;}
.csel_list li .basket_prd {margin:12px 0 0 -32px; border:1px solid #dedede;}
.csel_list li .basket_prd .no_link > span {display:block;}
.csel_list li .q_asw{display:none;}
.csel_list li .q_btn{display:none;}
.csel_list li.on .q_qst{padding-left:32px;background:url("../../images/mobile/goods/ico_qst.png") no-repeat 0 5px;background-size:19px 19px;-webkit-background-size:19px 19px;}
.csel_list li.on .q_qst .tit{margin-bottom:10px;font-weight:bold;}
.csel_list li.on .q_qst .txt{display:block;font-size:14px;line-height:18px;color:#333;}
.csel_list li.on .q_asw{display:block;clear:both;overflow:hidden;padding:15px 12px 45px 44px;border-top:1px solid #ddd;background:#f8f8f8 url("../../images/mobile/goods/ico_asw.png") no-repeat 12px 15px;background-size:19px 19px;-webkit-background-size:19px 19px;}
.csel_list li.on .q_asw .txt{overflow:hidden;margin-bottom:12px;font-size:14px;line-height:18px;color:#666;}
.csel_list li.on .q_btn{display:block;position:absolute;left:44px;bottom:15px;}
.csel_list li.on .q_btn button{display:block;float:left;width:53px;height:30px;margin-right:8px;border:1px solid #999;font-size:14px;line-height:32px;color:#666;}
.csel_list li.on .q_btn button:first-child{border:1px solid #666;color:#333;}

.cont_qa .goods_list_more , .cont_counsel .goods_list_more {margin:-1px -12px 0; padding-top:0;}
.my_con .list_bar_gray {padding:18px 12px 62px; margin:0 -12px; background:#ededed;}
.my_con .list_bar_gray ul li {color:#666; font-size:13px; margin-bottom:5px; padding-left:8px;}
.my_con .list_bar_gray ul li:last-child {margin-bottom:0;}
.my_con .list_bar_gray ul li:before {content:'- '; margin-left:-8px;}
.my_con .list_bar_gray .txt {padding-top:65px; text-align:center; color:#666; font-size:16px; background:url(../../images/mobile/order/ico_basket_no.png) top center no-repeat; background-size:45px 45px;}
.my_qa .my_nolist { padding:45px 0 50px;}
.my_nolist .txt {padding-top:65px; text-align:center; color:#999; font-size:16px; background:url(../../images/mobile/order/ico_basket_no.png) top center no-repeat; background-size:45px 45px;}

.cont_qa {padding-top:20px;}
.cont_qa .basket_prd {border:none; padding:0;}
.cont_qa .qna_list02 li {}
.cont_qa .qna_list02 li.on .basket_prd {border:1px solid #dedede; padding:12px; margin-left:-32px;}
.cont_qa .qna_list02 li .basket_prd {margin-top:12px;}
.cont_qa .qna_list02 li .basket_prd .no_link > span {display:block;}
.qna_list02{border-top:1px solid #ddd;}
.qna_list02:after {display:block; content:''; clear:both;}
.qna_list02 li{position:relative;overflow:hidden;padding:12px 0 0 0;border-bottom:1px solid #ddd;-webkit-transition: top 0.3s;-moz-transition: top 0.3s;-o-transition: top 0.3s;-ms-transition: top 0.3s;transition: top 0.3s;}
.qna_list02 li a{display:block;}
.qna_list02 li .q_ico{display:block;width:51px;height:18px;margin:3px 0 8px 12px;border:1px solid #ccc;font-size:12px;line-height:19px;color:#999;font-weight:bold;text-align:center;}
.qna_list02 li .q_ico.on{border:1px solid #0162b1;color:#0162b1;}
.qna_list02 li .q_usr{position:absolute;right:0;top:10px;height:20px;padding:5px 12px 0 0;font-size:12px;line-height:20px;color:#666;text-align:right;}
.qna_list02 li .q_qst{clear:both;overflow:hidden;padding:5px 12px 15px 12px;}
.qna_list02 li .q_qst .tit{overflow:hidden;font-size:14px;line-height:18px;color:#333;}
.qna_list02 li .q_qst .txt{display:none;}
.qna_list02 li .q_asw{display:none;}
.qna_list02 li .q_btn{display:none;}
.qna_list02 li.on .q_qst{padding-left:44px;background:url("../../images/mobile/goods/ico_qst.png") no-repeat 12px 5px;background-size:19px 19px;-webkit-background-size:19px 19px;}
.qna_list02 li.on .q_qst .tit{margin-bottom:10px;font-weight:bold;}
.qna_list02 li.on .q_qst .txt{display:block;overflow:hidden;font-size:14px;line-height:18px;color:#333;}
.qna_list02 li.on .q_asw{display:block;clear:both;overflow:hidden;padding:15px 12px 45px 44px; border-top:1px solid #ddd;background:#f8f8f8 url("../../images/mobile/goods/ico_asw.png") no-repeat 12px 15px;background-size:19px 19px;-webkit-background-size:19px 19px;}
.qna_list02 li.on .q_asw .txt{overflow:hidden;margin-bottom:12px;font-size:14px;line-height:18px;color:#666;}
.qna_list02 li.on .q_btn{display:block;position:absolute;left:44px;bottom:15px;}
.qna_list02 li.on .q_btn button{display:block;float:left;width:53px;height:30px;margin-right:8px;border:1px solid #999;font-size:14px;line-height:32px;color:#666;}
.qna_list02 li.on .q_btn button:first-child{border:1px solid #666;color:#333;}
/* 나의 상품평 */
.my_prd_comt {background:#fff; padding:0 12px;}
.my_prd_comt .cont_pcomt01 , .my_prd_comt .cont_pcomt02 {padding-top:15px;}
.list_pcomt01 {border-top:1px solid #dedede;}
.list_pcomt01 li .basket_prd {border:none; margin-bottom:0; border-bottom:1px solid #dedede;}
.list_pcomt01 li .basket_prd .gd_end {padding-top:12px; font-size:13px; color:#0162b1;}
.list_pcomt01 li .basket_prd .gd_end em {font-weight:bold;}
.my_btn01 {display:inline-block; min-width:83px; padding:0 5px; height:31px; border:1px solid #333; text-align:center; line-height:31px;}
.my_btn01 > span {display:block; font-size:13px; font-weight:bold;}
.my_btn01.c01 {border:1px solid #bebebe; color:#666;}
.basket_prd .set_pcomt {margin-top:12px;}
.basket_prd .set_pcomt:after {display:block; content:''; clear:both;}
.basket_prd .set_pcomt .buy_date {display:inline-block; float:left; font-size:13px; color:#666;}
.basket_prd .set_pcomt .my_btn01 {float:right;}
.my_prd_comt .basket_prd a , .my_prd_comt .basket_prd .no_link > span {display:block;}

.list_pcomt01 .scr{display:inline-block;width:76px;height:11px;font-size:14px;line-height:19px;color:#0162b1;vertical-align:middle;background:url("../../images/mobile/goods/ico_star.png") no-repeat 0 0;background-size:77px 115px;-webkit-background-size:77px 115px;}
.list_pcomt01 .scr.s5{background-position:0 0;}
.list_pcomt01 .scr.s10{background-position:0 -12px;}
.list_pcomt01 .scr.s15{background-position:0 -23px;}
.list_pcomt01 .scr.s20{background-position:0 -35px;}
.list_pcomt01 .scr.s25{background-position:0 -46px;}
.list_pcomt01 .scr.s30{background-position:0 -58px;}
.list_pcomt01 .scr.s35{background-position:0 -69px;}
.list_pcomt01 .scr.s40{background-position:0 -81px;}
.list_pcomt01 .scr.s45{background-position:0 -92px;}
.list_pcomt01 .scr.s50{background-position:0 -104px;}
.list_pcomt01 .pcomt_detail {padding:18px 0 20px 0; border-bottom:1px solid #dedede;}
.list_pcomt01 .pcomt_top {position:relative; margin:0 12px 0 6px;}
.list_pcomt01 .pcomt_top:after {display:block; content:''; clear:both;}
.list_pcomt01 .pcomt_top .pic {margin-left:-3px;}
.list_pcomt01 .pcomt_top .pic img {width:16px; height:13px;}
.list_pcomt01 .pcomt_top .side02 {display:none; position:absolute; top:0; right:0;}
.list_pcomt01 .pcomt_top .side02 span {font-size:12px; color:#666;}
.list_pcomt01 .pcomt_top .side02 .usr_id:after {display:inline-block; content:'|'; margin:0 3px 0 7px;}
.list_pcomt01 .pcomt_cont .txt {display:block; overflow:hidden; height:16px; padding:12px 12px 0; font-size:14px; white-space:nowrap; text-overflow:ellipsis;}
.list_pcomt01 .pcomt_cont .txt .img {margin:12px -12px 0; text-align:center;}
.list_pcomt01 .pcomt_cont .pcomt_close {display:none;}
.list_pcomt01 .pcomt_cont .txt .img img {max-width:100%;}
.list_pcomt01 .pcomt_cont .opt {display:none; padding:14px 0 0 12px; font-size:13px; color:#666;}
.cont_pcomt01 .goods_list_more , .cont_pcomt02 .goods_list_more {margin:-1px -12px 0;}
.cont_pcomt02 .goods_list_more {margin-top:15px;}
.list_pcomt01 li.on .pcomt_detail {padding-bottom:15px; background:#f8f8f8;}
.list_pcomt01 li.on .pcomt_cont .txt {overflow:visible; height:auto; white-space:normal; text-overflow:inherit;}
.list_pcomt01 li.on .pcomt_top .side02 {display:block;}
.list_pcomt01 li.on .pcomt_cont .pcomt_close {display:block; margin-top:12px; text-align:center;}
/* 상품평 쓰기 */
.prd_cmt_wr {padding:20px 12px 0;}
.prd_cmt_wr .basket_prd {position:relative; border:1px solid #bebebe; padding:12px;}
.prd_cmt_wr .basket_prd:after {position:absolute; bottom:-2px; left:-1px; right:-1px; display:block; content:''; height:1px; background:rgba(0,0,0,0.1)}
.prd_cmt_wr .basket_prd .no_link > span {display:block;}
.set_prd_wr {padding:0 12px; margin:13px 0 12px; border:1px solid #bebebe;}
.set_prd_wr li {position:relative; padding:12px 0;border-bottom:1px solid #dedede;}
.set_prd_wr li:last-child {border-bottom:none;}
.set_prd_wr li b {display:block; margin-bottom:10px; font-size:13px; font-weight:normal;}
.set_prd_wr li b a {margin-left:-2px; vertical-align:1px;}
.set_prd_wr li.div {display:box;display:-webkit-box;display:-moz-box;box-orient:horizontal;-webkit-box-orient:horizontal;-moz-box-orient:horizontal;}
.set_prd_wr li.div b {padding-top:4px; margin-bottom:0; box-flex:1;-webkit-box-flex:1;-moz-box-flex:1;}
.set_prd_wr .txtarea textarea {display:block; width:100%; height:149px; padding:12px; border:1px solid #bebebe; box-sizing:border-box;-webkit-box-sizing:border-box; font-size:13px; color:#666;}
.set_prd_wr .btn_excl01 img {width:19px; height:19px; border:1px solid #ccc;}
.set_prd_wr .lmt_cnt {position:absolute; top:13px; right:4px; display:inline-block; font-size:13px; color:#666;}
.set_prd_wr .lmt_cnt strong {color:#0162b1;}
.set_prd_wr .tx_info {margin:8px 0 4px; font-size:13px; color:#999;}
.set_prd_wr .winfo_cls {background:#fff;}
.lay_wr_info {}
.lay_wr_info .winfo_cont {margin:0 12px; padding-bottom:25px; background:#fff; text-align:center;}
.lay_wr_info .tit {margin:0 12px; padding:16px 0; border-bottom:1px solid #999;}
.lay_wr_info .tit h3 {font-size:16px; font-weight:bold; color:#000;}
.lay_wr_info .txt01 {margin-top:15px; font-size:15px;}
.lay_wr_info .txt02 {margin-top:20px; font-size:12px;}
.lay_wr_info .winfo_cls {margin:0 12px; padding:13px 0 15px; border-top:1px solid #bebebe; background:#f8f8f8; font-size:14px; color:#666; text-align:center;}
.list_rv {position:relative; width:118px; height:17px; background:url('../../images/mobile/common/btn_star.png') no-repeat 0 -18px; background-size:118px 35px;}
.list_rv button {position:relative; display:block; float:left; width:18px; height:17px; margin-left:7px; background:none;}
/*.list_rv button.active {background:url('../../images/mobile/common/btn_star.png') no-repeat 0 0; background-size:98px 35px;}*/
.list_rv button:first-child {margin-left:0;}
.list_rv:before {display:block; position:absolute; top:0; left:0; height:17px; content:''; background-image:url('../../images/mobile/common/btn_star.png'); background-size:118px 35px; -webkit-transition: width 0.2s;-moz-transition: width 0.2s;-o-transition: width 0.2s;-ms-transition: width 0.2s;transition: width 0.2s;}
.list_rv.s10:before {width:20%;}
.list_rv.s20:before {width:40%;}
.list_rv.s30:before {width:60%;}
.list_rv.s40:before {width:80%;}
.list_rv.s50:before {width:100%;}
.list_rv2.gap {padding-left:90px;}
.list_rv2 {display:box;display:-webkit-box;display:-moz-box;box-orient:horizontal;-webkit-box-orient:horizontal;-moz-box-orient:horizontal;}
.list_rv2 .item {height:33px; box-flex:1;-webkit-box-flex:1;-moz-box-flex:1;width:100%;margin-left:-1px;}
.list_rv2 .item button {display:block; width:100%; height:33px; border:1px solid #ddd; font-size:11px; line-height:31px; letter-spacing:-1px; color:#666; text-align:center; box-sizing:border-box;-webkit-box-sizing:border-box;}
.list_rv2 .item.active {position:relative;}
.list_rv2 .item.active button {border:1px solid #0162b1; color:#0162b1; font-weight:bold;}
.list_rv2 .item.active button span:before { display:inline-block; content:''; width:7px; height:5px; margin-right:4px; background:url('../../images/mobile/my/ico_chk01.png') no-repeat 0 0; background-size:7px 5px;}
.prd_cmt_wr .btn_list02 {margin:0 -12px; padding:15px 12px 25px; border-top:1px solid #dfdfdf;}
.btn_list02.bg01 {background:#ededed;}

/* 이벤트 참여 현황 */
.my_evt {padding:0 12px 0;}
.my_evt .list_evt01 {margin-top:15px; border-top:1px solid #ddd;}
.my_evt .list_evt01 > li {position:relative; min-height:44px; padding:12px 68px 12px 12px; border-bottom:1px solid #ddd; display:box; box-orient:vertical;box-pack:center;display:-webkit-box;-webkit-box-orient:vertical;-webkit-box-pack:center;display:-moz-box;-moz-box-orient:vertical;-moz-box-pack:center;}
/*.my_evt .list_evt01 > li:last-child {border-bottom:none;}*/
.my_evt .list_evt01 .tx_period {display:block; font-size:12px; color:#666;}
.my_evt .list_evt01 .stit {font-size:13px; font-weight:bold;}
.my_evt .list_evt01 a.stit {text-decoration:underline;}
.my_evt .list_evt01 .list_bul {margin-top:4px;}
.my_evt .list_evt01 .suc {display:block; position:absolute; top:50%; right:12px; width:44px; height:44px; margin-top:-22px; content:''; background:url('../../images/mobile/my/ico_evt01.png') no-repeat 0 0; background-size:88px 44px;}
.my_evt .list_evt01 .fail {display:block; position:absolute; top:50%; right:12px; width:44px; height:44px; margin-top:-22px; content:''; background:url('../../images/mobile/my/ico_evt01.png') no-repeat -44px 0; background-size:88px 44px;}
.my_evt .list_bul {}
.my_evt .list_bul li {padding-left:8px; font-size:12px;}
.my_evt .list_bul li:before {display:block; float:left; content:''; width:2px; height:2px; margin:5px 0 0 -8px; background:#333;}
.cont_evt01 {padding-top:15px;}
.my_evt .cont_evt01 .goods_list_more , .my_evt .cont_evt02 .goods_list_more {margin:-1px -12px 0; padding:0 12px; min-height:inherit;}
.cont_evt02 .goods_list_more { margin-top:13px;}
.cont_evt02 {padding-top:15px;}
.cont_evt02 .lnk_evt {display:-webkit-box; -webkit-box-orient:horizontal;}
.cont_evt02 .lnk_evt a {display:block; box-flex:1;-webkit-box-flex:1;-moz-box-flex:1; text-align:center;}
.cont_evt02 .lnk_evt a:first-child {margin-right:8px;}
.cont_evt02 .lnk_evt a img {width:144px; height:40px;}

.my_evt .list_evt02 {margin-top:15px; border-top:1px solid #ddd;}
.my_evt .list_evt02 > li {position:relative; min-height:44px; padding:0 12px; border-bottom:1px solid #ddd; display:box; box-orient:vertical;box-pack:center;display:-webkit-box;-webkit-box-orient:vertical;-webkit-box-pack:center;display:-moz-box;-moz-box-orient:vertical;-moz-box-pack:center;}
/*.my_evt .list_evt02 > li:last-child {border-bottom:none;}*/
.my_evt .list_evt02 .tx_period {display:block; font-size:12px; color:#666;}
.my_evt .list_evt02 .stit {position:relative; display:box; box-orient:vertical;box-pack:center;display:-webkit-box;-webkit-box-orient:vertical;-webkit-box-pack:center;display:-moz-box;-moz-box-orient:vertical;-moz-box-pack:center; height:68px; padding-right:56px;}
.my_evt .list_evt02 .stit em {overflow:hidden; display:-webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp:2; height:30px; font-size:13px; font-weight:bold;}
.my_evt .list_evt02 a.stit {text-decoration:underline;}
.my_evt .list_evt02 .suc {display:block; position:absolute; top:50%; right:0; width:44px; height:44px; margin-top:-22px; content:''; background:url('../../images/mobile/my/ico_evt01.png') no-repeat 0 0; background-size:88px 44px;}
.my_evt .list_evt02 .fail {display:block; position:absolute; top:50%; right:0; width:44px; height:44px; margin-top:-22px; content:''; background:url('../../images/mobile/my/ico_evt01.png') no-repeat -44px 0; background-size:88px 44px;}
.my_evt .list_evt02 .set_suc {border-top:1px solid #ddd; padding:12px 0;}
.my_evt .list_evt02 .deliv_state {display:block; float:left; margin-top:3px; font-size:13px; font-weight:bold; color:#0162b1;}
.my_evt .list_evt02 .btns {float:right;}
.my_evt .list_evt02 .my_btn01 > span {font-weight:normal;}

/* 환불 계좌 관리 */
.my_refund_acnt {background:#fff; padding:0 12px;}
.my_refund_acnt .ord_box01.refund {margin:0; margin-bottom:15px;}
.my_refund_acnt .box_mra_regist {padding-top:20px;}
.box_mra {display:box; box-orient:vertical;box-pack:center;display:-webkit-box;-webkit-box-orient:vertical;-webkit-box-pack:center;display:-moz-box;-moz-box-orient:vertical;-moz-box-pack:center; height:166px; border-bottom:1px solid #ccc; text-align:center;}
.box_mra .bank {display:block; font-size:18px; font-weight:bold;}
.box_mra .acnt_num {display:block; font-size:20px; font-weight:bold; color:#0162b1;}
.box_mra .acnt_holder {display:block; margin-top:14px; font-size:14px;}
.my_refund_acnt .btn_list02 {margin:0 -12px; padding:12px; border-bottom:1px solid #ddd;}
.my_refund_acnt .btn_list02.bg01 {border-bottom:none;}
.my_refund_acnt .my_nolist {padding:45px 0; border-bottom:1px solid #ddd;}
.btn_list02.typ_div {display:-webkit-box; -webkit-box-orient:horizontal;}
.btn_list02.typ_div li {-webkit-box-flex:1; float:none; width:100%;}
.my_con .set_tab ul {}
.my_con .set_tab li {position:relative;width:100%;-webkit-box-flex:1; margin-left:-1px; border:1px solid #ccc; border-bottom:1px solid #000; background:#f5f6f7;display:box; box-orient:vertical;box-pack:center;display:-webkit-box;-webkit-box-orient:vertical;-webkit-box-pack:center;display:-moz-box;-moz-box-orient:vertical;-moz-box-pack:center;}
.btn_list02 li.full {width:100%;}
.btn_list02 li.full a {margin-left:0; margin-right:0;}

/* 주문정보 수신 설정 */
.my_recpt_msg .recpt_info { padding:35px 0 30px; font-size:15px; letter-spacing:-1px;}
.my_recpt_msg {background:#fff; padding:16px 12px 0;}
.my_recpt_msg .cont {position:relative; padding-bottom:37px; margin-bottom:16px; border:1px solid #cbcbcb; text-align:center;}
.my_recpt_msg .cont:after {position:absolute; bottom:-2px; left:-1px; right:-1px; display:block; content:''; height:1px; background:rgba(0,0,0,0.1)}
.box_rdo_msg li {display:inline-block; margin-right:8px;}
.box_rdo_msg li:not(:first-child) {margin-left:-5px;}
.box_rdo_msg li:last-child {margin-right:0;}
.box_rdo_msg li:nth-of-type(1) input[type='radio'] {display:block; width:89px; height:114px; border:1px solid #bebebe; background:url('../../images/mobile/my/bg_recpt_msg.png') no-repeat 0 -114px; background-size:178px 228px; cursor:pointer;}
.box_rdo_msg li:nth-of-type(1) input[type='radio']:checked {border:1px solid #0162b1; background-position:-89px -114px;}
.box_rdo_msg li:nth-of-type(2) input[type='radio'] {display:block; width:89px; height:114px; border:1px solid #bebebe;background:url('../../images/mobile/my/bg_recpt_msg.png') no-repeat 0 0; background-size:178px 228px; cursor:pointer;}
.box_rdo_msg li:nth-of-type(2) input[type='radio']:checked {border:1px solid #0162b1; background-position:-89px 0;}
.my_recpt_msg .list_bar_gray {margin-top:16px; border-top:1px solid #e1e1e1;}