@charset "UTF-8";

$imgUrl : '../../../images/pcweb/kms_pcweb/';
$point_kms : #004C34;
$point_kms2 : #2C8846;
$point_kms3 : #7FBA34;
$sub_kms : #C2492E;
$sub_kms2 : #72C1B1;
$sub_kms3 : #8F9293;
$sub_kms4 : #EDD350;
$sub_kms5 : #2D8AB3;
$txt_kms : #191919;
$txt_kms2 : #8F9293;
$txt_kms3 : #C7C7C7;
$txt_kms4 : #FFFFFF;
$bdr_kms: #444445;
$bdr_kms2: #F1F1F1;
$btn_kms: #DDDDDD;
$font_kmsE:"Roboto",sans-serif;

@mixin ellip_sp{white-space:nowrap;text-overflow:ellipsis;}
@mixin clamp1{overflow:hidden;display:-webkit-box !important;display:block;text-overflow:ellipsis;-webkit-line-clamp:1;line-clamp:1;-webkit-box-orient:vertical;box-orient:vertical;}
@mixin clamp2{overflow:hidden;display:-webkit-box !important;display:block;text-overflow:ellipsis;-webkit-line-clamp:2;line-clamp:2;-webkit-box-orient:vertical;box-orient:vertical;}
@mixin relative_block{display:block;overflow:hidden;position:relative;}
