@charset "utf-8";
/* PIONNET Web Standardization Team (//www.pionnet.co.kr/) 20210104 */

@import "base";

.container.crt{
	.footer_kms{padding-bottom:152px;}
	.btn_top{bottom:calc(constant(safe-area-inset-bottom) + 110px);bottom:calc(env(safe-area-inset-bottom) + 110px);-webkit-transition:none;transition:none;}
	.btn_arm{bottom:calc(constant(safe-area-inset-bottom) + 160px);bottom:calc(env(safe-area-inset-bottom) + 160px);-webkit-transition:none;transition:none;}
	.contents{padding-bottom:0;}
}
.bundle_open .container.crt{
	.btn_top{bottom:calc(constant(safe-area-inset-bottom) + 75px);bottom:calc(env(safe-area-inset-bottom) + 75px);}
	.btn_arm{bottom:calc(constant(safe-area-inset-bottom) + 125px);bottom:calc(env(safe-area-inset-bottom) + 125px);}
}
.cartTabFxd{position:relative;height:44px;
	.ktabs{left:0;right:0;max-width:768px;margin:0 auto;@include pos($pos:ab,$l:0,$t:0,$z:19,$w:100%);background:#fff;
		button{
			 em{margin-left:2px;@include robo_400;}
			 &[aria-selected='true'] em{font-weight:700;}
		 }
		 &.fixed{position:fixed;}
	}
}
.ktabs>div{border-bottom:$bk6 1px solid;
	button{margin-bottom:-1px;border:none;}
}
.listNone{padding:75px 0;}
.cart_con{border:none !important;}

.cartTopFxd{position:relative;height:52px;
	>div{overflow:hidden;@include pos($pos:ab,$l:0,$r:0,$t:0,$z:18,$w:100%,$h:52px);max-width:768px;margin:0 auto;padding:12px 12px 0;border-bottom:#fff 1px solid;background:#fff;box-sizing:border-box;
		&.fixed{position:fixed;border-color:$bk5;}
		.chk{float:left;margin-top:4px;}
		.rtl{float:right;}
	}
}
.ordTop_log{overflow:hidden;padding:15px 15px 17px;background:$bk5;@include font_k($fz:13px,$lh:19px,$ta:center);
	a{display:inline;color:$kms;text-decoration:underline;}
}
div[id^='panel_cart_']{display:none;}
div[id='panel_cart_0']{display:block;}
.tit_delivery{height:auto;padding-top:5px;margin:0 0 15px;@include font_k($c:$bk,$lh:22px);}

.sel_group{border-color:$bk6;
	input{top:8px;left:12px;}
	label{display:inline-block !important;letter-spacing:-0.5px;}
}
.basket_box{margin-top:5px;
	&.soldout .soldout_con .btn_area .btn_brd01.c01{border-radius:3px;border-color:$bk4;}
}
.prd_group{margin:0 0 25px;border:none;}
.basket_prd{overflow:hidden;margin:0;padding:12px 12px 0;border:$bk6 1px solid;
	.top_chkbox{height:20px;margin-bottom:12px;
		input[type="checkbox"]{display:block;float:left;@include pos($pos:re,$w:20px,$h:20px);border:none;opacity:1;@include bg_common(-87px -19px);
			&:checked{background-position:-107px -19px;}
			&:disabled{background-position:-132px -100px;}
		}
		.right{float:none;@include pos($pos:ab,$r:8px,$t:7px);
			a{display:block;position:relative;float:left;width:27px;height:27px;margin:0;background:none;
				+a{margin-left:6px;}
				&:after{@include cont_ab(17px, 17px);@include bg_trs(xy);margin:auto;@include bg_common(-151px -152px);}
				&.btn_wish:after{background-position:-151px -152px;}
				&.btn_wish[aria-pressed='true']:after{background-position:-151px -169px;}
				&.btn_del:after{background-position:-151px -186px;}
			}
		}
	}
	+.basket_prd{margin-top:12px;}
	.basket_txt{margin:0 0 14px;
		.prodname{display:inline;@include font_k($c:$bk,$fw:400,$lh:18px);white-space:normal;}
		.prodtit{@extend .prodname;margin-right:2px;}
		.prodprice{margin-top:2px;@include font_e($c:$bk,$fw:700,$fz:16px,$lh:22px);
			.won{margin-left:2px;@include noto_400($fz:12px);}
			.dc{@include noto_400;}
		}
		.pic .ico_soldout{background:rgba(255,255,255,0.8);
			span{color:$bk4;font-weight:700;letter-spacing:0;}
		}
		.prodopt{line-height:20px;
			em{font-weight:400;}
		}
		.soldout{margin-top:6px;@include font_k($c:$kms4,$fw:400,$lh:16px);}
		.case02 em{font-weight:400;}
	}
	.sel{min-height:40px;margin:0 0 12px;padding:0 86px 0 88px;
		.opt{position:relative;height:40px;padding:0 30px 0 10px;border-color:#ddd;background:none;border-radius:3px;@include font_k($c:$bk,$lh:38px);
			&:after{@include cont_ab(12px,7px,$r:15px);@include bg_trs(y);@include bg_common(-48px -241px);}
			&.on{background:none;
				&:after{background-position:-60px -241px;}
			}
		}
		.btn_line01.c02{width:80px;height:40px;border:$kms2 1px solid !important;background:#fff !important;box-sizing:border-box;
			strong{color:#7FBA34 !important;font-weight:400 !important;font-size:13px !important;line-height:38px !important;letter-spacing:-0.5px !important;}
		}
		.absL{overflow:hidden;width:83px;height:40px;border:$kms 1px solid;border-radius:3px;box-sizing:border-box;
			&:after{@include cont_ab(24px,100%,$r:0,$t:0);background:$kms;}
			a{@include pos($pos:re,$z:2,$w:100%,$h:100%);margin:0;padding:4px 24px 0 0;color:$kms !important;@include font_k($fz:10px,$lh:16px);box-sizing:border-box;
				&:after{@include cont_ab(11px,11px,$r:7px);@include bg_trs(y);@include bg_common(-93px -141px);background-color:transparent;}
				.ico_coupon{margin-top:-2px;@include font_e($c:$kms,$fw:700,$fz:14px,$lh:18px,);}
			}
		}
		.num{position:relative;padding:5px 0;
			.numbox{width:108px;height:30px;
				.inp_txt{display:block;overflow:hidden;float:left;width:48px;height:30px;padding:0 3px;border-top:#ddd 1px solid !important;border-bottom:#ddd 1px solid !important;border-radius:0 !important;background:none;color:#191919;font-weight:bold;font-size:14px;line-height:28px;text-align:center;font-family:'Roboto';letter-spacing:0;}
				.minus, .plus{display:block;overflow:hidden;position:relative;float:left;width:30px;height:30px;border:#ddd 1px solid;border-radius:0 3px 3px 0;background:#fff;box-sizing:border-box;
					&:after{@include cont_ab(10px,10px,$l:50%,$t:50%);margin:-5px 0 0 -5px;@include bg_common(-137px -142px);}
				}
				.minus{border-radius:3px 0 0 3px;}
				a.minus:after{background-position:-147px -142px;}
				a.plus:after{background-position:-137px -142px;}
				span.minus:after{opacity:0.5;background-position:-167px -142px;}
				span.plus:after{opacity:0.5;background-position:-157px -142px;}
			}
		}
	}
	.opt_open{overflow:hidden;margin:0 -12px;border:none;
		dl{padding:12px;}
		.numbox{width:114px;
			.inp_txt{background:none;@include font_e($fw:700,$lh:32px);}
			.minus, .plus{@include relative_block($w:32px,$h:32px);border:#D4D4D8 1px solid;border-radius:100%;background:#fff;box-sizing:border-box;
				img{display:none;}
				&:after{@include cont_ab(10px,10px,$l:50%,$t:50%);margin:-5px 0 0 -5px;@include bg_common(-137px -142px);}
			}
			span.minus, span.plus{background:#F1F1F5;}
			a.minus:after{background-position:-147px -142px;}
			a.plus:after{background-position:-137px -142px;}
			span.minus:after{background-position:-167px -142px;}
			span.plus:after{background-position:-157px -142px;}
		}
	}
}
.prd_total{margin:0;min-height:auto !important;padding:14px 12px 17px !important;border:none;background:$bk5;line-height:normal !important;
	+.basket_prd{margin-top:12px;}
	>span{color:$bk;}
	.price{@include font_e($fw:400,$fz:16px,$lh:20px,$ls:0);
		em{@include noto_400($fz:12px);}
	}
	.pricePg{@extend .price;font-weight:700 !important;}
	.save_info{margin-top:4px;color:$bk8;font-size:12px;line-height:16px;
		em{margin-left:3px;color:$kms3;}
		.goto_shop{display:block;position:relative;margin-top:1px;padding-right:12px;@include font_k($c:$kms3,$fz:11px,$lh:18px,$td:underline);
			&:after{@include cont_ab(7px,11px,$r:0,$t:50%);margin-top:-5px;@include bg_common(-41px -237px);}
		}
	}
	.qck_tx{margin-top:4px;@include font_k($c:$bk8,$fz:13px,$lh:16px);}
	&.qck .qck_info span .q_store{color:$bk;}
	.store.line01{max-width:36%;
		.shop{overflow:hidden;height:16px;margin-top:13px;line-height:16px;}
		.location{overflow:hidden;height:14px;color:$bk8;line-height:14px;}
	}
	.shop_tx{padding:10px 0 6px 10px;
		&:before{top:12px;}
	}
}
.basketwrap{left:0;right:0;max-width:768px;margin:0 auto;background:rgba(0,0,0,0.8);padding-bottom:constant(safe-area-inset-bottom);padding-bottom:env(safe-area-inset-bottom);
	.basketback_tb{border-color:rgba(255,255,255,0.2);
		.btn_buy a{border-radius:3px;background:$kms2;
			strong{font-weight:400;font-size:14px;}
		}
		.num{@include font_e;}
	}
	.basket_total{
		.price{font-weight:400;letter-spacing:-0.5px;
			.num{font-weight:400;
				em{margin-right:2px;@include robo_700;}
			}
		}
	}
}
.top_deli{
	.addr{color:$kms;}
	em{background-image:url($imgUrl+'mys/ico_num.png');}
}
.basket_txt{
	.prodtit, .prodname{display:inline;color:$bk;font-weight:400;white-space:normal;}
}
.ord_box01 .tab_con .msg_info, 
.sor_txt dt, 
.sor_txt dd em,
.ord_box01 .tab_con li .box_con .noti,
.prd_group .txt_info,
.basket_prd .ord_coupon .right,
.prd_total .shop_tx,
.prd_total .shop_tx:before,
.ord_box02 .tab_con li .box_con em,
.pnt_dl .time_left,
.pnt_dl .pnt_fin,
.ord_sum li .price .coupon,
.ord_sum li.total .txt,
.ord_sum li.total .price,
.ord_box02 .tab_con li .box_con .coupon,
.ord_ok .gray_box .ord_num em,
.pay_info .pay_total .pay_all .txt, 
.pay_info .pay_total .pay_all .price,
.pay_info .pay_total ul li .price .coupon{color:$kms;}
.ord_agree{
	.all_agreement{position:relative;}
	.ord_tit .tit_order{height:42px;padding-top:11px;box-sizing:border-box;
		label{height:20px;padding-right:35px;vertical-align:top;@include ellip;}
	}
}
.btn_order{background:#ededed;
	>a{border-radius:3px;background:$kms2;}
	a{border-radius:3px;}
}
.ord_tit .txt_order{
	.coupon, strong{color:$kms4;}
	a.btn_s{line-height:22px;vertical-align:middle;}
}
.ord_box01 .tab_con{
	.count{border-radius:3px;background:$bk5;
		~ .msg_info{border:none;}
	}
	.shipping_new .top_chk{position:relative;
		label{display:inline-block;}
	}
	.numbox{
		.inp_txt{background:none;}
		span img, a img{border-radius:100%;}
	}
	li .box_con{color:$bk;letter-spacing:-0.5px;
		.inp_tel01 li{
			input, select{@include font_e($fz:13px);}
		}
		.msg_selected span{border-radius:3px;}
	}
}
div[class^='step'] .basket_prd{padding:12px;}
.pkg_wrap, .pkg_wrap+.prd_total02, .prd_total02{border-color:$bk6;}
.prd_total02{margin-top:-1px;
	&:before{border:none;}
}
.ord_tit .tit_order .dtl_lnk{display:inline;}
.sel_rsv_date table{
	thead th{@include font_k($c:$bk,$fw:400,$fz:13px);}
	tbody th{@include font_e($c:$bk,$fz:13px,$ls:-0.5px);}
	input[type="radio"]{position:relative;top:auto;left:auto;opacity:1;transform:translateZ(0);}
}
.tab_list02 li{
	a{@include font_k($lh:38px);}
	&.selected{background:none;
		a{background:$kms;border-color:$kms;font-weight:400;}
	}
	&:first-child a{border-radius:3px 0 0 3px;}
	&:last-child a{border-radius:0 3px 3px 0;}
}
.ord_box02{
	.tab_con li{
		.box_tit{width:96px;
			.txt_poi{display:block;margin-top:-3px;line-height:18px;
				strong{@include font_e($ls:-0.5px);}
			}
		}
		.box_con .inp_point{
			input[type="text"]:disabled{color:$bk2;
				~.won{color:$bk2;}
			}
			button{width:73px;border-radius:3px;@include font_k($c:$bk,$lh:33px);}
			.won{line-height:36px;}
		}
	}
	dl dd{position:relative;}
}
.pkg_wrap>div label{
	input[type="radio"]{@include pos($pos:re,$l:auto,$t:auto);opacity:1;border:none !important;background-color:transparent !important;background-image:url($imgUrl+'common/ico_common.png') !important;background-repeat:no-repeat !important;background-size:250px 250px !important;background-position:-172px -100px !important;
		&:checked{background-position:-192px -100px !important;}
		&:disabled{background-position:-132px -120px !important;}
		&:checked:disabled{background-position:-152px -120px !important;}
	}
	.txt{@include font_k($c:$bk,$va:middle);}
}
.tab_pay_con .pay_receipt{
	.tit{position:relative;}
	.inp_box{position:relative;
		label{display:inline-block;}
		.inp_rdo + label{margin-left:30px;}
	}
	.inp_tel01 li{
		select, input{@include font_e($fz:13px,$ta:center);}
	}
}
.pnt_dl{
	.pnt_send{top:-40px;width:90px;border-radius:3px;background:$bk;font-size:13px;}
	.pnt_auth{border-radius:3px;background:$bk;font-size:13px;}
	.pnt_re{border-radius:3px;color:$bk;font-size:13px;}
}
.ord_payment .pay_chk{position:relative;}
.basket_notice{padding-bottom:40px;border:none;}
.pay_noti .box{letter-spacing:-0.5px;}
.tab_pay>li{
	a{border-radius:3px;}
	&.pay02 a span{line-height:14px;}
}
.cts_tit{border-bottom:$bk6 1px solid;}
.tbl_ship td em.address{border-color:$kms;color:$kms;}
.tzone{margin-top:10px;
	button{border-radius:3px;
		&.selected{border-color:$kms;background:$kms;}
	}
}
.ord_con .pnt_dl{
	.pnt_send{top:auto;width:85px;}
	.inp_box{
		input[type="checkbox"], input[type="radio"]{width:0;height:0;}
		input[type="checkbox"]+label, input[type="radio"]+label{display:inline-block;margin-left:0;margin-right:6px;}
	}
}
