@charset "utf-8";
.header_top_banner,.mall_select,.bs_selectbox,.hd_sch,.hd_bn,.hd_catg,.gnb_menu_wrap,.hd_tnb dd:nth-child(4),.hd_tnb dd:nth-child(5),.hd_tnb dd:nth-child(6){display:none!important;}
.renewal div.header, .renewal div.header .head{height: 162px;}
.renewal .header .head h1{width:170px;}
.renewal .header .head h1 img{width:100%;}
.renewal.header_fix div.hd_mall{margin:0}
.renewal.header_fix div.hd_tnb{right:0}
.renewal.header_fix div.hd_mall .tit .btn_home{width:150px; margin:11px 0 0;}
.renewal.header_fix div.hd_mall .tit .btn_home img{width: 100%;}