@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean');
.kidsMarketInsert *{font-family: 'Noto Sans KR', sans-serif;}
.kidsMarketInsert__titArea{margin:60px 0 35px; position: relative;}
.kidsMarketInsert__tit{font-size: 20px; font-weight: 700; letter-spacing: -0.05em; color:#000; font-weight: 500;} /* 20200721 수정 : PC수정 */
.kidsMarketInsert__more{position: absolute; bottom:3px; right: 0; font-size: 14px; color:#1a3f66; background-image: url('../../images/pcweb/kidsMarket/kids_arwRight_more.png'); background-size: 7px 12px ; background-position: right center; background-repeat: no-repeat; padding-right: 20px;} /* 20200721 수정 : PC수정 */

.kidsMarketInsert__stylingArea{position: relative;}
.kidsStyling{width: calc(100% + 20px); margin:0 -10px;}
.kidsStyling__list{height:auto!important}
.kidsStyling__list::after{content:''; display: block; clear: both;}
.kidsStyling__item{height: auto!important;}
.kidsStyling__item>a{margin: 0 10px; display: block;}
.kidsStyling__imgArea{margin-bottom: 20px; overflow: hidden; border-radius: 10px;} /* 20200721 수정 : PC수정 */
.kidsStyling__img{display: block; width:100%; padding-top: 100%; background-size: cover; background-position: center; background-repeat: no-repeat; transition: .3s;}
.kidsStyling__item:hover .kidsStyling__img{transform: scale(1.1);} 
.kidsStyling__profilePic{display: inline-block; width: 46px; height: 46px; border-radius: 9999px; background-size: cover; background-position: center; background-repeat: no-repeat;  vertical-align: middle; margin-right: 8px;} /* 20200721 수정 : PC수정 */
.kidsStyling__name{display: inline-block; vertical-align: middle; font-size: 16px; font-weight: 500; letter-spacing: -0.05em; color:#000}
.kidsStyling__btn{display: block; width:20px; height: 37px; position: absolute; top: 85px;background-size: contain; background-position: center; background-repeat: no-repeat; text-indent: -9999px; z-index: 100;} /* 20201203 수정 : 버튼위치 */
.kidsStyling__btn.disabled{display: none;}
.kidsStyling__btn--prev{left: 20px; background-image: url('../../images/pcweb/kidsMarket/kids_arwLeft_stSlide.png');} /* 20201203 수정 : 버튼위치 */
.kidsStyling__btn--next{right: 20px; background-image: url('../../images/pcweb/kidsMarket/kids_arwRight_stSlide.png');} /* 20201203 수정 : 버튼위치 */

.kidsMarketInsert__bannerArea{margin-top: 50px;}
.kidsMarketInsert__bannerArea img{width: 100%;}

/* 20201130 추가 : 유저스타일링 개편// */
.kidsMarketInsert__tit{font-weight: 500;}
.kidsMarketInsert__tit span{color:#1a3f66}
.kidsMarketInsert__btnArea{position: absolute; top:50%; right:0; transform: translateY(-50%); font-size: 0;}
.kidsMarketInsert__btn{display: inline-block; height: 30px; line-height: 28px; padding:0 10px; box-sizing: border-box; background: #fff; border:1px solid #9a9a9a; font-size: 12px; letter-spacing: -0.05em; font-weight: 500;}
.kidsMarketInsert__btn.kidsMarketInsert__btn--black{background: #242424; border-color: #242424; color:#fff;}
.kidsMarketInsert__btn + .kidsMarketInsert__btn{margin-left: 10px;}
.kidsMarketInsert__noneCase{background: #f0f0f0; padding:70px 0; font-size: 0; text-align: center;}
.kidsMarketInsert__noneCase a{display: inline-block; padding-top: 70px; background-image: url('../../images/pcweb/kidsMarket/kids_noneCase.png'); background-size: 52px; background-position: center top; background-repeat: no-repeat; font-size: 14px; letter-spacing: -0.05em; font-weight: 500;}
.kidsStyling__addItem{display: block; position: relative; padding-top: 100%; background: #f0f0f0; border-radius: 10px;}
.kidsStyling__addItem span{display: inline-block; position: absolute; top:50%; left:50%; transform: translate(-50%, -50%); padding-top: 70px; background-image: url('../../images/pcweb/kidsMarket/kids_noneCase.png'); background-size: 50px; background-position: center top; background-repeat: no-repeat; font-size: 14px; letter-spacing: -0.05em; font-weight: 500;}
/* //20201130 추가 : 유저스타일링 개편 */
