@charset "utf-8";

.header_top_banner, .mall_select, .bs_selectbox, .hd_sch, .hd_bn, .hd_catg, .gnb_menu_wrap {
  display: none !important;
}

.hd_tnb dd {
  &:nth-child(4), &:nth-child(5), &:nth-child(6) {
    display: none !important;
  }
}

.renewal {
  div.header {
    height: 162px;

    .head {
      height: 162px;
    }
  }

  .header .head h1 {
    width: 150px;

    img {
      width: 100%;
    }
  }

  &.header_fix div {
    &.hd_mall {
      margin: 0;
    }

    &.hd_tnb {
      right: 0;
    }

    &.hd_mall .tit .btn_home {
      width: 150px;
      margin: 11px 0 0;

      img {
        width: 100%;
      }
    }
  }
}