@charset "utf-8";
/* 웹폰트 */

@font-face {
  font-family:'jost';
  font-style:normal;
  font-weight:400;
  src:url(../../font/Jost-400-Book.eot);
  src:url(../../font/Jost-400-Book.eot?#iefix) format('embedded-opentype'),
       url(../../font/Jost-400-Book.woff2) format('woff2'),
       url(../../font/Jost-400-Book.woff) format('woff'),
       url(../../font/Jost-400-Book.ttf) format('truetype');
}

@font-face {
  font-family:'jost';
  font-style:normal;
  font-weight:600;
  src:url(../../font/Jost-600-Semi.eot);
  src:url(../../font/Jost-600-Semi.eot?#iefix) format('embedded-opentype'),
       url(../../font/Jost-600-Semi.woff2) format('woff2'),
       url(../../font/Jost-600-Semi.woff) format('woff'),
       url(../../font/Jost-600-Semi.ttf) format('truetype');
}


@font-face {
  font-family:'jost';
  font-style:normal;
  font-weight:700;
  src:url(../font/Jost-700-Bold.eot);
  src:url(../font/Jost-700-Bold.eot?#iefix) format('embedded-opentype'),
       url(../../font/Jost-700-Bold.woff2) format('woff2'),
       url(../../font/Jost-700-Bold.woff) format('woff'),
       url(../../font/Jost-700-Bold.ttf) format('truetype');
}