/* �궎�뵒留덉폆 濡쒓렇�씤 �뙘�뾽 css */

.con_addr input {
  &[type="text"], &[type="password"], &[type="number"], &[type="tel"], &[type="email"], &[type="date"] {
    padding: 0 8px;
    height: 35px;
    font-size: 13px;
    line-height: 35px;
    background: #fff;
    border: 1px solid #bebebe;
  }
}

.inp_lg {
  input {
    &[type="checkbox"] {
      width: 20px;
      height: 20px;
      background: #fff;
      border: 1px solid #bebebe;

      &:checked {
        background: #fff url("../../images/mobile/common/inp_chk.png") center center no-repeat;
        background-size: 13px 10px;
        -webkit-background-size: 13px 10px;
      }
    }

    vertical-align: middle;
  }

  label {
    vertical-align: middle;
  }

  span {
    word-break: break-all;
  }
}

.accessibility {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
}

.ir {
  display: block;
  overflow: hidden;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

.w100 {
  width: 99% !important;
}

.layer_fix {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 111;

  .btn_close {
    position: fixed;
    right: 0;
    top: 0;
    width: 17px;
    height: 17px;
    padding: 14px;
    z-index: 9999;
    background: url("../../images/mobile/common/pop_close01.png") center center no-repeat;
    background-size: 17px 17px;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
  }

  &.layer_login {
    z-index: 901;

    .pop_con {
      padding: 45px 0 0;

      .pop_txt {
        padding: 15px 12px 0;
      }
    }
  }
}

.pop_con .lg_area {
  padding: 0;
}

.lg_area {
  .pop_addr .tab_addr {
    height: 41px;
    border-bottom: 1px solid #333;

    &:after {
      display: block;
      clear: both;
      content: "";
    }

    li {
      float: left;
      position: relative;
      width: 50%;
      text-align: center;
      margin-bottom: 1px;
    }
  }

  padding: 20px 12px 50px;
  background: #fff;
  margin-bottom: -20px;

  .txt_info {
    padding: 25px 6px 12px;
    color: #666;
    font-size: 14px;
    letter-spacing: -1px;
    line-height: 16px;

    a {
      color: #333;
      font-weight: bold;
    }
  }

  .stxt {
    display: block;
    margin-top: 7px;
  }

  .keyb {
    text-align: right;
    margin: 0 6px 10px;

    .ico {
      padding-right: 18px;
      font-size: 13px;
      color: #999;
      background: url('../../images/mobile/my/ico_lg.png') right 1px no-repeat;
      background-size: 12px 25px;

      &.on {
        background-position: right -12px;
      }
    }
  }

  .keyi {
    display: none;

    img {
      max-width: 100%;
    }
  }

  .inp_lg {
    margin: 15px 6px 20px;

    li {
      margin: 0 0 12px;

      &:after {
        display: block;
        clear: both;
        content: "";
      }

      &:last-child {
        margin-top: 18px;
      }
    }

    input {
      &[type="tel"], &[type="date"] {
        padding: 0 8px;
        height: 35px;
        font-size: 12px;
        color: #333;
        background: #fff;
        border: 1px solid #bebebe;
      }
    }

    .chk {
      float: left;
      display: block;
      width: 50%;

      label {
        color: #333;
        font-size: 14px;
        line-height: 20px;
        vertical-align: middle;
      }
    }

    .noti {
      margin: 12px 0 20px;
      font-size: 14px;
      color: #c9000b;
      letter-spacing: -1px;
    }
  }

  .lg_btm {
    margin: 20px 6px 0;

    ul:after {
      display: block;
      clear: both;
      content: "";
    }

    li {
      float: left;
      width: 33.33%;
      text-align: center;

      a {
        display: block;
        padding: 10px 0;
        color: #666;
        font-size: 13px;
        border: 1px solid #ccc;
        margin-left: -1px;

        &:before {
          content: '';
          display: block;
          width: 25px;
          height: 22px;
          margin: 0 auto 7px;
          background: url('../../images/mobile/my/ico_lg2.png') no-repeat;
          background-size: 25px 75px;
        }
      }

      &.ico2 a:before {
        background-position: 0 -25px;
      }

      &.ico3 a:before {
        background-position: 0 -50px;
      }
    }

    .ty02 li {
      width: 50%;
    }
  }

  .pop_addr .tab_addr li {
    span {
      display: block;
      color: #999;
      font-size: 15px;
      height: 40px;
      line-height: 40px;
      border: 1px solid #ddd;
      border-bottom: 0;
      background: #f5f6f7;
      letter-spacing: -1px;
    }

    + li {
      span {
        border-left: 1px solid #333;
        margin-left: -1px;
      }

      &.on:after {
        right: 0;
      }
    }

    &.on {
      &:after {
        position: absolute;
        right: 1px;
        bottom: -2px;
        width: 100%;
        height: 4px;
        background: #fff;
        content: "";
      }

      span {
        font-weight: bold;
        color: #333;
        background: #fff;
        border-color: #333;
        border-bottom: 0;
      }
    }
  }

  .con_addr > div {
    display: none;

    &.on {
      display: block;
    }
  }

  .non_member {
    position: relative;
    padding: 0 110px 19px 0;

    span {
      display: block;
      font-size: 13px;
      color: #666;
    }

    .tit {
      font-weight: bold;
    }

    .btn_nm {
      position: absolute;
      right: 0;
      top: 0;
      width: 95px;
      height: 39px;
      color: #666;
      font-size: 13px;
      border: 1px solid #ccc;
      text-align: center;
      line-height: 39px;

      .ico1 {
        display: inline-block;
        height: 21px;
        line-height: 23px;
        padding-left: 23px;
        background: url('../../images/mobile/my/ico_lg2.png') -2px 0 no-repeat;
        background-size: 25px 75px;
      }
    }

    &.buy {
      padding-top: 19px;
      border-top: 1px solid #bebebe;

      .tit {
        color: #333;
      }

      .btn_nm {
        top: 19px;
        color: #333;
        border-color: #333;
      }
    }
  }
}

.layer_fix {
  .pop_tit {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    border-bottom: 1px solid #000;
    background: #fff;
    z-index: 99;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
  }

  .pop_con {
    a, button {
      outline: none;
    }
  }
}

a.btn_bg06, button.btn_bg06 {
  display: block;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 15px;
  text-align: center;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn_bg06.c01 {
  background: #242424;
}

.mt10 {
  margin-top: 10px !important;
}

/* �뙘�뾽 - 鍮꾨�踰덊샇 蹂�寃� �븣由� */

.lg_pop {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 120;

  .pop_con {
    margin: 20px 12px;
    background: #fff;
  }

  .lg_pwd {
    padding: 22px 12px 0;
    max-height: 360px;
    overflow-y: auto;

    .stxt1, .stxt2 {
      display: block;
      text-align: center;
    }

    .stxt1 {
      font-size: 16px;
      color: #000;
      font-weight: bold;

      em {
        color: #242424;
        font-weight: bold;
      }
    }

    .stxt2 {
      margin: 10px 0;
      font-size: 13px;
      color: #666;
    }

    .list {
      margin: 0 0 12px;
      border: 1px solid #bebebe;
      padding: 18px;
      background: #f8f8f8;

      li {
        color: #666;
        font-size: 13px;
        margin-bottom: 5px;

        &:before {
          content: '';
          margin-left: -5px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .btn_pop {
    margin: 20px 0 0;
    text-align: center;
    border-top: 1px solid #bebebe;
    background: #f8f8f8;

    a {
      display: block;
      height: 40px;
      line-height: 40px;
      font-size: 13px;
      color: #666;
    }
  }

  .btn_close {
    display: block;
    line-height: 40px;
    font-size: 13px;
    color: #666;
    margin: 20px 0 0;
    text-align: center;
    border-top: 1px solid #bebebe;
    background: #f8f8f8;
  }

  .btn_list02, .btn_ly {
    margin: 0 12px;
  }
}

/* 濡쒓렇�씤 �뙘�뾽硫붿떆吏� �뀥�뵆由� */

.pop_con .ly_box {
  padding: 25px 12px 15px;
  max-height: 240px;
  overflow-y: auto;

  .ly_tit {
    padding: 0 6px 15px;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }

  .ly_txt {
    padding: 15px 6px;
    color: #666;
    font-size: 13px;
    border-bottom: 1px solid #ddd;

    strong {
      color: #333;
    }

    li {
      margin: 4px 0 0;
      color: #666;
      font-size: 13px;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .btn_list02 {
    margin-top: 15px;
  }

  .btn_ly {
    width: 50%;
    margin: 15px auto;
  }

  .txt_top b {
    font-size: 14px;
  }
}

.layer_fix .btn_close span {
  width: 15px;
  height: 15px;
  font-size: 0;
  text-indent: -9999px;
}

.layer_pop {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;

  .btn_close {
    position: absolute;
    right: 12px;
    top: 12px;
    width: 17px;
    height: 17px;
    z-index: 9999;
    background: url(../../images/mobile/common/pop_close02.png) no-repeat;
    background-size: 17px 17px;

    span {
      width: 15px;
      height: 15px;
      font-size: 0;
      text-indent: -9999px;
    }
  }

  .pop_con {
    position: relative;
    margin: 50px;
    padding: 12px;
    background: rgba(17, 22, 37, 0.85);

    .pop_tit {
      color: #fff;
    }

    .pop_txt {
      color: #fff;
      font-size: 13px;
    }
  }
}

/* btn type9 */

a.btn_brd03, button.btn_brd03 {
  display: block;
  height: 40px;
  line-height: 40px;
  color: #333;
  font-size: 14px;
  text-align: center;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn_brd03 {
  &.c01 {
    color: #666;
    border: 1px solid #666;
    background: #fff;
  }

  &.c02 {
    border: 1px solid #0162b1;
    background: #fff;
  }

  &.c03 {
    border: 1px solid #999;
    background: #f8f8f8;
  }

  &.c04 {
    color: #333;
    border: 1px solid #333;
    background: #fff;
  }

  &.c05 {
    color: #666;
    border: 1px solid #666;
    background: #fff;
  }
}

/* btn type10 */

a.btn_bg06, button.btn_bg06 {
  display: block;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 15px;
  text-align: center;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn_bg06 {
  &.c01 {
    background: #242424;
  }

  &.c02 {
    background: #c66;
  }

  &.c03 {
    background: #000;
  }
}