/* 키디마켓 주소찾기 팝업 css */

.layer_fix .pop_con {
  position: relative;
  height: 100%;
  padding: 45px 0 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-overflow-scrolling: touch;

  .pop_txt {
    height: 100%;
    padding: 15px 12px;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    position: relative;

    .search_btns {
      position: relative;
      margin-bottom: 13px;

      .input_txt {
        width: 100%;
        height: 35px;
        padding: 0 35px 0 10px;
        border: 1px solid #bebebe;
        color: #333;
        line-height: 35px;
        box-sizing: border-box;
        -ms-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;

        &:focus {
          border: 1px solid #333;
          outline: none;
        }

        &.on {
          border: 1px solid #333;
          color: #333;
        }
      }

      button {
        &.add_sch_btn {
          background: url(../../images/mobile/common/add_sch.png) right center no-repeat;
          text-indent: -9999px;
          width: 17px;
          height: 18px;
          display: block;
          position: absolute;
          top: 9px;
          right: 11px;
        }

        &.add_sch_del {
          background: url(../../images/mobile/common/add_sch_del.png) right center no-repeat;
          text-indent: -9999px;
          width: 15px;
          height: 15px;
          display: block;
          position: absolute;
          top: 10px;
          right: 40px;
        }
      }
    }

    .txt_info p {
      height: 20px;
      line-height: 20px;
      color: #333;
      text-align: left;
      font-size: 12px;

      span {
        color: #c9000b;
      }

      em {
        font-weight: bold;
      }
    }

    .txt_info2 {
      margin-bottom: 14px;

      p {
        height: 20px;
        line-height: 20px;
        color: #333;
        text-align: left;
        font-size: 12px;

        span {
          color: #c9000b;
        }

        em {
          font-weight: bold;
        }

        &:first-child {
          display: block;
          margin-bottom: 10px;
        }

        &.no_data {
          font-weight: bold;
        }
      }
    }

    .adr_sreach_results {
      display: none;

      &.on {
        display: block;
      }

      .no_data {
        display: none;
        height: 470px;

        &.on {
          display: table;
        }
      }

      .results_list {
        display: none;

        &.on {
          display: block;
        }
      }

      .board_scroll {
        border-bottom: none;
        height: auto;
        overflow-y: scroll;
        overflow-x: hidden;
        margin-top: 8px;
        padding-right: 12px;
        position: absolute;

        table {
          border-top: 1px solid #666;
          width: 100%;
          display: none;

          &.active {
            display: block;
          }

          &.inner_active {
            display: block;
            border: none;

            td {
              padding: 0px;
              border: none;
              vertical-align: top;
            }
          }

          td {
            padding: 5px 0 7px 0;
            border-bottom: 1px solid #ddd;

            .zipcode {
              height: 22px;
              line-height: 22px;
              font-weight: bold;
              text-align: left;
              color: #333;
              font-size: 12px;
            }

            .road {
              margin: 5px 0;

              span {
                display: block;
                width: 40px;
                height: 15px;
                line-height: 15px;
                border: 1px solid #ccc;
                background: #fff;
                color: #666;
                text-align: center;
                font-size: 11px;
              }
            }

            .num {
              margin: 5px 0;

              span {
                display: block;
                width: 40px;
                height: 15px;
                line-height: 15px;
                border: 1px solid #eaeaea;
                background: #eaeaea;
                color: #666;
                text-align: center;
                font-size: 11px;
              }
            }

            .h20 {
              height: 20px;
            }

            .addr_road, .addr_num {
              min-height: 26px;
              line-height: 15px;
              text-align: left;
              padding-top: 5px;
            }

            .addr_road a, .addr_num a {
              color: #666;
              font-size: 12px;
            }

            .addr_road a:hover, .addr_num a:hover {
              text-decoration: underline;
            }
          }
        }

        &::-webkit-scrollbar {
          width: 5px;
          margin-right: 7px;
        }

        &::-webkit-scrollbar-track, &::-webkit-scrollbar-track-piece {
          background-color: #fff;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          background-color: #e5e5e5;
          width: 5px;
          min-height: 105px;
        }

        &::-webkit-scrollbar-button {
          width: 20px;
          height: 5px;
          background: #fff;
        }
      }
    }
  }
}

#post_layer .post {
  overflow-y: hidden;
}

.lp_dimm {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  filter: alpha(opacity = 90);
  opacity: .90;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  z-index: 110;
}