@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean');

.kidsMarketInsert {
  padding: 16px 0;
  background: #fff;

  * {
    font-family: 'Noto Sans KR', sans-serif;
  }
}

/* 20200716 수정 : 간격 수정 */

.kidsMarketInsert__titArea {
  margin: 0 15px 17px;
  position: relative;
}

/* 20200716 수정 : 간격 수정 */

.kidsMarketInsert__tit {
  font-size: 17px;
  letter-spacing: -0.05em;
  color: #000;
  font-weight: 500;
}

.kidsMarketInsert__more {
  position: absolute;
  bottom: 3px;
  right: 0;
  font-size: 12px;
  color: #1a3f66 !important;
  background-image: url('../../images/pcweb/kidsMarket/kids_arwRight_more.png');
  background-size: 5px 8px;
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 10px;
}

.kidsMarketInsert__stylingArea {
  position: relative;
}

.kidsStyling {
  width: 100%;
  padding: 0 7.5px;
  box-sizing: border-box;
}

/* 20201130 수정 : 유저스타일링 개편 */

.kidsStyling__list {
  height: auto !important;

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.kidsStyling__item {
  height: auto !important;

  > a {
    margin: 0 7.5px;
    display: block;
  }
}

.kidsStyling__imgArea {
  margin-bottom: 7.5px;
  overflow: hidden;
}

/* 20201130 수정 : 유저스타일링 개편 */

.kidsStyling__img {
  display: block;
  width: 100%;
  padding-top: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.kidsStyling__profilePic {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 9999px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 5px;
}

.kidsStyling__name {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.05em;
  color: #000;
}

/* 20201130 수정 : 유저스타일링 개편 */

.kidsMarketInsert__bannerArea {
  margin: 25px 15px 0;

  img {
    width: 100%;
  }
}

/* 20201130 추가 : 유저스타일링 개편// */

.kidsMarketInsert__tit {
  font-weight: 700;

  span {
    color: #1a3f66;
  }
}

.kidsMarketInsert__btnArea {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 0;
}

.kidsMarketInsert__btn {
  display: inline-block;
  height: 34px;
  line-height: 32px;
  padding: 0 10px;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #9a9a9a;
  font-size: 14px;
  letter-spacing: -0.05em;
  font-weight: 400;

  &.kidsMarketInsert__btn--black {
    background: #242424;
    border-color: #242424;
    color: #fff;
  }
}

.kidsMarketInsert__noneCase {
  background: #f0f0f0;
  margin: 0 15px;
  padding: 37.5px 0;
  font-size: 0;
  text-align: center;

  a {
    display: inline-block;
    padding-top: 60px;
    background-image: url('../../images/mobile/kids/kids_noneCase_mo.png');
    background-size: 50px;
    background-position: center top;
    background-repeat: no-repeat;
    font-size: 13px;
    letter-spacing: -0.05em;
    font-weight: 500;
  }
}

.kidsStyling__addItem {
  display: block;
  position: relative;
  padding-top: 100%;
  background: #f0f0f0;

  span {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    padding-top: 60px;
    background-image: url('../../images/mobile/kids/kids_noneCase_mo.png');
    background-size: 50px;
    background-position: center top;
    background-repeat: no-repeat;
    font-size: 13px;
    letter-spacing: -0.05em;
    font-weight: 500;
    text-align: center;
  }
}

.kidsMarketInsert__viewMoreArea {
  margin-top: 30px;
}

.kidsMarketInsert__viewMore {
  display: block;
  width: 211px;
  height: 34.5px;
  line-height: 32.5px;
  border: 1px solid #bebebe;
  font-size: 0;
  color: #333;
  background: #fff;
  text-align: center;
  margin: 0 auto;

  span {
    display: inline-block;
    font-size: 13px;
    vertical-align: middle;
  }

  i {
    display: inline-block;
    vertical-align: middle;
    width: 6.5px;
    height: 11px;
    background-image: url('../../images/mobile/kids/kids_viewMore.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 7px;
    margin-top: 1px;
  }
}

/* //20201130 추가 : 유저스타일링 개편 */

/* 20210503 수정 상품상세 내 카테고리 높이 :: s */

.renewal2 {
  .goods_wrap .catg_nav {
    top: 101px !important;
  }

  &.head_up .goods_wrap .catg_nav {
    top: 45px !important;
  }
}

/* 20210506 추가 : 카테고리 플로팅 위치 수정 */
/* 20210503 수정 상품상세 내 카테고리 높이 :: e */

/* 스크롤 방지 */

.scrollfix {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* Dim */

.dim {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99;
}

/* 20200813 수정 : 쿠폰 애니메이션 */

.dim--on {
  display: block;
}

.dim {
  &.dim--overBotNav {
    z-index: 101;
  }

  &.dim--underBotNav {
    z-index: 99;
  }
}

/* 20210224 수정 : 하단바 */
/* 20210224 수정 : 하단바 */

/* BotNav
   ==================================================*/

.botNav {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background: #fff;
  z-index: 100;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

  &.botNav--on {
    display: block;
  }
}

/* 20210224 수정 : 하단바 */

.botNav__list {
  background: #fff;
}

.botNav__item {
  float: left;
  width: 20%;
  background: #fff;

  > a {
    display: block;
    height: 45px;
    padding: 2.5px 0;
  }

  .botNav__menuName {
    display: block;
    text-align: center;
    color: #1a3f66;
    letter-spacing: -0.05em;
    font-size: 11px;
    line-height: 15px;
  }

  .botNav__menuIcon {
    display: block;
    height: 30px;
    background-position: center;
    background-size: auto 23px;
    background-repeat: no-repeat;
    padding: 0;
  }

  &.botNav__item--home {
    .botNav__menuIcon {
      background-image: url('../../images/mobile/kids/botNav1.png');
    }

    &.botNav__item--on .botNav__menuIcon {
      background-image: url('../../images/mobile/kids/botNav1_on.png');
    }
  }

  &.botNav__item--comu .botNav__menuIcon {
    background-image: url('../../images/mobile/kids/botNav2.png');
  }

  &.botNav__item--market .botNav__menuIcon {
    background-image: url('../../images/mobile/kids/botNav6.png');
  }

  &.botNav__item--my .botNav__menuIcon {
    background-image: url('../../images/mobile/kids/botNav4.png');
  }

  &.botNav__item--zzim .botNav__menuIcon {
    background-image: url('../../images/mobile/kids/botNav3.png');
  }
}

/* 20210209 추가 */

.botNav__uploadBtn {
  position: relative;
  top: -40%;
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border-radius: 100px;
  background: #1a3f66 url('../../images/mobile/kids/ico_navUpload.png');
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  -webkit-transition: .2s;
  transition: .2s;
  text-indent: -9999px;

  &.botNav__uploadBtn--on {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.botNav__uploadPanel {
  display: none;
  position: fixed;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 100%;
  z-index: -1;
  margin-bottom: 50px;
}

.botNav__uploadPanel--on {
  display: block;
}

/* uploadPanel */

.uploadPanel__item {
  position: relative;
  border-top: 1px solid #e0e0e0;
  background: #fff;
  box-shadow: 0 -5px 6px -6px rgba(0, 0, 0, 0.2) inset;

  &:first-child {
    border: 0;
    box-shadow: none;
  }

  > a {
    display: block;
    padding: 5.4vw 5.3vw 5.7vw 17vw;
    text-align: left;
    background-repeat: no-repeat;
    background-position: 4% center;
    background-size: auto 47%;
  }

  &.uploadPanel__item--pic > a {
    background-image: url('../../images/mobile/kids/ico_picUpload.png');
  }

  &.uploadPanel__item--story > a {
    background-image: url('../../images/mobile/kids/ico_storyUpload.png');
  }
}

.uploadPanel__tit {
  display: inline-block;
  font-size: 4.1vw;
  letter-spacing: -0.05em;
  margin-bottom: 0.3vw;
}

.uploadPanel__desc {
  font-size: 3.4vw;
  color: #888;
  letter-spacing: -0.05em;
}

.uploadPanel__badge {
  position: absolute;
  top: 17%;
  right: 4%;
  padding: 1.5vw 2vw;
  border-radius: 4px;
  background: #e94e52;
  color: #fff;
  font-size: 3.3vw;
  text-align: center;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1.7vw;
    right: 3vw;
    border-top: 1.8vw solid #e94e52;
    border-right: 2.6vw solid transparent;
  }
}

@media all and (min-width: 640px) {
  .uploadPanel__item > a {
    padding: 35px 34px 37px 109px;
    background-position: 30px center;
    background-size: auto 47%;
  }

  .uploadPanel__tit {
    font-size: 26px;
    margin-bottom: 2px;
  }

  .uploadPanel__desc {
    font-size: 22px;
  }

  .uploadPanel__badge {
    padding: 10px 13px;
    border-radius: 4px;
    font-size: 22px;

    &::after {
      bottom: -11px;
      right: 20px;
      border-top: 12px solid #e94e52;
      border-right: 17px solid transparent;
    }
  }
}

.btn_back, .btn_top {
  bottom: 60px;
}

/* 20210512 추가 : 뒤로, 위로가기 위치 수정 */

/* 20210527 추가 : 상품상세 하단 리스트 수정 :: s */

.renewal2 .goods_best .goods_list ul li {
  width: 140px;
}

/* 20210527 추가 : 상품상세 하단 리스트 수정 :: e */