.dim {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	z-index: 99;
}
.dim--on {
	display: block;
}
.dim.dim--overBotNav {
	z-index: 101;
}
.dim.dim--underBotNav {
	z-index: 99;
}
.sns_pop {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 80vw;
	z-index: 10000;
}
.sns_listWrap {
	background: #fff;
	padding: 6.7vw 12.6vw;
}
.sns_tit {
	font-size: 4.5vw;
	color: #000;
	text-align: center;
	padding: 4.5vw 0;
	background-color: #f4f4f4;
	letter-spacing: -0.05em;
	border-bottom: 1px solid #e0e0e0;
}
.sns_list {
	font-size: 0;
	li {
		display: inline-block;
		width: 16.2vw;
		padding-right: 3.1vw;
		vertical-align: top;
		a {
			display: block;
			img {
				width: 9vw;
				margin: 0 auto;
			}
			p {
				font-size: 2.7vw;
				letter-spacing: -0.05em;
				color: #000;
				text-align: center;
				margin-top: 2.3vw;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
		}
		&:nth-child(3n) {
			padding-right: 0;
		}
		&:nth-child(n+4) {
			a {
				margin-top: 6vw;
			}
		}
	}
}
.sns_con {
	padding: 4vw 4vw 6.7vw;
	background-color: #fff;
	p {
		font-size: 4vw;
		color: #000;
		letter-spacing: -0.05em;
	}
	textarea {
		resize: none;
		width: 100%;
		padding: 2.7vw;
		border: 1px solid #ccc;
		color: #000;
		font-size: 2.9vw;
		letter-spacing: -0.05em;
		box-sizing: border-box;
		margin-top: 4vw;
		height: 16vw;
		-webkit-appearance: none;
		border-radius: 0;
	}
}
.sns_close {
	display: block;
	font-size: 4vw;
	letter-spacing: -0.05em;
	color: #1a3f66;
	text-align: center;
	padding: 4.4vw 0;
	background-color: #fff;
}
.section_h {
	width: 100%;
	background-color: #f4f4f4;
	color: #000;
	text-align: center;
	font-size: 15px;
}
.ss_img {
	margin: 7.3vw -4vw 4vw;
	a {
		display: block;
	}
}
.push_con {
	padding: 4vw 4.7vw 3.3vw;
	background-color: #fff;
	h3 {
		font-size: 3.7vw;
		color: #000;
		letter-spacing: -0.05em;
		padding-bottom: 4vw;
		border-bottom: 1px solid #e0e0e0;
	}
}
.push_conText {
	margin-top: 4vw;
	p {
		font-size: 2.9vw;
		letter-spacing: -0.05em;
		color: #888;
		line-height: 4.3vw;
	}
}
.btn_popWrap {
	font-size: 0;
	background-color: #fff;
	a {
		display: inline-block;
		width: 50%;
		padding: 4.7vw 0;
		text-align: center;
		font-size: 4vw;
		box-sizing: border-box;
		border-top: 1px solid #ccc;
	}
	a.btn_popAgree {
		color: #1a3f66;
		border-right: 1px solid #ccc;
	}
	a.btn_popClose {
		color: #888;
	}
}
