@charset "utf-8";
@import "font_lux";
@import "header";
@import "color";
@include brandMallHdr("luxury");
@mixin jost($weight){
	font-family:"jost","Nanum Gothic",sans-serif;
	@if($weight=="book") {font-weight:400;}
	@if($weight=="semi") {font-weight:600;}
	@if($weight=="bold") {font-weight:700;}
}
.luxury{
	&.renewal2_brand{ // 우선순위 점유

		//검색 레이어
		.layer_fix .sch_wrap{background:#000;
			.sch_box{padding:5px 60px 0 7px;background: #fff;border-radius:0;border:1px solid #eee;}
			.qr{background-image: url(../../images/mobile/common/btn_bcd_mixxo.png);}
		}
		.layer_fix .sch_btn{background-image: url(../../images/mobile/category/btn_sch_form_mixxo.png);}
		.layer_fix .sch_cls{color:#fff;}
		.layer_fix .sch_mid .kwd_wrap .tab_schkwd ul li a.on:after{background:#000;}
	}

	//게이트웨이
	.gategway{position:relative;width:100vw;height:100vh;background-size:cover;
		.wrap{position:absolute;top:50%;width:100%;height:117px;margin-top:-80px;
			.logo{width:130px;height:50px;margin:0 auto 24px;
				img{display:block;width:100%;height:100%;}
			}
		}
		.btns{display:flex;padding:0 12px;
			a{flex:1;height:44px;text-align:center;line-height:44px;color:#fff;background:rgba(0,0,0,85%);@include jost(semi);
				+a{margin-left:7px;}
			}
		}
	}


	//메인 배너
	.main_bn_wrap{
		.pagination_bar{position:absolute;bottom:0;left:0;right:0;height:3px;line-height:0;font-size:0;z-index:1;
			.bar{width:100%;height:100%;background:#000;transition:width 0.3s ease;opacity:1;
				&.notransit{transition:width 0.1s;opacity:0;}
			}
		}
		.main_bn{background:#fff;
			.swiper-slide{
				.g_info{position:absolute;bottom:0;left:0;width:100%;height:123px;padding:34px 17px 0;color:#fff;text-align:left;box-sizing:border-box;
					&:before{position:absolute;bottom:0;left:0;width:100%;height:100%;background:url("../../images/mobile/main/bg_lux_mbnr.png") repeat-x 0 bottom;background-size:1px 123px;content:"";}
					.g_tit{position:relative;display:block;height:42px;line-height:21px;font-size:17px;font-weight:bold;letter-spacing:0;}
					.desc{position:relative;height:24px;line-height:24px;font-size:13px;letter-spacing:0;}
				}
			}
		}
	}

	//weekly new
	.weekly_new{height:178px;margin-bottom:8px;padding-top:20px;background:#fff;
		.swiper-wrapper{height:100%;
			.swiper-slide{height:100%;
				>a{display:block;width:140px;height:100%;padding-right:25px;box-sizing:border-box;
					img{display:block;width:115px;height:115px;}
					.g_info{display:block;height:34px;margin-top:10px;padding:0 4px;line-height:17px;font-size:13px;color:#555;text-align:center;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-wrap:break-word;}
				}
			}
		}
		.weekly{position:relative;width:155px;height:100%;
			.new_sum{position:relative;width:100%;height:100%;padding:0 0 0;box-sizing:border-box;
				.align{position:absolute;top:0;bottom:0;left:0;right:0;height:100%;margin:auto;letter-spacing:0;color:#222;text-align:center;
					.title{position:relative;display:inline-block;height:28px;margin-top:23px;line-height:13px;font-size:14px;font-weight:normal;font-weight:400;font-family:"jost","Roboto","Droid Sans","Apple-Gothic","dotum";
						&:after{position:absolute;bottom:0;left:0;right:0;width:16px;height:1px;margin:0 auto;background:#222;content:"";}
					}
					.type{display:block;height:68px;line-height:65px;font-size:24px;font-weight:bold;font-weight:400;font-family:"jost","Roboto","Droid Sans","Apple-Gothic","dotum";}
					.more{display:block;height:15px;line-height:14px;font-size:14px;font-weight:bold;
						em{font-weight:bold;}
						&:after{display:inline-block;width:8px;height:8px;vertical-align:1px;border:solid #222;border-width:0 2px 2px 0;box-sizing:border-box;transform:rotate(-45deg);content:"";}
					}
				}
			}
		}
	}
	//카테고리 배너
	.cate_bn{
		ul{width:100%;margin-bottom:8px;
			li{position:relative;width:100%;height:auto;
				a{display:block;
					img{display:block;width:100%;height:auto;}
					span{position:absolute;top:0;bottom:0;right:23px;height:30px;margin:auto 0;padding:0 24px 0 0;line-height:30px;font-size:15px;font-weight:400;font-family:"jost","Roboto","Droid Sans","Apple-Gothic","dotum";letter-spacing:0;text-align:right;
						&:after{position:absolute;top:0;bottom:0;right:0;width:17px;height:7px;margin:auto 0;background:url("../../images/mobile/main/arrow_lux_cate.png") no-repeat;background-size:17px 7px;content:"";}
					}
				}
			}
		}
	}
	.cate_bn_2n{margin-bottom:8px;
		ul{display:flex;flex-wrap:wrap;margin-left:-8px;padding:20px 17px 12px;background:#fff;box-sizing:border-box;
			li{flex:0 0 50%;
				a{position:relative;display:block;margin:0 0 8px 8px;}
				img{display:block;width:100%;height:100%;object-fit:cover;}
				span{position:absolute;bottom:10px;left:10px;right:10px;height:13px;margin:auto;line-height:13px;font-size:13px;font-weight:bold;color:#fff;letter-spacing:-0.02em;overflow:hidden;}
			}
		}
	}

	//메인 - 기획전
	.lux_plan{padding:0 0 40px;background:#fff;
		&:last-child{margin-bottom:8px;}
		&.type_fix{
			.plan_goods .g_link{width:calc((100vw - 34px) / 3.3722222222);height:calc((100vw - 34px) / 3.3722222222 + 98px);
				.g_img{width:100%;height:auto;}
			}
		}
		.plan_bnr{position:relative;padding:0 0 39px;
			>a{display:block;}
			img{display:block;width:100%;height:auto;}
			.plan_info{position:absolute;bottom:0;left:17px;right:0;height:79px;margin:0 auto;padding:0 0 0 20px;background:#fff;
				.plan_tit{display:block;height:40px;margin-top:10px;line-height:40px;font-size:22px;font-weight:bold;color:#000;letter-spacing:-0.02em;}
				.plan_stit{display:block;font-size:14px;line-height:16px;letter-spacing:-0.02em;color:#888;}
			}
		}
		.plan_goods{padding:0 17px;
			.swiper-slide{margin-right:-0.02px;}
			.g_link{position:relative;display:block;width:100px;height:198px;
				.g_img{display:block;width:100px;height:100px;margin:0 0 11px;overflow:hidden;
					img{display:block;width:100%;height:auto;}
				}
				.g_tit{display:block;height:34px;margin:0 0 8px;padding:0 5px;font-size:12px;line-height:17px;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-wrap:break-word;}
				.g_nor{padding:0 5px;
					.sale{font-size:12px;
						b{font-size:14px;font-weight:bold;}
					}
				}
			}
		}
		.scroll_bar{position:relative;left:20vw;width:calc(100% - 20vw);height:1px;background:#f1f1f5;clear:both;
			&:before{position:absolute;left:-20vw;top:0;width:20vw;height:100%;background:#000;content:"";}
			.bar{width:0;max-width:100%;height:100%;background:#000;transition:width 0.5s ease;box-sizing:border-box;
				&.touched{transition:auto;}
			}
		}
		.tag_sch{position:relative;padding:16px 17px  0;
			&:before{position:absolute;top:0;left:17px;width:100%;height:1px;background:#f1f1f1;content:"";}
			a{display:inline-block;height:22px;margin-right:2px;line-height:24px;padding:0 10px;font-size:11px;color:#666;border:1px solid #f1f1f1;border-radius:12px;white-space:nowrap;}
		}
	}

	//banners
	.brd_mainban{margin-bottom:8px;}

	// instagram
	.insta_luxury{width:100%;background:#fff;
		h3{height:65px;line-height:66px;font-size:19px;font-weight:bold;text-align:center;letter-spacing:-0.02em;background:#fff;}
		dl{width:100%;
			&:after{display:block;clear:both;content:"";}
			dd{float:left;width:calc(100vw / 3);height:calc(100vw / 3);
				a{display:block;width:100%;height:100%;
					img{display:block;width:100%;height:100%;}
				}
			}
		}
	}


	//brand search
	.brd_name_wrap{background:#fff;
		.brd_part{padding:25px 70px 25px 12px;border-bottom:1px solid #ededed;
			h2{height:36px;margin-bottom:6px;line-height:36px;font-size:35px;font-weight:bold;}
			li{height:47px;line-height:46px;
				a{display:inline-block;width:100%;height:20px;line-height:20px;font-size:15px;color:#333;letter-spacing:0;vertical-align:-6px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
			}
		}
	}
	&.head_up{
		.brd_quick_bar{top:42px;}
	}
	.brd_quick_bar{position:fixed;top:calc(55px + 42px);width:100%;z-index:3;transition:(opacity, top) 0.4s;
		&.hide{opacity:0;}
		&.stickyBtm{position:absolute;transition:(opacity, top) 0.4s;}
		.bar_wrap{position:absolute;top:10px;right:12px;
			ul{display:table-cell;width:30px;height:calc( 100vh - 130px )/* 486px; */;vertical-align:middle;line-height:1em;transition:height 0.4s;
				li{display:inline-block;background:#fff;font-size:0;
					a{display:block;width:30px;height:19px;line-height:19px;color:#888;font-size:16px;text-align:center;}
					&.active{
						a{color:#000;font-weight:bold;}
					}
				}
			}
		}
	}

	//Goods List
	.goods_list{border:0;
		ul.glist{margin:0;
			li{/* height:calc(50vw + 127px); */border:0;background:none;
				@media screen and (min-width:640px){
					// height:calc(33.33vw + 127px);
				}
				@media screen and (min-width:1024px){
					// height:calc(25vw + 127px);
				}
				.g_wrap{max-width:none;padding:0 0 12px;
					.g_wish{top:6px;right:6px;}
				}
				.g_brd, .g_tit{padding:0 12px;}
				.g_brd{margin:6px 0 0;}
				.g_tit{height:32px;margin:1px 0 9px;color:#666;}
				.g_nor{margin-left:12px;padding-left:44px;}
				.g_land{margin-left:12px;}
				.g_per{top:2px;
					b{letter-spacing:-0.05em;font-weight:normal;}
				}
				.g_prc{color:#888;
					.mprc, .org{height:10px;line-height:10px;
						b{letter-spacing:-0.05em;}
					}
					.sale{height:14px;margin-top:2px; line-height:14px;color:#000;
						b{letter-spacing:0;}
					}
				}
				.g_rv, .g_bnf{margin:0 12px;}

				//프리오더 딱지
				.flag_pre{display:block;padding:10px 0 0 12px;
					em{display:block;width:76px;height:20px;line-height:22px;font-size:11px;font-weight:bold;color:#fff;letter-spacing:0;text-align:center;background:#242424;border-radius:2px;}
					&.end{
						em{width:98px;background:#888;}
					}
				}
				//프리 오더 날짜
				.date{display:block;height:40px;margin:13px 12px 0;line-height:32px;font-size:12px;color:#666;letter-spacing:-0.05em;border-top:1px solid #f1f1f1;
					&.end{border-color:#fff;}
				}
			}
		}
		ul.blist{
			 li{
			 	// .g_wrap{padding:12px 22px 0;}
			 	// .g_brd{margin:12px 0  0;}
			 	// .g_tit{height:16px;-webkit-line-clamp:1;}
			 	// .g_img{padding:0 18px;}
			 	// .g_nor{padding-bottom:3px;}
			 	// .g_land{padding-bottom:3px;}
			 	// .g_bnf{margin-bottom:10px;padding-top:0;}
			 	// .g_rv{bottom:0;margin-top:-26px;}
			 }
		}

		ul.tlist{
			 li{
			 	.g_brd{margin:7px 0 0;}
			 	.g_tit{height:32px}
			 }
		}

		ul.tlist, ul.glist, ul.blist{
			li{
				.g_brd{height:18px;line-height:18px;color:#222 !important;letter-spacing:-0.05em;}
				.g_tit{line-height:16px;}
				//해외배송
				.bnf11{position:relative;color:#439de9;padding-right:15px;
					&:after{position:absolute;right:0;top:2px;width:13px;height:10px;background:url("../../images/mobile/category/ico_airplane.png") no-repeat;background-size:13px 10px;content:"";}
				}
			}
		}
	}
	//brand_details
	.brand_top{margin-bottom:8px;background:#fff;
		.cate_dep2{padding:8px 12px;
			select{width:100%;font-size:14px;letter-spacing:-0.05em;color:#222;}
		}
		.bnr, .info{max-width:1024px;margin:0 auto;}
		.bnr{
			img{display:block;width:100%;height:auto;}
		}
		.info{padding:19px 12px 26px 17px;
			.name{display:block;height:18px;padding:0 0 9px;line-height:16px;color:#222;letter-spacing:0;font-size:18px;}
			.desc{font-size:14px;line-height:20px;color:#666;letter-spacing:-0.05em;}
		}
	}

	//search sort
	.sch_sort{background:#fff;
		&.type_schl{width:100%;height:44px;padding-top:10px;padding-right:38px;background:#fff;box-sizing:border-box;border:solid #ccc;border-width:1px 0;
			&.fixed{position:fixed;top:46px;z-index:102;width:100%;margin-top:0;box-sizing:border-box;}
			.sch_ea{position:absolute;top:0;left:12px;height:100%;font-size:13px;letter-spacing:normal;color:#666;line-height:44px;
				em{font-weight:bold;color:#333;}
			}
			.s_filter{top:10px;right:12px;width:50px;height:25px;border-radius:3px;border:0;background: url("../../images/mobile/category/ico_lst_filter2.png") no-repeat 33px 6px #f05958;background-size:13px;z-index:4;
				a{width:100%;height:100%;padding-right:15px;text-align:center;line-height:25px;font-size:13px;color:#fff;font-weight:bold;background:none;box-sizing:border-box;}
			}
			.s_type{right:64px;}
			.sort_wrap{position:relative;float:right;width:calc(100vw - 110px);padding-right:125px;box-sizing:border-box;
				&:after{display:block;clear:both;content:"";}
			}
			.s_catg, .s_sort{max-width:100%;width:auto;
				select{height:25px;padding:0 12px 0 0;font-size:13px;line-height:25px;text-align:right;letter-spacing:-0.1em;direction: rtl;color:#666;background:url("../../images/mobile/common/bg_select_01.png") no-repeat right center;background-size:7px 4px;border:0;box-sizing:border-box;
					option{direction:ltr;}
				}
			}
			.s_catg{float:right;margin-right:0;padding:0;}
			.s_sort{position:absolute;right:0;width:125px;}
			.s_type{position:absolute;right:4px;top:5px;width:35px;z-index:3;
				ul{position:relative;overflow:hidden;width:35px;padding-top:35px;border:0;background:#fff;}
				li{display:none;width:35px;height:35px;border:0;background-color:#fff;
					&.on{display:block;position:absolute;left:0;top:0;}
				}
				button{display:block;width:100%;height:100%;background:url("../../images/mobile/category/btn_lst_type60.png") no-repeat 0 0;background-size:17px 85px;box-sizing:border-box;}
				li{
					&.t1 button{background-position:9px -25px;}
					&.t2 button{background-position:9px 9px;}
					&.t3 button{background-position:9px -59px;}
					&.t1.on button{background-position:9px -25px;}
					&.t2.on button{background-position:9px 9px;}
					&.t3.on button{background-position:9px -59px;}
				}
			}
		}
	}

	//detail seach
	.sch_dtl_btn .ok{background:#000;}

	.magazine_warp{background:#fff;
		.mz_list{padding:11px 0 0 17px;
			li{padding:6px 0 0;
				a{display:block;
					img{display:block;width:100%;height:auto;}
					.mz_info{display:block;padding:10px 45px 29px 10px;
						.tit{display:block;min-height:40px;padding:10px 0;line-height:28px;font-size:21px;letter-spacing:-0.02em;color:#000;}
						.desc{display:block;line-height:20px;font-size:14px;color:#888;letter-spacing:-0.05em;}
					}
				}
			}
		}
	}
	.mzd_tit{height:75px;line-height:74px;font-size:17px;font-weight:bold;letter-spacing:-0.05em;text-align:center;color:#2f2f2f;background:#fff;}

	.lux_mzswrap{margin-top:-8px;padding:20px 0;background:#fff;
		.lux_mzsw{width:256px;margin:0 auto;
			ul{
				li{width:256px;height:256px;text-align:center;
					.g_img{display:block;width:170px;height:170px;margin:0 auto;
						img{display:block;width:100%;height:auto;}
					}
					.g_brand{display:block;height:10px;padding:14px 0 0;line-height:10px;font-size:13px;color:#8e8e8e;letter-spacing:-0.05em;}
					.g_tit{display:block;width:100%;height:12px;padding:5px 0 0;line-height:12px;font-size:13px;color:#3e3e3e;letter-spacing:-0.05em;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;}
					.g_prc{display:block;height:15px;padding:11px 0 0;line-height:15px;font-size:14px;letter-spacing:-0.05em;color:#333;
						b{font-size:17px;}
					}
				}
			}
			&.t2{width:296px;
				ul{
					li{width:296px;height:242px;
						&:after{display:block;clear:both;content:"";}
						.g_link{float:left;width:50%;}
						.g_img{width:136px;height:136px;}
						.g_tit{width:136px;height:32px;line-height:16px;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;white-space:normal;}
						.g_prc{width:136px;}
					}
				}
				// .swiper-pagination-switch:nth-child(2n){display:none;}
			}
		}
		.pagination{display:block;width:100%;margin-top:4px;height:19px;text-align:center;font-size:0;}
		.swiper-pagination-switch{display:inline-block;margin:0 2px;font-size:0px;line-height:0;overflow:hidden;vertical-align:top;cursor:pointer;width:7px;height:7px;background:#ededed;border-radius:100%;}
		.swiper-active-switch{background-color:#000;}
	}
	
	//카테고리
	.cate_bn_wrap{position:relative;width:100%;height:auto;padding:0 0 40px;
		ul{
			li{
				a{display:block;width:100%;height:100%;
					img{display:block;width:100%;height:auto;}
				}
			}
		}
		.pagination{position:absolute;bottom:4px;width:100%;height:19px;text-align:center;display:none;}
		.swiper-pagination-switch{display:inline-block;margin:0 2px;font-size:0px;line-height:0;overflow:hidden;vertical-align:top;cursor:pointer;width:7px;height:7px;background:#ededed;border-radius:100%;}
		.swiper-active-switch{background-color:#000;}
		.swiper-slide.no_apply{float: none;}
	}

	//pre_oreder
	.area_lv1+.area_lv1{
		.prelist_wrap{margin-top:-8px;padding-top:20px;background:#fff;}
	}
	.preo_warp{
		.preo_tab{background:#fff;border-bottom:1px solid #f1f1f5;
			ul{width:auto;height:48px;white-space:nowrap;
				li{float:none;display:inline-block;height:100%;
					&:first-child{
						a{padding-left:24px;}
					}
					a{position:relative;display:block;height:49px;padding:0 24px 0 0;text-align:center;line-height:50px;color:#999;font-size:14px;letter-spacing:-0.02em;}
					&.active{
						a{color:#222;font-weight:bold;
							&:after{position:absolute;left:0;right:24px;bottom:0;height:3px;background:#000;content:"";}
						}
						&:first-child{
							a{
								&:after{left:24px;}
							}
						}
					}
				}
			}
		}
	}
	.preo_list{padding:14px 12px 0;background:#fff;
		ul{
			li{
				a{display:block;
					.thumb{display:block;
						img{display:block;width:100%;height:auto;}
					}
					.info{display:block;padding:0;box-sizing:border-box;letter-spacing:-0.05em;
						.tit{display:block;color:#222;font-size:21px;padding-bottom: 10px;}
						.sub_tit{display:block;height:12px;font-size:13px;line-height:12px;color:#666;padding-bottom: 40px;letter-spacing: -0.02em;}
						.date{display:none;padding:21px 0 0;letter-spacing:0;color:#222;font-size:12px;font-weight:bold;
							&.end{color:#888;
								em{display:inline-block;width:50px;height:18px;margin-left:9px;line-height:18px;color:#fff;text-align:center;background:#999;}
							}
						}
						.time_count_ing{background: #000;border:1px solid #000;padding: 0px 8px 0 11px;display: inline-block;margin: 15px 0 20px 0;height: 22px;line-height: 18px;							
							.flag{color: #fff;font-size: 12px;letter-spacing: 0;margin-right: 4px;font-family: "jost";font-weight: 600;}
							.count{color: #fff;font-size: 11px;letter-spacing: 0;font-family: "Roboto";min-width: 116px;text-align: center;display: inline-block;width: auto;
								em{}
							}
						}
						.time_count_pre{background: #000;border:1px solid #000;padding: 0px 8px 0 11px;display: inline-block;margin: 15px 0 20px 0;height: 22px;line-height: 18px;
							.flag{color: #fff;font-size: 12px;letter-spacing: 0;margin-right: 4px;font-family: "jost";font-weight: 600;}
							.count{color: #fff;font-size: 11px;letter-spacing: 0;font-family: "Roboto";min-width: 116px;text-align: center;display: inline-block;width: auto;}							
						}						
						.time_count_end{background: #000;border:1px solid #000;padding: 0px 8px 0 11px;display: inline-block;margin: 15px 0 20px 0;height: 22px;line-height: 18px;
							.flag{color: #fff;font-size: 12px;letter-spacing: 0;margin-right: 4px;font-family: "jost";font-weight: 600;}
							.count{color: #fff;font-size: 11px;letter-spacing: 0;font-family: "Roboto";min-width: 116px;text-align: center;display: inline-block;width: auto;}							
						}	

					}
				}
			}
		}
	}

	//PreOder Deatil


	//footer
	.footer{padding-top:40px;
		.ft_info2{
			dt{font-weight:bold;line-height:14px;letter-spacing:-0.05em;}
			dd{line-height:14px;letter-spacing:-0.05em;}
		}
		.ft_sns{padding:8px 12px 20px 12px;}
		.ft_copy{letter-spacing:0;}
	}
}