@charset "UTF-8";

$imgUrl : '../../../images/pcweb/sp_pcweb/';
$point_sp : #FF1E00;
$point_sp2 : #F9E547;
$bdr_sp: #E9E9ED;
$bdr_sp2: #D4D4D8;
$bdr_sp3: #191919;
$txt_sp : #191919;
$txt_sp2 : #767676;
$bg_sp : #191919;

@mixin ellip_sp{white-space:nowrap;text-overflow:ellipsis;}
@mixin clamp2{overflow:hidden;display:-webkit-box !important;display:box !important;text-overflow:ellipsis;-webkit-line-clamp:2;line-clamp:2;-webkit-box-orient:vertical;box-orient:vertical;}
@mixin relative_block{display:block;overflow:hidden;position:relative;}
