@charset "utf-8";
/* PIONNET Web Standardization Team (//www.pionnet.co.kr/) 20200812 */

@import "base";

/* common */
html, body{width:100%;height:100%;margin:0;padding:0;border:0;-webkit-text-size-adjust:100%;-webkit-font-smoothing:antialiased;}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, legend, img, button, a{margin:0;padding:0;font-family: 'Noto Sans KR', 'Malgun Gothic', 'Roboto', '돋음', Dotum, 'Apple SD Gothic Neo', sans-serif;font-weight:400;font-size:13px;color:$txt_sp;letter-spacing:0;}
address, caption, cite, code, dfn, em, th, var, i{font-weight:400;font-style:normal;font-weight:normal;}
#container{padding-top:81px;}
#content{padding-top:78px;}

/* header */
.header{position:absolute;left:0;right:0;top:0;z-index:300;min-width:1280px;height:80px;border-bottom:#ddd 1px solid;background:#fff;-webkit-transition:height 0.4s;transition:height 0.4s;
	.head{position:static;width:auto;height:auto;}
	h1{display:block;top:16px;left:40px;width:89px;height:48px;
		a{display:block;width:100%;height:100%;background:url($imgUrl+'common/logo_shoopen_sd.png') no-repeat center center/cover;}
	}
	.hd_disp{margin-top:30px;padding-left:165px;
		.depth2{top:51px;}
	}
	.hd_my{top:20px;}
	.logBx{display:none;
		li{float:left;
			& + li{margin-left:30px;}
		}
		a{display:block;font-size:11px;line-height:17px;
			&:hover{text-decoration:underline;}
		}
	}
}

//wing_menu
.wing_menu{top:78px;
	.wm_right{right:-90px;width:80px;}
	.wm_left{left:-78px;width:68px;}
	.wm_adds{border:#ddd 1px solid;
		a{margin-top:0;}
		.wl_btns{border:none;border-top:#ddd 1px solid;}
		.swiper-container{margin-top:0;}
		~ .wm_adds{margin-top:6px;}
	}
	.wm_goods_wrap{border:1px solid #E8E8E8;
		h3{display:block;overflow:hidden;font-weight:500;font-size:12px;line-height:38px;text-align:center;letter-spacing:-0.3px;}
	}
	.wm_goods{height:423px;padding:0;margin-top:-2px;
		ul{width:78px;box-sizing:border-box;
			li{width:62px;margin:0 8px;
				a.wm_gd_links{width:62px;height:82px;margin:2px auto 0;border:none;
					img{width:60px;height:80px;border:#fff 1px solid;}
				}
				.wm_btn_del{width:12px;height:12px;background:url($imgUrl+'common/ico_common.png') no-repeat -278px -64px;}
			}
		}
		&.active{width:193px;margin-left:-115px;
			ul li{
				&.on{z-index:2;width:173px;height:82px;margin:2px 0 0 -103px;border:none;background:#fff;box-shadow:0 0 8px rgba(0,0,0,0.06);
					a.wm_gd_links{height:82px;
						.wm_gd_info{left:-113px;width:112px;height:82px;padding:12px 8px 0 10px;color:#191919;font-weight:700;font-size:11px;font-family:'Montserrat';box-sizing:border-box;
							strong{display:block;height:auto;max-height:36px;margin-bottom:5px;color:#191919;font-weight:400;font-size:10px;line-height:12px;font-family:'Noto Sans KR';letter-spacing:-0.5px;}
						}
					}
					.wm_btn_del{top:1px;right:1px;}
				}
			}
		}
	}
	.wm_btns{height:16px;margin-top:7px;background:none;
		a{position:relative;width:50%;height:16px;margin:-1px;border:#ddd 1px solid;background:#fff !important;
			&:after{content:'';display:block;position:absolute;left:50%;top:50%;width:5px;height:8px;transform:translate(-50%, -50%);background:url($imgUrl+'common/ico_common.png') no-repeat -290px -64px;}
			&.wm_bt_prev:after{background-position:-290px -64px;}
			&.wm_bt_next:after{background-position:-295px -64px;}
			&.wm_bt_prev:hover:after{background-position:-290px -72px;}
			&.wm_bt_next:hover:after{background-position:-295px -72px;}
		}
	}
	&.fxd{position:fixed;top:90px !important;}
	//&.hmn{top:841px;}
}
.shoopen{
	&.main .wing_menu{top:843px;
		&.mds{top:793px;}
	}
	&.shp .wing_menu{top:189px;}
	&.pln .wing_menu{top:174px;}
	&.sch .wing_menu{top:131px;}
	&.ctg .wing_menu{top:92px;}
}


// 해더 변경 이전 소스 보존 ( 2021.03.31 )
// #container{padding-top:131px;}
// .header{position:absolute;left:0;right:0;top:0;z-index:300;min-width:1280px;height:130px;border-bottom:#ddd 1px solid;background:#fff;-webkit-transition:height 0.4s;transition:height 0.4s;
// 	.head{position:static;width:auto;height:auto;}
// 	h1{display:block;top:34px;left:40px;width:126px;height:68px;transition:all 0.4s;
// 		a{display:block;width:126px;height:68px;background:url($imgUrl+'common/logo_shoopen.png') no-repeat center center/cover;transition:all 0.4s;}
// 	}
// 	.logBx{overflow:hidden;position:absolute;top:9px;right:40px;transition:all 0.4s;
// 		li{float:left;
// 			& + li{margin-left:30px;}
// 		}
// 		a{display:block;font-size:11px;line-height:17px;
// 			&:hover{text-decoration:underline;}
// 		}
// 	}
// 	&.sdHdr{height:80px;
// 		h1{top:16px;width:89px;height:48px;
// 			a{width:89px;height:48px;background-image:url($imgUrl+'common/logo_shoopen_sd.png');}
// 		}
// 		.hd_disp{margin-top:30px;padding-left:165px;
// 			.depth2{top:51px;}
// 		}
// 		.logBx{top:-20px;}
// 		.hd_my{top:20px;}
// 	}
// }
.hd_disp{position:relative;margin-top:68px;padding-left:202px;top:auto;left:auto;height:auto;background:none;transition:all 0.4s;
	dl{float:left;}
	> dl + dl .bt{margin-left:14px;padding-left:29px;
		&:after{content:'';display:block;position:absolute;left:0;top:6px;width:1px;height:12px;background:#D6D6D6;}
	}
	> dl + dl dd + dd .bt{margin-left:0;padding-left:14px;
		&:after{display:none;}
	}
	dd{position:static;width:auto;height:22px;background:none;}
	.bt{position:relative;padding:0 14px;font-weight:700;font-size:15px;line-height:22px;letter-spacing:0;
		&:hover{color:$point_sp;}
		&[aria-current="page"]{color:$point_sp;}
	}
	dd > div[aria-expanded='true'] .bt{padding-bottom:42px;color:$point_sp;
		&:hover{color:$point_sp;}
	}
	.depth2{display:none;position:absolute;left:0;right:0;top:63px;z-index:200;min-height:276px;padding:22px 0 24px;background:#F7F7F7;box-sizing:border-box;transition:top 0.4s;
		> div{width:1165px;margin:0 auto;}
		.ctg{float:left;width:160px;margin-top:12px;text-align:left;
			a{display:inline-block;overflow:hidden;max-width:160px;color:$txt_sp;font-size:13px;line-height:22px;@include ellip_sp}
			dt{padding-bottom:10px;
				a{font-weight:700;
					&:hover{text-decoration:underline;}
				}
			}
			dd{float:none;line-height:22px;text-align:left;letter-spacing:0;
				a{font-weight:400;
					&:hover{color:$point_sp;font-weight:700;text-decoration:underline;}
				}
				& + dd{margin-top:8px;}
			}
			& + .ctg{margin-left:10px;}
		}
		.bnr{float:right;margin-top:0;
			*{display:block;overflow:hidden;color:$txt_sp;@include ellip_sp}
			dd{float:left;width:224px;height:224px;
				a{display:block;position:relative;width:224px;height:224px;}
				& + dd{margin-left:10px;}
			}
			.tx{position:absolute;left:0;bottom:0;right:0;height:60px;padding:10px 8px;background:rgba(255,255,255,0.8);text-align:center;box-sizing:border-box;
				strong{font-size:15px;line-height:22px;}
				em{font-size:12px;line-height:18px;}
			}
			img{width:100%;height:auto;transform:inherit;transition:all 0.3s ease;}
			a:hover img{transform:scale(1.06);}
		}
	}

}
.gecko.pc .hd_disp .depth2 .bnr a:hover img{zoom:0.9999;}

.hd_my{position:absolute;right:40px;top:52px;transition:top 0.4s;
	> ul > li{float:left;position:relative;
		& + li{margin-left:24px;}
	}
	.bt{display:block;position:relative;width:40px;height:40px;background:url($imgUrl+'common/ico_common.png') no-repeat 0 0;
		strong{display:block;overflow:hidden;position:absolute;top:0;right:-6px;width:20px;height:20px;border-radius:20px;background:$point_sp;color:#fff;font-weight:700;font-size:11px;line-height:20px;font-family:'Montserrat';text-align:center;}
	}
	.sch{background-position:0 0;}
	.crt{background-position:-40px 0;}
	.wsh{background-position:-80px 0;}
	.my{background-position:-120px 0;
		.prm{display:block;position:absolute;top:-14px;left:6px;width:72px;
			span{display:inline-block;overflow:hidden;height:18px;padding:0 5px;background:#F9E547;color:#191919;font-size:10px;line-height:18px;letter-spacing:-0.5px;box-sizing:border-box;vertical-align:top;}
			&:after{content:'';display:block;position:absolute;bottom:-4px;left:18px;width:0;height:0;border-left:4px solid transparent;border-right:4px solid transparent;border-top:4px solid #F9E547;}
		}
	}
	.hd_lyrMy{display:none;position:absolute;right:0;top:40px;z-index:100;width:210px;padding:24px 22px;border:$txt_sp 1px solid;background:#fff;box-sizing:border-box;
		ul + ul{margin-top:12px;padding-top:12px;border-top:#ddd 1px solid;}
		li + li{margin-top:17px;}
		a{font-size:13px;line-height:17px;
			&:hover{color:$point_sp;font-weight:700;text-decoration:underline;}
		}
	}
}
.header_top_banner.on ~ .header{top:80px;}

/* fxdTop */
.fxdTop{display:none;overflow:hidden;position:fixed;left:50%;bottom:0;z-index:500;margin-left:550px;-webkit-transform:translateZ(0);transform:translateZ(0);
	a{display:block;width:80px;height:80px;margin-bottom:20px;border:#E8E8E8 1px solid;background:#fff;text-align:center;box-sizing:border-box;
		em{display:inline-block;position:relative;margin-top:12px;padding-top:22px;font-weight:700;font-size:15px;line-height:23px;font-family:'Montserrat';vertical-align:top;
			&:after{content:'';display:block;position:absolute;left:50%;top:0;width:22px;height:22px;margin-left:-11px;background:url($imgUrl+'common/ico_common.png') no-repeat -202px -42px;}
		}
	}
}

/* search_layer */
.hd_lyrSch{display:none;overflow:hidden;position:absolute;top:-10px;right:-20px;z-index:210;width:645px;padding:20px 56px 0;background:#fff;box-shadow:6px 6px 16px rgba(0,0,0,0.1);box-sizing:border-box;
	.top{position:relative;width:523px;height:29px;padding-right:36px;
		 .bt_sch{display:block;position:absolute;top:-10px;right:-10px;width:40px;height:40px;background:url($imgUrl+'common/ico_common.png') no-repeat 0 0;}
		 .bt_del{display:none;position:absolute;top:4px;right:50px;width:14px;height:14px;background:url($imgUrl+'common/ico_common.png') no-repeat -62px -125px;outline:none;}
		 input, label{display:block;width:478px;height:22px;padding-right:37px;padding-left:8px;font-size:15px;line-height:22px;border:none;}
		 input{padding-bottom:7px;border-bottom:$bdr_sp3 2px solid;outline:none;}
		 label{overflow:hidden;position:absolute;left:0;top:0;cursor:text;@include ellip_sp}
	}
	.cls{overflow:hidden;height:40px;margin:0 -56px;border-top:$bdr_sp 1px solid;
		button{display:block;float:right;position:relative;padding:0 32px 0 16px;color:$txt_sp2;font-size:13px;line-height:40px;
			&:after{content:'';display:block;position:absolute;right:16px;top:50%;width:16px;height:16px;margin-top:-8px;background:url($imgUrl+'common/ico_common.png') no-repeat -175px -104px;}
		}
	}
	.key{display:flex;align-items:stretch;overflow:hidden;padding:18px 0 20px;
		dl{float:left;position:relative;min-height:395px;width:200px;margin-top:48px;
			dt{position:absolute;left:0;top:-48px;font-weight:700;font-size:18px;line-height:28px;}
			+dl{width:262px;margin-left:30px;padding-left:34px;border-left:$bdr_sp 1px solid;
				dt{left:34px;}
			}
			li{position:relative;box-sizing:border-box;
				+li{margin-top:10px;}
				a{display:block;overflow:hidden;font-size:13px;line-height:22px;text-align:left;white-space:nowrap;text-overflow:ellipsis;
					&:hover{text-decoration:underline;}
				}
			}
		}
		.rct{
			li{padding-right:22px;}
			.del{display:block;position:absolute;right:0;top:0;width:22px;height:22px;
				&:after{content:'';display:block;width:16px;height:16px;margin:auto;background:url($imgUrl+'common/ico_common.png') no-repeat -175px -104px;}
			}
			.btm{position:absolute;bottom:5px;right:0;
				.delAll{position:relative;padding-left:20px;color:$txt_sp2;font-size:13px;line-height:16px;
					&:after{content:'';display:block;position:absolute;left:0;top:0;width:18px;height:18px;background:url($imgUrl+'common/ico_common.png') no-repeat -239px -104px;}
				}
			}
		}
		.hot{width:262px;
			li{
				&.on >a{font-weight:700;
					em, span{font-weight:700;}
				}
				>a{padding-right:26px;color:$txt_sp;
					em{display:inline-block;margin-right:10px;font-family:'Montserrat';vertical-align:top;}
					span{display:block;position:absolute;top:3px;right:0;height:16px;padding-left:20px;color:#999;font-size:13px;line-height:15px;font-family:'Montserrat';
						&:after{content:'';display:block;position:absolute;left:0;top:0;width:16px;height:16px;background:url($imgUrl+'common/ico_common.png') no-repeat -62px -139px;}
						&.new{right:0;width:auto;background:none;
							&:after{display:none;}
						}
						&.up{color:#FF1E00;
							&:after{background-position:-62px -139px;}
						}
						&.down{color:#2977F9;
							&:after{background-position:-62px -155px;}
						}
						&.no{right:15px;padding:0;
							&:after{background-position:-62px -171px;}
						}
					}
				}
				.gds{overflow:hidden;height:0;opacity:0;
					>div{overflow:hidden;height:78px;padding:5px 0 0 14px;
						a{display:block;overflow:hidden;float:left;width:59px;height:78px;
							+a{margin-left:4px;}
							img{width:100%;height:auto;}
						}
					}
				}
			}
		}
	}
	.auto{display:none;overflow:hidden;width:532px;padding-top:18px;
		> dl, div{@include relative_block;}
		>dl dt{padding-bottom:20px;font-weight:700;font-size:18px;line-height:28px;}
		.ctg{padding:17px 0 13px;
			dd{overflow:hidden;
				+ dd{margin-top:8px;}
				a{@include relative_block;height:22px;padding-right:45px;font-size:13px;line-height:22px;box-sizing:border-box;@include ellip_sp;
					em{display:block;position:absolute;right:0;top:0;width:40px;height:22px;border-radius:22px;background:$bg_sp;color:#fff;font-size:12px;line-height:22px;font-family:'Montserrat';text-align:center;}
					&:hover{text-decoration:underline;}
				}
			}
		}
		.let{padding:0 0 18px;
			dd{float:left;width:160px;margin-top:10px;margin-left:26px;
				&:nth-child(3n+2){margin-left:0;}
				a{@include relative_block;font-size:13px;line-height:20px;@include ellip_sp;
					em{color:$point_sp;}
					&:hover{text-decoration:underline;}
				}
			}
		}
		.pln{padding:22px 0 25px;
			dt{padding-bottom:20px;font-weight:700;font-size:18px;line-height:28px;}
			dd{float:left;width:174px;
				+dd{margin-left:5px;}
				a{display:block;
					span{@include relative_block;
						&.img{width:174px;height:174px;
							img{width:100%;height:auto;}
						}
						&.tx{max-height:36px;margin-top:8px;color:#191919;line-height:18px;@include clamp2}
					}
					&:hover{text-decoration:underline;}
				}
			}
			.more{position:absolute;top:27px;right:0;width:auto;padding-right:20px;color:#707070;font-size:14px;line-height:20px;
				&:after{content:'';display:block;position:absolute;right:0;top:2px;width:16px;height:16px;background:url($imgUrl+'common/ico_common.png') no-repeat -255px -104px;}
			}
		}
		.none{padding:31px 0;font-size:13px;line-height:20px;text-align:center;}
	}
}

/* footer */
.spFt{width:100%;
	.foot_section{width:100%;border-top:$bdr_sp 1px solid;}
	.foot_opt_area{text-align:center;}
	.foot_opt_list{padding:18px 0;border:none;vertical-align:top;
		a{padding:0 16px 0 18px;font-size:14px;line-height:20px;
			em{color:$point_sp;}
			&:hover{text-decoration:underline;
				em{text-decoration:underline;text-decoration-color:$point_sp;}
			}
		}
	}
	.cont{width:100%;padding:0;border-top:$bdr_sp 1px solid;
		> div{position:relative;width:1080px;margin:0 auto;padding:35px 0 50px 146px;box-sizing:border-box;
			&:after{content:'';display:block;clear:both;}
		}
		h3{display:block;position:absolute;left:20px;top:35px;
			a{display:block;width:98px;height:54px;background:url($imgUrl+'common/ico_common.png') no-repeat -232px 0;}
		}
		.info{float:left;
			.tx{font-size:13px;line-height:18px;
				dt{color:$txt_sp;font-weight:700;}
				dd{margin-top:7px;color:$txt_sp2;}
				.mail{display:inline-block;margin-left:10px;color:$txt_sp;
					a{text-decoration:underline;}
				}
				button{display:inline-block;margin:-4px 10px 0;padding:0 10px;border:$bdr_sp2 1px solid;border-radius:6px;
					em{display:block;position:relative;padding-right:16px;font-size:12px;line-height:26px;
						&:after{content:'';display:block;position:absolute;right:0;top:5px;width:16px;height:16px;background:url($imgUrl+'common/ico_common.png') no-repeat -106px -40px;}
					}
				}
			}
			.app{position:relative;height:46px;margin-top:39px;padding-left:54px;
				img{display:block;position:absolute;left:0;top:0;width:46px;height:46px;-ms-interpolation-mode:nearest-neighbor;image-rendering:pixelated;}
				b{display:block;font-size:15px;line-height:22px;}
				em{display:block;color:$txt_sp2;font-size:13px;line-height:19px;}
				button{display:block;position:absolute;left:-128px;top:9px;width:98px;height:28px;background:url("../../../images/pcweb/common/btn_app.png") no-repeat;}
			}
		}
	}
	.foot_side_opt{float:right;width:278px;
		.fm_links{width:267px;height:36px;}
		.btn_fm_site{padding:0 12px;border-color:$bdr_sp2;
			span{position:relative;height:36px;background:none;color:$txt_sp2;font-size:13px;line-height:36px;font-family:'Noto Sans KR';
				&:after{content:'';display:block;position:absolute;right:0;top:50%;width:20px;height:20px;margin-top:-10px;background:url($imgUrl+'common/ico_common.png') no-repeat -86px -40px;}
			}
		}
		.list_fm_site{bottom:35px;
			ul{width:265px;}
		}
		.foot_cs{margin-top:16px;
			.foot_csph{margin-bottom:9px;font-weight:700;font-size:40px;line-height:53px;font-family:'Montserrat';}
			> span{font-size:13px;line-height:20px;}
			.auth_btn{height:18px;padding-right:16px;color:$txt_sp;margin-top:33px;font-weight:400;font-size:13px;line-height:18px;
				&:before{display:none;}
				&:after{content:'';display:block;position:absolute;right:0;top:1px;width:16px;height:16px;background:url($imgUrl+'common/ico_common.png') no-repeat -106px -40px;}
				&:hover{text-decoration:underline;}
				& + .auth_btn{margin-top:6px;}
			}
		}
	}
	.foot_bot{width:100%;border-top:$bdr_sp 1px solid;
		> div{position:relative;width:1080px;margin:0 auto;}
	.foot_bot .foot_caution{display:block;margin-top:8px;font-size:11px;letter-spacing:-0.02em;}
	}
}

/* swiper */
.swiperCtr{
	a{display:block;position:absolute;z-index:2;
		&:after{content:'';display:block;background:url($imgUrl+'common/ico_common.png') no-repeat -160px 0;}
	}
	.prev{left:0;}
	.next{right:0;}
	&.type0{float:left;position:relative;height:32px;padding:0 32px;
		a{display:block;top:0;width:32px;height:32px;border:#ddd 2px solid;background:#fff;box-sizing:border-box;
			&:after{content:'';display:block;width:20px;height:20px;margin:4px auto 0;}
			&:hover{border-color:$txt_sp;}
		}
		.prev:after{background-position:-160px 0;}
		.next:after{background-position:-160px -20px;}
		.num{display:block;min-width:48px;padding:0 5px;color:$txt_sp2;line-height:32px;font-size:15px;font-family:'Montserrat';text-align:center;box-sizing:border-box;
			.now{color:$txt_sp;font-weight:400;}
		}
	}
	&.type1{
		a{top:50%;left:50%;width:64px;height:64px;margin-top:-32px;
			&:after{width:31px;height:58px;margin:auto;}
		}
		.prev{margin-left:-604px;
			&:after{background-position:0 -72px;}
			&:hover:after{background-position:0 -130px;}
		}
		.next{margin-left:540px;
			&:after{background-position:-31px -72px;}
			&:hover:after{background-position:-31px -130px;}
		}
	}
	&.type2{
		a{top:50%;width:40px;height:60px;margin-top:-30px;background:rgba(0,0,0,0.2);
			&:hover{background:rgba(0,0,0,0.5);}
			&:after{width:24px;height:24px;margin:18px auto 0;}
		}
		.prev:after{background-position:-154px -40px;}
		.next:after{background-position:-178px -40px;}
	}
	&.type3{
		a{top:50%;width:40px;height:40px;margin-top:-20px;background:url($imgUrl+'common/ico_common.png') no-repeat -118px -64px;}
		.prev{background-position:-118px -64px;
			&:hover{background-position:-198px -64px;}
		}
		.next{background-position:-158px -64px;
			&:hover{background-position:-238px -64px;}
		}
	}
}
.swiperPg{
	.swiper-pagination-switch{display:block;float:left;width:10px;height:10px;padding:0;margin:0;border-radius:100%;background:#E1E1E4 !important;box-sizing:border-box;
		& + .swiper-pagination-switch{margin-left:6px;}
	}
	.swiper-active-switch{border:#F50303 2px solid !important;background:none !important;}
}
.swiperUtl{
	.auto.type0{float:left;margin-left:20px;
		a{display:block;overflow:hidden;width:32px;height:32px;
			&:after{content:'';display:block;width:16px;height:16px;margin:8px auto 0;background:url($imgUrl+'common/ico_common.png') no-repeat -122px -40px;}
		}
		.stop:after{background-position:-122px -40px;}
		.play{display:none;
			&:after{background-position:-138px -40px;}
		}

	}
	.swiperPg{overflow:hidden;float:left;margin-top:11px;}
}

/* wideSlide */
.wideSlide{overflow:hidden;position:relative;width:1080px;height:90px;margin:80px auto 0;
	li img{width:1080px;height:90px;}
	.bnr.n2 li img{width:540px;height:90px;}
}

/* goods_list */
.goods_list{position:relative;width:842px;margin:0 auto;
	a, span{display:block;position:relative;}
	> ul{width:856px;margin-left:-14px;
		&:after{content:'';display:block;clear:both;}
		& + ul{margin-top:80px;}
		& > li{float:left;position:relative;width:200px;margin-left:14px;}
	}
	.tum{position:relative;width:200px;height:267px;
		a{overflow:hidden;width:100%;height:100%;}
		img{width:100%;height:auto;}
		.fade{display:block;position:absolute;left:0;top:0;width:100%;opacity:0;transition:opacity 0.2s;}
		.bt{display:flex;position:absolute;left:0;right:0;bottom:-44px;background:rgba(255,255,255,0.9);transition:bottom 0.3s;
			li{display:block;flex:1;
				> button{display:block;position:relative;width:100%;height:44px;background:none;outline:none;
					&:after{content:'';display:block;width:18px;height:18px;margin:auto;background:url($imgUrl+'common/ico_common.png') no-repeat -64px -62px;}
				}
			}
			.vw > button:after{background-position:-64px -62px;}
			.wn > button:after{background-position:-82px -62px;}
			.op > button:after{background-position:-100px -62px;}
			.vw > button:hover:after{background-position:-64px -80px;}
			.wn > button:hover:after{background-position:-82px -80px;}
			.op > button:hover:after,
			.op > button.on:after{background-position:-100px -80px;}
		}
		.bst, .recom, .ranking{display:block;position:absolute;left:0;top:0;z-index:2;width:32px;height:32px;color:#fff;line-height:32px;text-align:center;}
		.bst{background:$txt_sp;font-weight:700;font-size:15px;font-family:'Montserrat';}
		.recom{background:rgba(255,30,0,1);font-weight:700;font-size:13px;}
		.ranking{background:rgba(25,25,25,0.8);font-weight:400;font-size:15px;font-family:'Montserrat';}
	}
	.lyr{display:none;position:absolute;top:44px;left:50%;z-index:3;width:180px;margin-left:-90px;padding:0 2px;border:$txt_sp 1px solid;background:#fff;box-sizing:border-box;
		dt{font-size:13px;line-height:32px;text-align:center;}
		dd{overflow-x:hidden;overflow-y:auto;max-height:87px;padding-left:6px;scrollbar-width:thin;scrollbar-color:rgba(0,0,0,0.2) transparent;
			&::-webkit-scrollbar-button{background:none;width:0;height:0;}
			&::-webkit-scrollbar{width:5px;}
			&::-webkit-scrollbar-track{background-color:transparent;}
			&::-webkit-scrollbar-thumb{border-radius:5px;background-color:rgba(0,0,0,0.2);}
			&:after{content:'';display:block;width:100%;height:8px;}
			span{padding-bottom:4px;color:$txt_sp2;font-size:12px;line-height:18px;}
		}
	}
	.info{position:relative;z-index:2;padding:20px 10px 0 0;background:#fff;box-sizing:border-box;
		.tit{
			*{display:block;overflow:hidden;font-size:14px;line-height:20px;}
			b{margin-bottom:5px;color:$txt_sp;font-weight:700;@include ellip_sp}
			span{max-height:40px;color:#666;@include clamp2}
		}
	}
	.box_md{display:flex;overflow:hidden;position:relative;flex-direction:column;
		.rvc{display:block;order:1;
			span{float:left;font-size:12px;line-height:23px;
				em{display:inline-block;margin-left:2px;font-size:12px;}
				& + span{margin-left:8px;}
			}
		}
		.cip{display:block;order:0;
			em{float:left;overflow:hidden;width:10px;height:10px;margin:6px 0 7px 0;border-radius:100%;
				& + em{margin-left:3px;}
				&:nth-child(n+14){display:none;}
				img{width:10px;height:10px;}
			}
			span{float:left;margin-left:6px;font-size:13px;line-height:22px;}
		}
	}
	.box_flag{overflow:hidden;height:19px;margin-top:8px;
		.flag_icon{display:block;float:left;height:19px !important;margin:0 !important;padding:0 5px !important;border:none !important;background:#F1F1F1 !important;color:#505050 !important;font-size:11px !important;line-height:19px !important;font-family:'Noto Sans KR' !important;letter-spacing:-0.3px;
			+ .flag_icon{margin-left:2px !important;}
			&.t04{background:#FF1E00 !important;color:#fff !important;font-weight:500 !important;font-size:10px !important;line-height:21px !important;font-family:'Montserrat' !important;letter-spacing:0 !important;}
		}
	}
	.bxWish .btWish{position:absolute;right:0;top:0;z-index:2;outline:none;}
	li:hover .fade{opacity:1;}
	li:hover .bt, .active .bt{bottom:0;}
	.set{display:none;}
	.rnk{display:inline-block;position:relative;min-width:20px;height:30px;padding-top:2px;font-weight:700;font-size:18px;line-height:30px;font-family:'Montserrat';text-align:center;}
	.rcm{display:inline-block;position:relative;height:26px;margin-bottom:4px;padding:0 9px;border:$point_sp 1px solid;color:$point_sp;font-weight:700;border-radius:26px;line-height:24px;box-sizing:border-box;}
	.rnk ~ .bxWish .btWish, .rcm ~ .bxWish .btWish{top:32px;}

	&.pg{width:1080px;
		> ul{width:1104px;margin-left:-24px;
			> li{width:252px;margin-left:24px;}
		}
		.tum{width:252px;height:337px;
			.bt{padding:0 14px;}
		}
		.info{width:252px;}
	}
	&.n3{width:1080px;
		> ul{width:1104px;margin-left:-24px;
			> li{width:344px;margin-left:24px;}
		}
		.tum{width:344px;height:455px;
			.bt{padding:0 54px;}
		}
		.info{width:344px;
			.gdCost .rm{margin-right:120px;}
		}
	}
	&.n5{width:1080px;
		> ul{width:1100px;margin-left:-20px;
			> li{margin-left:20px;}
		}
	}
	&.hrz{width:1080px;
		> ul{width:1132px;margin-left:-52px;
			 + ul{margin-top:50px;}
			> li{width:500px;height:337px;margin-left:52px;padding-left:276px;box-sizing:border-box;}
		}
		.tum{position:absolute;left:0;top:0;width:252px;height:337px;
			&:after{content:'';display:block;position:absolute;left:0;bottom:-44px;right:0;z-index:2;height:44px;background:#fff;}
			.bt{padding:0 14px;}
		}
		.info{width:224px;}
		.bxWish .btWish{right:auto;left:216px;}
	}
	&.lst{
		> ul{width:100%;margin-left:0;
			& + ul{margin-top:20px;}
			& > li{float:none;height:150px;width:100%;margin:0;padding:0 86px 0 142px;box-sizing:border-box;
				& + li{margin-top:20px;}
			}
		}
		.tum{position:absolute;left:0;top:0;width:112px;height:150px;
			.bt{bottom:0 !important;opacity:0;transition:opacity 0s;}
		}
		li:hover .bt, .active .bt{opacity:1;}
		.lyr{left:112px;top:0;margin:0;}
		.bxWish{display:none;}
		.info{padding:0;height:150px;
			a{position:relative;top:50%;padding-right:240px;transform:translateY(-50%);}
			.tit{width:350px;max-height:63px;-webkit-line-clamp:3;line-clamp:3;
				b{display:block;}
				span{display:block;overflow:hidden;max-height:42px;@include clamp2}
			}
			.etc{position:absolute;right:0;top:50%;width:240px;text-align:center;transform:translateY(-50%);}
		}
		.gdCost{position:relative;margin-top:12px;
			.prc{font-size:16px;line-height:30px;}
			.prm{margin-left:4px;line-height:30px;}
			.rm{float:left;margin-left:44px;font-size:12px;line-height:30px;
				b{font-size:16px;line-height:30px;}
			}
		}
		.box_md{margin:0;text-align:center;
			.rvc{float:none;
				span{display:inline-block;float:none;font-size:13px;line-height:19px;vertical-align:top;}
				&:after{content:'';display:block;clear:both;}
			}
			.cip{margin:4px auto 0;
				em{display:inline-block;float:none;vertical-align:top;
					+em{margin-left:1px;}
					+span{display:inline-block;float:none;margin-left:3px;vertical-align:top;}
				}
			}
		}
		.set{display:block;position:absolute;right:0;top:50%;transform:translateY(-50%);
			button{display:block;width:86px;height:26px;border:$bdr_sp2 1px solid;font-size:13px;line-height:24px;text-align:center;box-sizing:border-box;
				&:first-child{border-color:$txt_sp;}
				& + button{margin-top:6px;}
			}
		}
		.box_flag{display:inline-block;}
	}
	&.noTrans .tum .bt{display:none;transition-duration:0s !important;}
	& + .goods_list{margin-top:80px;}
}
.flag_icon.t04{border-color:$point_sp;background:$point_sp}
.gdCost{overflow:hidden;position:relative;margin-top:12px;
	*{font-size:16px;line-height:27px;font-family:'Montserrat';}
	.prc{float:left;font-weight:700;}
	.prm{float:left;margin-left:4px;color:$txt_sp2;font-size:12px;text-decoration:line-through;}
	.rm{float:right;color:$point_sp;font-size:12px;font-family:'Montserrat';
		b{font-weight:500;font-size:16px;}
	}
}
.btWish{display:block;width:36px;height:36px;background:none;outline:none;
	&:after{content:'';display:block;width:20px;height:17px;margin:auto;background:url($imgUrl+'common/ico_common.png') no-repeat -62px -98px;}
	&[aria-pressed="true"]:after{background-position:-82px -98px;animation-name:aniWish;animation-duration:0.26s;animation-timing-function:ease-in;}
}
@keyframes aniWish{
	from{transform:scale(0);}
	60%{transform:scale(1.35);}
	85%{transform:scale(0.92);}
	90%{transform:scale(1.16);}
	to{transform:scale(1);}
}
.location{margin-bottom:24px;
	.lyr_select{border:none;
		.lyr_options{right:7px;top:24px;
			.options li:hover{background:$bg_sp;}
		}
		.sel_btn{outline:none;
			&:before{content:'';display:block;position:absolute;right:6px;top:14px;width:16px;height:16px;margin-top:-8px;border:#C9C9C9 1px solid;}
			&:after{margin-top:-1px;}
		}
		&.on{z-index:60;}
		&.disabled{
			.sel_btn:before{display:none;}
		}
	}
	> ul > li .home{font-family:'Noto Sans KR';}
	.lct_txt span, .lct_txt a{color:$txt_sp;line-height:27px;}
}
.txt_c06, .point_color{color:$point_sp !important;}
.list_chip li{
	.chip{border-radius:100%;
		img{border-radius:100%;}
		&.disabled{padding:0;border:2px solid #c7c7c7;
			img{top:0;left:0;}
			.ir{top:-2px;left:-2px;right:-2px;bottom:-2px;}
		}
	}
}
.btn_etc02 span{font-weight:400;line-height:22px;}
.list_product05 .list.swiper-wrapper{margin-bottom:0;}
.txt_c01{color:$point_sp !important;}
.layer_pop{outline:none;
	.my_confirm{text-align:center;}
	.set_btn .btn02 span, .set_btn .btn03 span{font-weight:400 !important;}
	.lay_tit.pg{padding:44px 0 24px;
		strong{font-weight:400;font-size:24px;line-height:36px;}
	}
	.txMys{padding-bottom:20px;border-bottom:1px solid #ddd;color:#666;line-height:19px;}
	&.w400{width:400px;}
}

// Quick View & gds detail
.layer_pop.lay_mini_detail{width:1020px;margin-left:-510px;
	.lay_cont{
		.quick_view{height:806px;width:984px;
			.goods_head_left .goods_view_large img{height:545px;}
			.goods_view_thum{height:82px;}
			.goods_view_img{margin:0 20px;
				ul li{width:62px;height:82px;margin-left:10px;
					img{width:60px;height:80px;}
				}
			}
			.goods_pr .goods_pr02 strong{font-family:'Montserrat';}
		}
		.goods_view_handler{margin:0;
			.goods_view_handler_right, .goods_view_handler_left{height:80px;}
		}
		.goods_head{padding-top:30px;}
		.goods_txt_info{width:520px;
			.goods_select{
				li{width:520px;box-sizing:border-box;}
			}
			.goods_sel_pr{width:366px;}
		}
		.tab_type01>ul li.on a, .tab_type01>ul li.on span,
		.goods_set_btn .btn06 span,
		.goods_detail_txt>ul>li .same_th,
		.list_ul_selects li a.on,
		.list_dl_selects dt{font-weight:400 !important;}
		.goods_detail_txt{border:none;}
		.goods_title{padding:0;margin-top:5px;
			.goods_brand_name{display:inline-block;color:$txt_sp;font-weight:700;line-height:28px;
				&:after{content:'';display:inline-block;width:6px;height:11px;margin-left:9px;background:url($imgUrl+'gds/ico_gds.png') no-repeat -88px 0;vertical-align:2px;}
			}
			.goods_name{width:520px;height:auto;max-height:60px;margin:12px 0 22px;color:$txt_sp;font-size:20px;line-height:30px;white-space:normal;@include clamp2}
		}
		.goods_set_btn{
			+.goods_set_btn{margin-top:6px;}
			.btn06{
				&.c02{border-color:$point_sp2;background:$point_sp2;
					span{width:212px;color:$txt_sp;}
				}
				&.c01{border-color:$bdr_sp3;background:$bg_sp;
					span{width:95px;color:#fff;font-weight:400;}
					.ws{display:inline-block;position:relative;padding-left:20px;font-weight:700;font-size:16px;font-family:'Montserrat';
						&:after{content:'';display:block;position:absolute;left:0;top:50%;width:14px;height:12px;margin-top:-6px;background:url($imgUrl+'gds/ico_gds.png') no-repeat -28px -14px;}
					}
					&.disabled{border-color:#cbcbcb;
						span{color:#cbcbcb;}
						.ws:after{background-position:-42px -14px;}
						&[aria-pressed="false"] .ws:after{background-position:-42px -26px;}
					}
					&[aria-pressed="false"]{
						.ws:after{background-position:-28px -26px;}
					}
				}
			}
			&.type02 .btn06{
				&.c02 span, &.c09 span{width:314px;}
			}
		}
		.sale_price{
			> span{float:left;line-height:24px !important;}
			.tx_sale_price{padding-right:0;color:$txt_sp;font-size:14px;vertical-align:top;
				strong{font-weight:700;font-size:28px;font-family:'Montserrat';}
				+ .ori{margin-left:15px;}
			}
			.ori{color:#999;font-size:13px;text-decoration:line-through;
				b{font-weight:400;font-size:14px;font-family:'Montserrat';}
				+.prc{margin-left:7px;}
			}
			.rm{margin-left:30px;color:$point_sp;font-size:13px;font-family:'Montserrat';
				b{font-size:28px;}
			}
			.prc{color:$txt_sp;
				b{font-weight:400;font-size:14px;font-family:'Montserrat';}
			}
			.cpn{margin-left:6px;color:$txt_sp;
				em{display:inline-block;position:relative;margin:0 2px 0 4px;padding-right:6px;color:$point_sp;
					&:after{content:'';display:block;position:absolute;right:0;top:50%;width:5px;height:10px;margin-top:-5px;background:url($imgUrl+'gds/ico_gds.png') no-repeat -94px 0;}
				}
			}
			.cpAd{display:inline-block;position:relative;height:24px;padding:0 10px 0 28px;margin:-9px 0 0 4px;border:#ccc 1px solid;font-size:13px;line-height:22px;box-sizing:border-box;
				em{color:$point_sp;}
				&:after{content:'';display:block;position:absolute;left:11px;top:50%;width:12px;height:9px;margin-top:-4px;background:url($imgUrl+'gds/ico_gds.png') no-repeat -88px -12px;}
			}
			+ .sale_price{margin-top:0 !important;border-top:none !important;}
		}
		.goods_select li .goods_sel_pr strong{font-size:14px;font-weight:700;font-family:'Montserrat';}
		.goods_pr .goods_pr02 strong{font-size:28px;font-weight:700;font-family:'Montserrat';}
	}
}
.dt_ve_wideview{
	.dt_ve_ct_img{height:800px;}
}
.dt_ve_thumnail{
	.dt_tn_list{height:110px;margin:0 27px;
		li{width:84px;height:110px;margin-left:6px;
			img{width:80px;height:106px;}
		}

	}
	.dt_tn_next, .dt_tn_prev{height:108px;}
}
.list_chip li .chip{width:20px;height:20px;border-radius:0;
	img{width:20px;height:20px;border-radius:0;border:none;}
}
.snsDp{overflow:hidden;
	li{float:left;
		a{display:block;float:left;width:28px;height:28px;background:url($imgUrl+'common/ico_common.png') no-repeat -82px -120px;
			&.fb{background-position:-82px -120px;}
			&.ka{background-position:-110px -120px;}
			&.bl{background-position:-138px -120px;}
			&.ur{background-position:-166px -120px;}
		}
		+ li{margin-left:9px;}
	}
}
.layer_msg01{color:$point_sp;}
.btn04.c01.ico_arrow08 span{font-weight:400 !important;}
.ordlist .no_data_txt{padding:160px 0;}
.new_cpn{position:relative;display:block;padding:10px 0 0 28px;width:142px;height:75px;background:url("../../../images/pcweb/sp_pcweb/common/bg_cpn.png") 0 0 no-repeat;text-align:center;}
.tx_price{font-family:'Montserrat' !important;letter-spacing:0 !important;}
.goods_wrap, .quick_view{
	.lyr_select .lyr_options .options li .ancor .opt_name .lnk{display:block;height:20px;padding:0 8px;margin-top:6px;border:#ccc 1px solid;color:#191919;font-size:12px;line-height:18px;letter-spacing:-0.4px;box-sizing:border-box;}
}
