@charset "utf-8";
/* PIONNET Web Standardization Team (//www.pionnet.co.kr/) 20200812 */

@import "base";

#content{width:100%;padding-top:0;}
.etcIdc, .etcPcs{overflow:hidden;position:relative;width:100%;height:900px;}
.etcIdc > div, .etcPcs > div{position:relative;width:1080px;height:900px;margin:0 auto;box-sizing:border-box;}
.etcIdc h2, .etcPcs h2{display:block;color:#fff;}

.etcIdc{background:#000;
	&:after{content:'';display:block;width:100%;height:100%;background:url($imgUrl+'etc/bg_idc.jpg') no-repeat center center;opacity:0;transform:scale(1.5);transition:all 2s;transition-delay:1.6s;transition-timing-function:ease-out;}
	> div{position:absolute;left:50%;top:0;z-index:2;padding:127px 10px 0;margin-left:-540px;}
	h2{
		strong{display:block;line-height:100px;
			i{display:inline-block;font-weight:700;vertical-align:top;opacity:0;transform:translate3d(0, 20px, 0);transition:all 0.2s;transition-timing-function:ease-in;}
		}
		.kr{font-size:87px;}
		.en{margin-top:10px;font-size:110px;font-family:'Montserrat';}
	}
	.sub{margin-top:30px;color:#fff;font-size:22px;line-height:32px;opacity:0;transform:translate3d(0, 50px, 0);transition:all 0.8s;transition-delay:3.3s;transition-timing-function:ease-out;}
	.mtb{display:flex;justify-content:space-between;overflow:hidden;margin-top:70px;padding-bottom:50px;
		li{width:320px;height:205px;padding-top:42px;;border-top:rgba(255,255,255,0.4) 1px solid;border-bottom:rgba(255,255,255,0.5) 1px solid;color:#fff;text-align:center;box-sizing:border-box;opacity:0;transform:translate3d(0, 50px, 0);transition:all 0.8s;transition-timing-function:ease-out;}
		strong{display:block;font-size:34px;line-height:40px;}
		span{display:block;margin-top:15px;font-size:22px;line-height:24px;}
	}
	&.on{
		&:after{opacity:1;transform:scale(1);}
		& h2 b, .sub{opacity:1;transform:translate3d(0, 0, 0);}
	}
}
.etcPcs{background:#303030;
	> div{padding:287px 23px 0 87px;}
	h2{
		strong{display:block;font-size:40px;line-height:60px;opacity:0;transform:translate3d(0, 30px, 0);transition:all 0.5s;transition-timing-function:ease-out;}
		span{display:block;margin-top:10px;
			i{display:inline-block;font-size:22px;line-height:29px;vertical-align:top;opacity:0;transform:translate3d(0, 10px, 0);transition:all 0.2s;transition-timing-function:ease-in;}
		}
	}
	.tx{margin-top:62px;color:#999;font-size:15px;line-height:24px;opacity:0;transform:translate3d(0, 50px, 0);transition:all 0.8s;transition-delay:4s;transition-timing-function:ease-out;}
	.mail{overflow:hidden;margin-top:30px;color:#fff;font-weight:700;font-size:14px;line-height:20px;opacity:0;transform:translate3d(0, 20px, 0);transition:all 0.8s;transition-delay:4.4s;transition-timing-function:ease-out;
		a{display:inline-block;margin-left:8px;color:#fff;font-weight:400;vertical-align:top;text-decoration:underline;}
	}
	.lst{position:absolute;top:210px;right:23px;
		li{float:left;position:relative;width:251px;height:251px;border-radius:100%;background:#fff;text-align:center;transform:scale(0);opacity:0;transition:all 0.6s;transition-timing-function:ease-in-out;
			&:nth-child(2){margin-left:-42px;}
			&:nth-child(3){clear:both;float:left;margin-top:-12px;}
			&:nth-child(4){margin:-12px 0 0 -42px;}
			span{display:block;position:absolute;top:50%;left:0;width:100%;transform:translateY(-50%) scale(0);opacity:0;transition:all 0.35s;transition-delay:0.7s;transition-timing-function:ease-in-out;
				em{display:block;margin-top:14px;font-size:15px;line-height:22px;}
			}
			&.on span{opacity:1;transform:translateY(-50%) scale(1);}
		}
	}
	&.on h2 strong, &.on .tx, &.on .mail{opacity:1;transform:translate3d(0, 0, 0);}
}
