@charset "utf-8";
/* PIONNET Web Standardization Team (//www.pionnet.co.kr/) 20200812 */

@import "base";

/* main_top */
.mypage_wrap{margin-top:-14px;}
.mypage_top{padding-left:0;}
.set_my_info{background:$bg_sp;
	.dv01{width:576px;}
	.dv03{width:192px;}
	.dv04{width:192px;}
	.dv05{width:180px;}
	.ico_tooltip{width:20px;height:20px;margin-left:6px;background:url($imgUrl+'mys/ico_mys.png') no-repeat -308px -24px;vertical-align:middle;}
	.sum_point{width:192px;margin:0;
		dl dt.rep:after{display:none;}
	}
	.smi{height:180px;border:none !important;text-align:left;
		> dl{padding-top:24px;
			*{color:#fff !important;}
			dt a{color:#777 !important;font-size:13px;line-height:20px;}
			dd a{display:inline-block;position:relative;padding-right:18px;margin-top:4px;font-size:24px;line-height:32px;font-family:'Montserrat';
				&:after{content:'';display:block;position:absolute;right:0;top:8px;width:16px;height:16px;background:url($imgUrl+'mys/ico_mys.png') no-repeat -270px -38px;}
			}
		}
	}
}
.box_info_grade{width:576px;height:auto;padding-left:70px;box-sizing:border-box;
	.r_scont{padding:0;
		.grd_info{color:#fff;font-size:20px;line-height:45px;
			.usr_name{color:#fff;font-weight:700;font-size:30px;line-height:45px;}
			.usr_grd{color:#fff !important;}
			.ico_tooltip{vertical-align:-11px;}
		}
		> .arr_btn{float:left;position:relative;padding-right:20px;margin-top:7px;color:#777;font-size:13px;line-height:20px;
			&:after{content:'';display:block;position:absolute;right:0;top:2px;width:16px;height:16px;background:url($imgUrl+'mys/ico_mys.png') no-repeat -32px -54px;}
			&:hover{color:#aaa;}
			& + .arr_btn{margin:7px 0 0 20px;}
		}
	}
}

/* mypage_cont */
.mypage_cont{margin-top:30px;}
.my_l_cont{
	> h2{display:block;padding:0 0 21px 22px;font-weight:800;font-size:24px;font-family:'Montserrat';}
	.kaCh{width:100%;height:80px;margin-top:-1px;border:1px solid #ddd;box-sizing:border-box;text-align:center;
		a{display:block;width:100%;height:100%;
			span{display:inline-block;position:relative;top:50%;padding-left:36px;font-weight:700;font-size:15px;line-height:32px;transform:translateY(-50%);
				&:after{content:'';display:block;position:absolute;left:0;top:0;width:32px;height:32px;background:url($imgUrl+'mys/ico_mys.png') no-repeat 0 -54px;}
			}
		}
	}
}
.lnb_mypage .depth2 li a{color:#666;}
.btn_customer_center{margin:-1px 0 0;border:1px solid #ddd;
	a{display:block;padding:34px 0;}
	.cc_top{height:auto;padding:0;background:none;
		strong{color:$txt_sp;font-size:15px;line-height:22px;}
	}
	.cc_cont{border:none;padding:0;
		.tel{position:relative;margin-top:22px;padding-top:37px;font-size:28px;line-height:40px;font-family:'Montserrat';
			&:after{content:'';display:block;position:absolute;left:50%;top:0;width:38px;height:38px;margin-left:-19px;background:url($imgUrl+'mys/ico_mys.png') no-repeat -270px 0;}
		}
		.txt{margin-top:0;color:#333;font-size:13px;line-height:17px;}
	}
}
.box_order_state{height:120px;padding:27px 0 38px;border-color:#ddd;
	.list_order_state{
		.txt01{position:relative;padding-top:66px;color:#333;font-weight:400;font-size:12px;line-height:18px;
			&:after{content:'';display:block;position:absolute;left:50%;top:0;width:54px;height:54px;margin-left:-27px;background:url($imgUrl+'mys/ico_mys.png') no-repeat 0 0;}
			&.n1{ &:after{background-position:0 0;} }
			&.n2{ &:after{background-position:-54px 0;} } 
			&.n3{ &:after{background-position:-108px 0;} } 
			&.n4{ &:after{background-position:-162px 0;} }
			&.n5{ &:after{background-position:-216px 0;} }
		}
		.txt02 .tx_num{margin:3px 0 0;color:#E50019 !important;font-weight:700;font-size:22px;line-height:30px;font-family:'Montserrat';}
		li{width:128px;padding-right:16px;position:relative;background:none;
			&:after{content:'';display:block;position:absolute;right:0;top:50%;width:16px;height:24px;margin-top:-12px;background:url($imgUrl+'mys/ico_mys.png') no-repeat -308px 0;}
			&:last-child:after{display:none;}
		}
	}
}
.list_order_state02{top:27px;
	li a{color:#666;}
}
.list_detail_ord .goods_imgs{
	a{border:none;}
	img{width:85px;height:auto;}
}
.tit_underline{
	.tit_info01 .txt_c05{font-weight:normal;color:#666 !important;}
	&.type03{padding-bottom:13px;border-bottom:#191919 2px solid;color:#000;font-size:20px;line-height:29px;}
}
.title .btn_more01{top:12px;}
.btn_more01 span{font-family:'Noto Sans KR';}
.goods_info .goods_txt01, 
.goods_info .goods_txt05 > strong, 
.list_thumb_txt02 .td02 strong,
.btn_txt02 span,
.btn05.c01 span strong, 
.btn05 span,
.mypage_wrap .no_data02 .no_data_txt{font-weight:400;}
.goods_info .goods_txt03{color:#666;}
.list_thumb_txt02 .cont .s_txt01{color:#333;font-weight:400;}

.ordlist .no_data_txt{display:block;height:auto;padding:80px 0;border-top:#333 2px solid;border-bottom:#E5E5E5 1px solid;color:#666;
	.linkEm{color:$point_sp;font-size:18px;
		&:hover{text-decoration:underline;}
	}
}
.txt_msg01{color:#666;
	.btn05.d_tooltip{width:123px;}
	> .txt_c07{color:#333;font-weight:400;}
	> .tx_price{color:#333;}
}
.my_r_cont{
	.board02.mtm1{margin-top:-2px !important;}
	.right > .ico_arrow04 span{margin:0;background:none;font-weight:400;}
}
.box_period01{
	.btn_inquiry .btn03.c01 span{font-weight:400;}
	.scont .stit{font-weight:400;}
}
.rvTbl{
	.top{overflow:hidden;padding-bottom:10px;
		.btn04 span{font-weight:400;}
	}
	tbody td{color:#666;
		a{display:block;overflow:hidden;color:#666;@include ellip_sp}
	}
	.evtWin{display:block;margin:-12px 0;
		em{display:inline-block;color:$point_sp;font-size:13px;line-height:28px;}
		.btn04.c01{display:inline-block;margin-left:10px;
			span{font-weight:400;}
		}
		> span{display:block;margin-top:-4px;}
		> strong{display:inline-block;width:76px;margin-left:10px;border:#ddd 1px solid;background:#ddd;color:#fff;font-weight:400;line-height:28px;text-align:center;}
	}
}
.board01{
	thead th{border-top:#333 2px solid;border-bottom:#ddd 1px solid;background:none;color:$txt_sp;font-weight:400;}
	tbody th{height:20px;padding:17px 5px;border-bottom:1px solid #ddd;}
	.ordlist .no_data_txt{border:none;}
}
.board02{
	thead th{border-top:#191919 2px solid;background:none;font-weight:400;}
	.list_h_dot01 strong{font-weight:400;}
	.list_h_dot01 .btn_txt01.c04 span{border:none;font-weight:400;text-decoration:none;}
}
.cp_group_my{background:url($imgUrl+'mys/bg_cp_group.png') no-repeat;}
.set_grade_select02 .attr_grade>li a.on{font-weight:400 !important;}
.bg_order_step{background:url($imgUrl+'mys/bg_order_step.jpg') no-repeat;}
.set_grade_select li a{background-image:url($imgUrl+'gds/bg_round00.png');
	&.on{background-position:0 -28px;}
}
.set_grade_select li a.on .set_grade03 span{background-image:url($imgUrl+'gds/bg_sp_grade0.png');}
.set_grade03{height:15px;background:url($imgUrl+'gds/bg_sp_grade0_gy.png') 0 -15px no-repeat !important;}
.rnd_anc a{background:none;border:#ccc 1px solid;border-radius:28px;
	&.on{border-color:#191919;background:#191919;}
	&:after{display:none;}
}
.tbl_anc li a.on{border-color:#191919;background:#191919;}
.set_grade02, .set_grade02 span{height:15px;background-image:url($imgUrl+'gds/bg_sp_grade0.png');}
.set_grade_new, .set_grade_new span{width:195px;height:36px;background-image:url($imgUrl+'gds/bg_sp_grade1.png');}
.set_grade_new{background-position:0 -36px;}
.tx_price, .board02 .tx_price, .tx_num, .board02 .tx_num{font-family:'Montserrat' !important;letter-spacing:0 !important;}
