@charset "utf-8";
/* PIONNET Web Standardization Team (//www.pionnet.co.kr/) 20200812 */

@import "base";

.steparea{padding-left:0;
	ul li{border-radius:90px;background:#ccc;font-weight:400;
		span{font-weight:700;font-family:'Montserrat';}
	}
	&.step_01_on ul li.step_01, &.step_02_on ul li.step_02, &.step_03_on ul li.step_03{background:$point_sp2;color:$txt_sp;}
	.steparea_title{height:50px !important;padding:0 0 0 63px !important;line-height:50px;}
	&.step_01_on .steparea_title{background-image:url($imgUrl+'odr/ico_odrTop0.png');}
	&.step_02_on .steparea_title{background-image:url($imgUrl+'odr/ico_odrTop1.png');}
	&.step_03_on .steparea_title{background-image:url($imgUrl+'odr/ico_odrTop2.png');}
}

.tab_type02 > ul li.on a, 
.tab_type02 > ul li.on span,
.table_title strong,
.board02 thead th,
.board02 .set_vbtn .btn05 strong,
.board02 .goods_info .goods_txt01,
.board02 .btn_txt02 span,
.board02 .count_button_change,
.btn06 span,
.btn04 span,
.btn03 span,
.btn02 span,
.btn_txt01 span,
.round01 > span,
.txt_c02,
.order_opt .order_opt_tit,
.order_opt .order_opt_goods,
.opt_box.type02 strong.opt_box_title,
.terms_chk_box label strong{font-weight:400;}

.board02 .goods_info .goods_txt_alert, 
.board02 .goods_info .goods_txt_alert2, 
.board02 .goods_info .goofs_txt_etc, 
.tip_info .tip_txt strong,
.total_wrap.c03 .total_area li:last-child,
.total_wrap.c03 .total_area li:last-child .total_price,
.total_wrap.c03 .total_area li:last-child .total_price strong,
.fin_price_st,
.fin_price_st strong{color:$point_sp;}
.total_wrap.c03 .total_area li{line-height:23px;}
.board02 .btn_txt03 span{border-color:$point_sp;color:$point_sp;}
.txt_c01{color:$point_sp !important;}

.btn06.c02{border-color:$point_sp2;background:$point_sp2;
	span{color:$txt_sp;}
}

.board02.card01 thead th, .board02.card02 thead th, .data_table01{border-top:#494949 2px solid;}
.btn_etc03{border-color:$point_sp;background-image:url($imgUrl+'odr/ico_doublecoupon.png');color:$point_sp;}
.d_order_fixed.fixed{top:81px !important;}
.order_right_wrap.over_foot{top:auto !important;}
.type_img span img{vertical-align:text-bottom;}

.goods_imgs{width:90px;height:120px;border:none;}

//font Montserrat
.board02, .data_table01{
	.tx_price{font-family:'Montserrat' !important;letter-spacing:0;}
	.tx_price02, .tx_num{font-weight:500;font-size:14px;font-family:'Montserrat' !important;letter-spacing:0;}
	strong.tx_price, strong.tx_num{font-weight:700;font-size:14px;}
	.count_input{font-family:'Montserrat';}
}
.total_area li .total_price strong{font-weight:700;font-family:'Montserrat' !important;letter-spacing:0;}
.fin_price_st strong em{font-weight:700;font-size:28px;font-family:'Montserrat' !important;letter-spacing:0;}
